<div class="" [style.background]="'White'">
  <div class="modal-dialog py-4" [style.border]="'blank'">
    <div class="modal-content">
      <div class="about-popup">
        <!-- <button type="button" class="btn-close" aria-label="Close" [routerLink]="'/donations#donations-circle'"></button> -->
        <button type="button" class="btn-close" aria-label="Close" (click)="close()"></button>
        <div class="row">
          <div class="about-popup-content p-5">

            <form [formGroup]="indiandonationForm">
              <div class="form-group row">
                <label for="name" class="col-sm-2 col-form-label">Name </label>
                <div class="col-sm-10">
                  <input type="text" (change)="inputChange()" formControlName="name" class="form-control" id="name"
                    placeholder="Name">
                  <div class="error-message text-danger ml-5"
                    *ngIf="indiandonationForm.controls['name'].invalid && ( indiandonationForm.controls['name'].touched)">
                    <mat-error [hidden]=" !indiandonationForm.get('name')?.hasError('required')  ">
                      Name is mandatory
                    </mat-error>
                  </div>
                </div>
              </div>

              <div class="form-group row">
                <label for="staticEmail" class="col-sm-2 col-form-label">Address </label>
                <div class="col-sm-10">
                  <input type="text" (change)="inputChange()" formControlName="address" class="form-control"
                    id="staticEmail" placeholder="Address">
                  <div class="error-message text-danger ml-5"
                    *ngIf="indiandonationForm.controls['address'].invalid && ( indiandonationForm.controls['address'].touched)">
                    <mat-error [hidden]=" !indiandonationForm.get('address')?.hasError('required')  ">
                      Address is mandatory
                    </mat-error>
                  </div>
                </div>
              </div>

              <div class="form-group row">
                <label for="states" class="col-sm-2 col-form-label text-right"> State </label>
                <div class="col-sm-10">
                  <select name="states" (change)="inputChange()" formControlName="states" id="states"
                    class="form-control">
                    <option [value]="null" disabled selected>Select state</option>
                    <option [value]="state.statesId" *ngFor="let state of statesList" placeholder="Select State">
                      {{state.statesName}}
                    </option>
                  </select>
                  <div class="error-message text-danger ml-5"
                    *ngIf="indiandonationForm.controls['states'].invalid && ( indiandonationForm.controls['states'].touched)">
                    <mat-error [hidden]=" !indiandonationForm.get('states')?.hasError('required')  ">
                      State is mandatory
                    </mat-error>
                  </div>
                </div>
              </div>

              <div class="form-group row">
                <label for="staticEmail" class="col-sm-2 col-form-label">Email </label>
                <div class="col-sm-10">
                  <input type="text" (change)="inputChange()" formControlName="emailId" class="form-control"
                    id="staticEmail" placeholder="Email Id">
                  <div class="error-message text-danger ml-5"
                    *ngIf="indiandonationForm.controls['emailId'].invalid && ( indiandonationForm.controls['emailId'].touched)">
                    <mat-error [hidden]=" !indiandonationForm.get('emailId')?.hasError('required')  ">
                      Email is mandatory
                    </mat-error>
                    <mat-error [hidden]=" !indiandonationForm.get('emailId')?.hasError('email')  ">
                      Invalid Email
                    </mat-error>
                  </div>
                </div>
              </div>

              <div class="form-group row">
                <label for="inputPassword" class="col-sm-2 col-form-label">Contact No</label>
                <div class="col-sm-6">
                  <input type="text" (change)="inputChange()" formControlName="contactNo" class="form-control"
                    id="inputPassword" placeholder="Contact No." maxlength="10" appAmount>
                  <div class="error-message text-danger ml-5"
                    *ngIf="indiandonationForm.controls['contactNo'].invalid && ( indiandonationForm.controls['contactNo'].touched)">
                    <mat-error [hidden]=" !indiandonationForm.get('contactNo')?.hasError('required')  ">
                      Mobile number is mandatory
                    </mat-error>
                    <mat-error [hidden]=" !indiandonationForm.get('contactNo')?.hasError('pattern')  ">
                      Invalid mobile number
                    </mat-error>
                  </div>
                </div>
              </div>

              <!-- <div class="col-11 float-right">
                <div class="form-group row">
                  <label for="inputPassword float-right" class="col-sm-5 col-form-label"> Are you an Indian
                    citizen?</label>
                  <div class="col-sm-6">
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" formControlName="areYouIndian" type="radio" name="areYouIndian"
                        id="inlineRadio1" value="Y">
                      <label class="form-check-label" for="inlineRadio1">Yes</label>
                    </div> &nbsp; &nbsp; &nbsp;
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" formControlName="areYouIndian" type="radio" name="areYouIndian"
                        id="inlineRadio2" value="N">
                      <label class="form-check-label" for="inlineRadio2">No</label>
                    </div>
                    <div class="error-message text-danger ml-5"
                      *ngIf="indiandonationForm.controls['areYouIndian'].invalid && ( indiandonationForm.controls['areYouIndian'].touched)">
                      <mat-error [hidden]=" !indiandonationForm.get('areYouIndian')?.hasError('required')  ">
                        Field is mandatory
                      </mat-error>
                    </div>
                  </div>
                </div>
              </div> -->
              <div class="clearfix"></div>

              <!-- <div class="col-11 float-right"> -->
              <div class="form-group row">
                <label for="inputPassword float-right" class="col-sm-5 col-form-label">
                  Do you want 80G tax benefits?
                </label>
                <div class="col-sm-6">
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" (change)="inputChange()" formControlName="want80gBenefits"
                      type="radio" name="want80gBenefits" id="inlineRadio1" value="Y">
                    <label class="form-check-label" for="inlineRadio1">Yes</label>
                  </div> &nbsp; &nbsp; &nbsp;
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" formControlName="want80gBenefits"
                      name="want80gBenefits" id="inlineRadio2" value="N">
                    <label class="form-check-label" for="inlineRadio2">No</label>
                  </div>

                  <div class="error-message text-danger ml-5"
                    *ngIf="indiandonationForm.controls['want80gBenefits'].invalid && ( indiandonationForm.controls['want80gBenefits'].touched)">
                    <mat-error [hidden]=" !indiandonationForm.get('want80gBenefits')?.hasError('required')  ">
                      Field is mandatory
                    </mat-error>
                  </div>
                </div>
              </div>
              <!-- </div> -->
              <div class="clearfix"></div>

              <div class="form-group row">
                <label for="panNumber" class="col-sm-3 col-form-label text-right">PAN
                  Number</label>
                <div class="col-sm-6">
                  <input type="text" (change)="inputChange()" formControlName="panNumber" class="form-control"
                    id="panNumber" placeholder="Pan">
                </div>
              </div>

              <span style="margin: 250px;">OR</span>

              <div class="form-group row">
                <label for="adhaarNumber" class="col-sm-3 col-form-label text-right">
                  Aadhaar Number
                </label>
                <div class="col-sm-6">
                  <input type="text" (change)="inputChange()" formControlName="adhaarNumber" class="form-control"
                    id="adhaarNumber" placeholder="Aadhaar" aadhaarNumber>
                  <div class="error-message text-danger ml-5"
                    *ngIf="indiandonationForm.controls['adhaarNumber'].touched && indiandonationForm.controls['panNumber'].touched">
                    <mat-error
                      [hidden]="!(indiandonationForm.value.adhaarNumber == null || indiandonationForm.value.adhaarNumber == '') || !(indiandonationForm.value.panNumber == null || indiandonationForm.value.panNumber == '')">
                      Aadhaar number or PAN number an one is mandatory
                    </mat-error>
                    <mat-error [hidden]="indiandonationForm.controls['adhaarNumber'].errors == null">
                      Invalid Aadhaar number.
                    </mat-error>
                  </div>
                  <!-- <div class="error-message text-danger ml-5"
                    *ngIf="(indiandonationForm.controls['adhaarNumber'].invalid && ( indiandonationForm.controls['adhaarNumber'].touched)) && (indiandonationForm.controls['panNumber'].invalid && ( indiandonationForm.controls['panNumber'].touched))">
                    <mat-error
                      [hidden]=" (!indiandonationForm.get('adhaarNumber')?.hasError('required')) || !indiandonationForm.get('panNumber')?.hasError('required')  ">
                      Aadhaar number or PAN number an one is mandatory
                    </mat-error>
                    <mat-error [hidden]="indiandonationForm.get('adhaarNumber')?.hasError('minLength')">
                      Invalid Aadhaar number.
                    </mat-error>
                  </div> -->
                </div>
              </div>

              <div class="form-group row">
                <label for="donationType" class="col-sm-2 col-form-label text-right"> Donation Type </label>
                <div class="col-sm-10">
                  <select name="donationType" (change)="inputChange()" formControlName="donationTypeId"
                    id="donationType" class="form-control" (change)="changeDonationType()">
                    <option [value]="null" disabled selected>Select donation</option>
                    <option [value]="donationType.typeId" *ngFor="let donationType of donationList">
                      {{donationType.typeName}}
                    </option>
                  </select>
                  <div class="error-message text-danger ml-5"
                    *ngIf="indiandonationForm.controls['donationTypeId'].invalid && ( indiandonationForm.controls['donationTypeId'].touched)">
                    <mat-error [hidden]=" !indiandonationForm.get('donationTypeId')?.hasError('required')  ">
                      Donation type is mandatory
                    </mat-error>
                  </div>
                </div>
              </div>

              <div class="form-group row">
                <label for="amountId" class="col-sm-2 col-form-label text-right"> Amount </label>
                <div class="col-sm-10">
                  <input type="text" (change)="inputChange()" formControlName="amount" class="form-control"
                    id="amountId" placeholder="Amount in Rupess" appAmount>
                  <div class="error-message text-danger ml-5"
                    *ngIf="indiandonationForm.controls['amount'].invalid && ( indiandonationForm.controls['amount'].touched)">
                    <mat-error [hidden]=" !indiandonationForm.get('amount')?.hasError('required')  ">
                      Amount is mandatory
                    </mat-error>
                    <mat-error [hidden]=" !indiandonationForm.get('amount')?.hasError('min')  ">
                      Please note that , the recommended minimum amount is Rs.{{minAmount | number}}/-
                    </mat-error>
                  </div>
                </div>
              </div>

              <div class="form-group row">
                <label for="message" class="col-sm-2 col-form-label text-right"> Message </label>
                <div class="col-sm-10">
                  <input type="text" (change)="inputChange()" formControlName="message" class="form-control"
                    id="message" placeholder="Message">
                  <div class="error-message text-danger ml-5"
                    *ngIf="indiandonationForm.controls['message'].invalid && ( indiandonationForm.controls['message'].touched)">
                    <mat-error [hidden]=" !indiandonationForm.get('message')?.hasError('required')  ">
                      Message is mandatory
                    </mat-error>
                  </div>
                </div>
              </div>

              <div class="form-group row pt-2">
                <div class="col-sm-12">
                  <div class="error-message text-danger" *ngIf="indianPaymentErrorMessage">
                    {{indianPaymentErrorMessage}}
                  </div>
                  <div class="error-message text-success" *ngIf="indianPaymentSuccessMessage">
                    {{indianPaymentSuccessMessage}}
                  </div>
                  <div class="btn btn-secondary rounded-pill btn-sm btn-knowmore" (click)="makeIndianPayment()">
                    Proceed for Payment
                  </div>
                </div>
              </div>

            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>