<body class="gallery-bg" style="overflow-x: hidden;">


  <!-- ======= Header ======= -->
  
  <header id="header">
    <div class="lotus-top animate__animated animate__backInRight animate__delay-1s">
      <img src="assets/img/lotus-top.png" alt="" class="img-fluid flower-top"/>
    </div>
     <div class="butter-fly animate__animated animate__fadeInTopLeft animate__delay-2s">
      <img src="assets/img/Dragonfly-gif.gif" alt="" class="img-fluid dragon-fly" />
    </div>
    <div class="container d-flex align-items-center justify-content-between">

      <div class="menu-line animate__animated animate__fadeInTopLeft animate__delay-2s" routerLink="/"> 
        <img src="assets/img/menu-line.png" alt="" width="60%" />
      </div>
      
      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto" routerLink="/aboutUs"> <i class="fa fa-caret-right" ></i> About Us</a></li>
          <li><a class="nav-link scrollto" routerLink="/upComingCourses"> <i class="fa fa-caret-right" ></i> Upcoming Course</a></li>
          <li><a class="nav-link scrollto " routerLink="/faqs"> <i class="fa fa-caret-right" ></i> FAQ's</a></li>
          <li><a class="nav-link scrollto" routerLink="/offerings"> <i class="fa fa-caret-right" ></i> Our Offerings</a></li>
          <li><a class="nav-link scrollto" routerLink="/donations"> <i class="fa fa-caret-right" ></i> Donate</a></li>
          <li><a class="nav-link scrollto" routerLink="/vedic-neutraceuticles">  <i class="fa fa-caret-right" ></i> Vedic Nutraceuticals</a></li>
          <li><a class="nav-link scrollto active" routerLink="/gallery">  <i class="fa fa-caret-right" ></i> Gallery</a></li>
         
        </ul>
        <a routerLink="/"  style="padding: 0px;"> <img src="assets/img/ty-icon-reverse.png" alt="" width="30" /> &nbsp; &nbsp; </a>
        <i class="text-ty animate__animated animate__bounceInDown animate__delay-1s bi bi-list mobile-nav-toggle"> 
          &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp;  </i> 
        <div class="text-ty menu-name animate__animated animate__bounceInDown animate__delay-1s">
        <span class="text-ty"> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Gallery </span>
        </div>
      </nav><!-- .navbar -->

    </div>
    <div class="clearfix "></div>


  </header><!-- End Header -->

  <section id="gallerylogo-section" class="gallery-mountains gallery-padding">
    <div class="offerlogin-box">
    <div class="login-icon text-center animate__animated animate__backInRight animate__delay-2s" ><a href="http://15.207.166.2:8080/ty/#/login">
      <img src="assets/img/login-icon-vedic.png" alt="" class="img-fluid  animate__animated animate__backInRight animate__delay-2s" />
      <span class="text-ty font-weight-bold "> Login </span> </a>
      
    </div> 
  </div>
  
  <div class="galleryline login-line animate__animated animate__backInRight animate__delay-2s">
    <img src="assets/img/login-curve.png" alt="" width="90%" />
  </div>
    
    <div class=" text-center pt-1">
         <h1> Gallery </h1>
    </div>
    
     </section>

  <!-- ======= Hero Section ======= -->
  <section id="vedic-hero" class="pb-0">

    <div class="">
      <div class="row d-flex align-items-center" style="opacity: 40%;">
        <img src="assets/img/gallery-bg.png" alt="" class="img-fluid" />
    </div>
  
    </div>

  </section>

  <main id="main">
    <div class="">
    <section id="gallerypg-sec1" class="gallerypg-sec1">
      <div class="container-padding">
        <div class="row">
          <div class="gallery-pg-sec1">
            <h4><span id="gallerytitle1-desc" class="float-left desktop-view galleryheading">Old Monastery Session 2022</span></h4>
            <h4><span id="gallerytitle1-mob" class="float-left mobile-view galleryheading">Old Monastery<br>Session 2022</span></h4>

              <div class="gallerp-pg-sec1-hding">
                <div class="galleryleftarrow">
                  <a> <img src="assets/img/owl-arow1.png" alt="" *ngIf="siLastIndex>1" (click)="prevImagesAPI()" ></a>
                </div>
                <div class="galleryrightarrow">
                  <a> <img src="assets/img/owl-arow.png"  alt="" *ngIf="nextEnabled1" (click)="nextImagesAPI()" ></a>
                </div>                  
              </div>
              <div id="sync1" class="slider0 owl-carousel col-md-12">               
                
                <div class="galry-itm row">
                  <div class="glary-img-main col-md-8 ">
                    <div class="video-icon">
                      <img id="gallery10" (click)="openSamplePopup($event, mymodal)" alt="no-image" data-main-src="" data-flag="" class=" w-100" src="assets/img/gallery-no-img.png">
                    </div>
                  </div>
                  
                  <div class="glary-img col-md-4 ">
                    <div class="video-icon">
                      <img id="gallery11" (click)="openSamplePopup($event, mymodal)" alt="no-image" data-main-src="" data-flag="" class="w-100" src="assets/img/gallery-no-img.png">
                    </div>
                  </div>

                  <div class="glary-img1 col-md-4 ">
                    <div class="video-icon">
                      <img id="gallery12" (click)="openSamplePopup($event, mymodal)" alt="no-image" data-main-src="" data-flag="" class="w-100" src="assets/img/gallery-no-img.png">
                    </div>
                  </div>

                  <div class="glary-img1 col-md-4">
                    <div class="video-icon">
                      <img id="gallery13" (click)="openSamplePopup($event, mymodal)" alt="no-image" data-main-src="" data-flag="" class="w-100" src="assets/img/gallery-no-img.png">
                    </div>
                  </div>

                  <div class="glary-img1 col-md-4 ">
                    <div class="video-icon">
                      <img id="gallery14" (click)="openSamplePopup($event, mymodal)" alt="no-image" data-main-src="" data-flag="" class="w-100" src="assets/img/gallery-no-img.png">
                    </div>
                  </div>
                  
                  
                  
                  
                 
                </div>

              </div>
          </div>
          <div>             
          </div>
          <div class="gallery-flower text-center">
            <img src="assets/img/river-flower.png" alt="flower" width="180" 
            class="img-fluid" />
            </div>
          <br/>

          <div class="clearfix"> </div>

          <div class="gallery-pg-sec2 glary-sec-2">

            <h4><span id="gallerytitle2-desc" class="float-left desktop-view galleryheading">Old Monastery Session 2022</span></h4>
            <h4><span id="gallerytitle2-mob" class="float-left mobile-view galleryheading">Old Monastery<br>Session 2022</span></h4>

            <div class="gallerp-pg-sec2-hding">
              <div class="galleryleftarrow2">
                <a> <img src="assets/img/owl-arow1.png" alt="" *ngIf="siLastIndex2>1"  (click)="prevImagesSecAPI2()"></a>
              </div>
              <div class="galleryrightarrow2">
                <a> <img src="assets/img/owl-arow.png" alt="" *ngIf="nextEnabled2"  (click)="nextImagesSecAPI2() "></a>
              </div> 
            </div>   
            <div id="sync2" class="navigation-thumbs owl-carousel">
              <div class="row">
                <div class="glary-s2-img3 col-md-3 ">
                  <div class="video-icon">
                    <img id="gallery20" (click)="openSamplePopup($event, mymodal)" alt="no-image" data-main-src="" data-flag="" class="w-100" src="assets/img/gallery-no-img.png">
                  </div>
                </div>
                
                <div class="glary-s2-img4 col-md-3 ">
                  <div class="video-icon">
                    <img id="gallery21" (click)="openSamplePopup($event, mymodal)" alt="no-image" data-main-src="" data-flag="" class="w-100" src="assets/img/gallery-no-img.png">
                  </div>
                </div>
               
                
              </div>
              <div class="galry-itm row">
                <div class="glary-s2-img5 col-md-3">
                  <div class="video-icon">
                    <img id="gallery22" (click)="openSamplePopup($event, mymodal)" alt="no-image" data-main-src="" data-flag="" class="w-100" src="assets/img/gallery-no-img.png">
                  </div>
                </div>

                <div class="glary-img-main1 col-md-6">
                  <div class="video-icon">
                    <img id="gallery23" (click)="openSamplePopup($event, mymodal)" alt="no-image" data-main-src="" data-flag="" class="w-100" src="assets/img/gallery-no-img.png" style="position: absolute">
                  </div>
                </div>
                
               
              </div>
            </div>
          </div>
          <div>              
          </div>
          <br/>
          <div class="gallery-pg-sec31">
            <div class="col-md-4">
              <div class="gallerybird">
                <div class="courses-booking-butter-fly  animate__animated animate__fadeInTopLeft animate__delay-3s">
                  <img src="assets/img/Dragonfly-gif.gif" alt="" class="img-fluid dragon-fly" />
                </div>

                <div class="courses-flower">
                  <img src="assets/img/about-right-content-flower.png" alt="" class="img-fluid"/>
                </div>
                
              </div>
            </div>
            <div class="col-md-4"> 
              <div class="galry-circlemin" >                
                <div class="gallery-circle" style="margin-top: -22px;">
                  <p class="text-white">The traditions in the Himalayas
                    survived for time immemorial
                    because of the strictness of the gurus
                    and unquestionable surrender of the
                    Students. Himalayas are not meant
                    for betrayers of Yoga and spirituality.
                    It is meant for the surrendered. Every
                    Tibetan can give their life for their
                    Lama with a smile. </p>
                  <h6 style="color: white; font-size: 14px;">-Dr. A L V Kumar</h6>
                </div>
              </div>
            </div>
        </div>
        <div></div>
        <br/>
        
      <div class="gallery-pg-sec5">

        <div class="gallerp-pg-sec3-hding">
          
        <div class="galleryleftarrow3">
          <a> <img src="assets/img/owl-arow1.png" alt="" *ngIf="siLastIndex3>1" (click)="prevImagesSecAPI3()" ></a>
        </div>
        <div class="galleryrightarrow3">
          <a> <img src="assets/img/owl-arow.png" alt="" *ngIf="nextEnabled3"  (click)="nextImagesSecAPI3()" ></a>
        </div> 
        </div>
        
        
        <div id="sync3" class="navigation-thumbs owl-carousel">
          
          <div class="image-slide">

            <h4><span id="gallerytitle3-desc" class="float-left desktop-view galleryheading">Old Monastery Session 2022</span></h4>
            <h4><span id="gallerytitle3-mob" class="float-left mobile-view galleryheading">Old Monastery<br>Session 2022</span></h4>
            
            <div class="glary-img-sec5">
              <div class="video-icon">
                <img id="gallery30" (click)="openSamplePopup($event, mymodal)" alt="no-image" data-main-src="" data-flag=""  class="w-100" src="assets/img/gallery-no-img.png">
              </div>
            </div>           
           
          </div>
          <div class="galry-itm3 row">

            <div class="glary-img1-section5 col-md-2">
              <div class="video-icon">
                <img id="gallery31" (click)="openSamplePopup($event, mymodal)" alt="no-image" data-main-src="" data-flag=""  class="w-100" src="assets/img/gallery-no-img.png">
              </div>
            </div> 

            <div class="glary-img1-section5 col-md-2">
              <div class="video-icon">
                <img id="gallery32" (click)="openSamplePopup($event, mymodal)" alt="no-image" data-main-src="" data-flag=""  class="w-100" src="assets/img/gallery-no-img.png">
              </div>
            </div> 

            
           
          </div> 
        </div>
        <div class="glry-pglts river-flower text-center">
          <img src="assets/img/galarypg-lts.png" alt="flower" width="175" class="img-fluid5">
          </div>
    </div>


    <div class="pagination-section">  
      <div class="">
      <div class="row ">  
        <div class="float-right"> 
          <app-galery-pagination *ngIf="this.totalRecords>0"
          [totalRecords]="this.totalRecords" 
          [recordsPerPage]="3" 
          (onPageChange)="displayActivePage($event)"></app-galery-pagination> </div>     
      </div>  
    </div>
    </div>

        </div>
      </div>
    </section>

   


    <div class="gallery-right-lotus">
      <img src="assets/img/right-lotus.png" alt="" class="img-fluid">
    </div>
    


  </div>
  </main><!-- End #main -->
<div class="clearfix"></div> <br>
    

<ng-template #mymodal let-modal style="width: 50%;">
  <div class="modal-header">
    <h4 class="modal-title text-center" id="modal-basic-title" style="padding-left: 20px;">{{popupSampleData.imageTitle}}</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <img data-enlargable  *ngIf="popupSampleData.flag=='1'" src="{{popupSampleData.selectedImgSrc}}" alt="" class="img-fluid galleryimg img-enlargable">

    <video *ngIf="popupSampleData.flag=='2'" width="100%" id="video-thumbs" controls controlsList="nodownload" poster="">
      <source
        [src]="popupSampleData.selectedImgSrc"
        type="video/mp4" frameborder="0" canplay
        allow="accelerometer; clipboard-write; encrypted-media; gyroscope;" allowfullscreen>
    </video>
  </div>
</ng-template>


<div class="scroll-to-top" [ngClass]="{'show-scrollTop': windowScrolled}">
  <button type="button" class="back-to-top d-flex align-items-center justify-content-center active" data-toggle="button" aria-pressed="true" (click)="gotoTop()">
    <i class="bi bi-arrow-up-short"></i>
  </button>
</div>

 



