.gallery-butter-fly {
  position: relative;
  right: -300px;
  float: right;
  top: 110px;
}

section#gallerypg-sec1 {
  padding: 0 3%;
  overflow: hidden;
  margin-top: -155px;
  cursor: pointer;
}

.gallery-pg-sec1 {
  padding: 3%;
  background: #dfe2de;
  border-radius: 60px;
  margin-top: 200px;
position: relative;
z-index: +99;
}

.galleryrightarrow {
  float: right;
  margin-right: -18%;
  margin-top: 4%;
  position: absolute;
  right: -3%;
  cursor: pointer;
}

.galleryleftarrow {
  float: right;
  margin-left: 0px;
  margin-top: 4%;
  position: absolute;
  left: -10.5%;
  cursor: pointer;
}

.gallery-pg-sec5 {
  padding: 3%;
  background: #c7cdc0;
  border-radius: 60px;
  position: relative;
  top: -300px;

}

.gallery-pg-sec1 #sync1.slider0 {
  width: 100% !important;
}

.gallery-pg-sec1 {
  position: relative;
  width: 100%;
}

/* .gallerp-pg-sec1-hding {
  position: absolute;
    right: 135px;
    top: -17%;
    width: 30%;
    color:#738a92;
} */

.gallerp-pg-sec1-hding {
  position: relative;
  width: 90%;
}

.gallery-pg-sec1 #sync1.slider0.owl-carousel .owl-nav,
.gallery-pg-sec2 #sync1.slider2.owl-carousel .owl-nav,
.gallery-pg-sec4 #sync1.slider3.owl-carousel .owl-nav {
  display: block;
}

.gallery-pg-sec1 #sync1.slider0.owl-carousel .owl-nav button,
.gallery-pg-sec2 #sync1.slider2.owl-carousel .owl-nav button,
.gallery-pg-sec4 #sync1.slider3.owl-carousel .owl-nav button {
  background: url(../../../assets/img/owl-arow.png) no-repeat;
  width: 42px;
  height: 90px;
  position: absolute;
  bottom: -30px;
  left: auto;
  right: -56%;
}

.gallery-pg-sec1 #sync1.slider0.owl-carousel .owl-nav button.owl-prev,
.gallery-pg-sec2 #sync1.slider1.owl-carousel .owl-nav button.owl-prev,
.gallery-pg-sec4 #sync1.slider2.owl-carousel .owl-nav button.owl-prev {
  right: auto;
  left: -13%;
  transform: rotate(-180deg);
  cursor: pointer;
}



.glry-river {
  position: relative;
}

.glry-river {
  padding: 0 0 0 5%;
}

section#gallerypg-sec2 {}

section#gallerypg-sec2 .container-padding {
  padding-right: 0;
}

.gallery-pg-sec2 {
  background: #9fadb1;
  padding: 4% 6% 2% 4%;
  border-radius: 40px;
  width: 80%;
  margin-left: 20%;
}

.gallery-pg-sec2 #sync1.slider1.owl-carousel .owl-nav button {
  top: -60px;
}

.gallery-pg-sec2 #sync1.slider1.owl-carousel .owl-nav button {
  right: -7%;
}

.gallery-pg-sec2 #sync1.slider1.owl-carousel .owl-nav button.owl-prev {
  left: -38%;
}

.gallery-pg-sec2 .navigation-thumbs1 .galry-itm img {
  height: 300px;
}

.gallery-pg-sec2 .navigation-thumbs1.owl-carousel {
  margin-bottom: 10px;
}

.galry-circlemin {
  position: relative;
}

.galry-itm3 {
  margin-left: 10%;
}

.image-slide {
  margin-left: 50%;
  margin-top: -258px;
}

.glary-img-main5 {
  width: 740px;
  height: 540px;
  padding: 2px;
  vertical-align: bottom;
  padding-left: 30px;
  margin-top: -300px;
}

section#gallerypg-sec3 {
  position: relative;
  overflow: visible;
}

.galry-circlemin .galry-circle {
  background: #5f7983;
  border-radius: 100%;
  width: 420px;
  height: 420px;
  padding: 14% 20%;
  text-align: center;
  margin-left: -23%;
}

.galry-circlemin .galry-circle p {
  color: #fff;
  font-weight: 100;
  line-height: 1.8;
}

.galry-circlemin .galry-circle h6 {
  color: #fff;
  font-style: italic;
}


.gallery-pg-sec31 {
  margin-top: 2%;
}


.galry-circlemin img.img-fluid {
  position: initial;
  bottom: -40px;
  z-index: -1;
}


.gallery-pg-sec4 {
  position: relative;
  padding: 0px 14% 5% 14%;
}

.gallery-pg-sec4:before {
  position: absolute;
  content: "";
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 90%;
  height: 80%;
  bottom: 0;
  background: #d5dad1;
  border-radius: 30px;
}


.gallery-pg-sec4 .slider2.owl-carousel {
  width: 60%;
  float: right;
}

.gallery-pg-sec4 .navigation-thumbs2.owl-carousel {
  width: 100%;
  display: inline-block;
}

.gallery-pg-sec4 .navigation-thumbs2 .galry-itm img {
  height: 280px;
}

section#gallerypg-sec4 {
  margin-top: -30%;
  position: relative;
  z-index: -1;
}

.gallery-pg-sec4 #sync1.slider2.owl-carousel .owl-nav button {
  right: -21%;
}

.gallery-pg-sec4 #sync1.slider2.owl-carousel .owl-nav button.owl-prev {
  left: -88%;
}

.glry-pglts.river-flower {
  padding: 0;
}

.glry-pglts.river-flower {
  position: sticky;
}

.glry-pglts.river-flower img.img-fluid {
  position: absolute;
  margin-top: 312px;
  right: 50px;
}

.clearfix {
  display: block;
  float: none;
}

.desktop-view {
  display: block;
}

.mobile-view {
  display: none;
}

.glary-img {
  width: 30%;
  padding-left: 0px;
  padding-right: 25px;
  vertical-align: bottom;
}

.glary-img1 {
  width: 30%;
  padding-top: 33px;
  padding-right: 25px;
  vertical-align: bottom;
}

.glary-img1-section5 {
  width: 43%;
  padding-top: 35px;
  padding-right: 35px;
  vertical-align: bottom;
}

.glary-img-sec5 {
  width: 115%;
  padding: 2px;
  vertical-align: bottom;
  margin-left: -190px;
  padding-left: 30px;
  margin-top: 0px;
}

.glary-img-main {
  width: 60%;
  padding: 2px;
  vertical-align: bottom;
  padding-right: 30px;
  margin-top: -200px; 
}

.glary-img-main1 {
  width: 60%;
  padding-top: 35px;
  vertical-align: bottom;
}


.glary-s2-img3 {
  width: 30%;
  padding-right: 25px;
  vertical-align: bottom;
  height: 180px;
}

.glary-s2-img4 {
  width: 30%;
  padding-right: 25px;
  vertical-align: bottom;
  height: 180px;
}

.glary-s2-img5 {
  width: 30%;
  padding-right: 25px;
  padding-top: 35px;
  vertical-align: bottom;
  padding-bottom: 35px;
}

.glary-s2-img-main {
  width: 480px;
  height: 350px;
  padding: 5px;
  vertical-align: bottom;
}

.glary-sec-2 {
  /* margin-left: 295px; */
  position: relative;
  width: 100%;

}

.img-fluid5 {
  width: 100%;
  height: auto;
  margin-bottom: -41px;
  margin-left: 17px;
  margin-right: -56px;
  margin-top: -70px;
}

.gallery-flower {
  position: relative;
  left: -600;
  top: 65px;
  float: left;
}


.glary-sec-3 {
  margin-top: 500px;
}

.gallerp-pg-sec2-hding {
  /* position: absolute;
  right: 0;
  top: 40%;
  width: 30%; */
  position: relative;
  width: 90%;
}

.gallerp-pg-sec3-hding {
  position: relative;
  right: 0;
  top: 40%;
  width: 100%;
}

.gallery-pg-sec1 h4 {
  text-align: right;
  padding-right: 10%;
  position: relative;
  top: -9px;
}

.galleryleftarrow2 {
  position: absolute;
  left: -37%;
  z-index: +99;
  cursor: pointer;
}

.galleryrightarrow2 {
  position: absolute;
  right: -1%;
  z-index: +99;
  cursor: pointer;
}

.galleryleftarrow3 {
  position: absolute;
  left: -3.2%;
  z-index: +99;
  cursor: pointer;
}

.galleryrightarrow3 {
  position: absolute;
  right: -3.2%;
  z-index: +99;
  cursor: pointer;
}
.gallery-images-videos .slick-slide.slick-current{
  width: 40% !important;
}

.gallery-images-videos .glary-img-main{
  padding: 2px;
  vertical-align: bottom;
  padding-right: 30px;
  width: 100%;
}

.gallery-images-videos .slick-slide{
  width: 20% !important;
}

.gallery-images-videos .glary-img {
  width: 100%;
  padding-left: 15px;
  padding-right: 25px;
  vertical-align: bottom;
}

.gallery-tabs .nav.nav-tabs .nav-link.active {
  border-bottom: 5px solid #000;
}

@media screen and (max-width: 850px) {
  .galry-circlemin {
    position: relative;
    top: -136px;
    left: -25px;
  }

  .image-slide {
    margin-left: 50%;
    margin-top: -160px;
  }

  .galleryrightarrow {
    float: right;
    margin-right: -16%;
    margin-top: -10%;
    position: absolute;
    right: -3.5%;
  }

  .galleryleftarrow {
    float: right;
    margin-left: 0px;
    margin-top: -10%;
    position: absolute;
    left: -10.5%;
  }
}

@media screen and (max-width:768px) {
  .glary-img-main {
    padding-right: 10px;
  }

  .glary-img1 {
    padding-top: 10px;
    padding-right: 10px;
  }

  .glary-img {
    padding-left: 0px;
    padding-right: 10px;
  }

  .glary-s2-img5 {
    padding-right: 10px;
    padding-top: 10px;
  }

  .glary-img-main1 {
    padding-top: 10px;
  }

  .glary-s2-img3,
  .glary-s2-img4 {
    padding-right: 10px;
  }

  .gallery-circle {
    width: 350px;
    height: 350px;
    top: 0px;
    left: 116px;
    padding: 55px;
    padding-top: 100px;
  }

  .courses-flower img {
    width: 120px;
  }

  .image-slide {
    margin-top: -150px;
  }

  .gallery-pg-sec5 {
    top: -10px;
  }

}

@media (max-width: 575px) {
  .galleryflower {
    position: relative;
    z-index: +99;
    top: -201px;
    left: 100px;
  }

  .gallery-butterfly {
    position: relative;
    top: -151px;
    left: 48px;
  }

  .gallery-circle {
    width: 300px;
    height: 300px;
    top: 0px;
    left: 140px;
    padding: 40px;
    padding-top: 70px;
  }

  .galleryrightarrow {
    float: right;
    margin-right: -19%;
    margin-top: -11%;
    position: absolute;
    right: -3.5%;
  }

  .galleryrightarrow2 {
    position: absolute;
    right: 2%;
    z-index: +99;
  }

  .galleryleftarrow2 {
    position: absolute;
    left: -33%;
    z-index: +99;
  }

  .galleryrightarrow3 {
    position: absolute;
    right: -3.2%;
    margin-top: -7%;
    z-index: +99;
  }

  .galleryleftarrow3 {
    position: absolute;
    left: -3.2%;
    margin-top: -7%;
    z-index: +99;
  }
}

@media screen and (max-width: 530px) {
  .galleryline {
    top: 78px;
  }

  .offerlogin-box {
    position: absolute;
    top: 24%;
    right: 2%;
    width: 80px;
    float: right;
  }

  .login-line {
    position: relative;
    float: right;
    margin-top: 0%;
    left: 26px;
  }

  .gallery-padding {
    padding-bottom: 40px !important;
  }

  .gallery-pg-sec1 {
    position: relative;
    width: 95%;
    left: 2%;
  }

  .gallery-pg-sec1 {
    padding: 3%;
    background: #dfe2de;
    border-radius: 30px;
    margin-top: 50px;
  }

  .butter-fly {
    position: absolute;
    top: 17px;
    right: 99px;
  }

  .gallery-right-lotus {
    position: absolute;
    right: 0%;
    width: 60px;
    top: 210px;
  }

  .gallery-pg-sec1 h4 {
    font-size: 20px;
    top: -43%;
  }

  .gallery-flower {
    position: relative;
    left: -45px;
    top: -7px;
    float: left;
    width: 35%;
  }

  .gallery-circle[_ngcontent-jrk-c85] {
    width: 300px;
    height: 300px;
    top: 0px;
  }

  .gallery-circle p {
    font-size: 12px;
  }

  .galry-circlemin {
    position: relative;
    top: -250px;
  }

  .gallery-pg-sec5 {
    top: -100px;
    padding: 3%;
    background: #c7cdc0;
    border-radius: 30px;
    position: relative;
  }

  .glary-img-sec5 {
    width: 125%;
    padding: 2px;
    vertical-align: bottom;
    margin-left: -114px;
    padding-left: 30px;
    margin-top: 47px;
  }

  .glary-img1-section5 {
    width: 50%;
    padding-top: 15px;
    padding-right: 15px;
    vertical-align: bottom;
    padding-bottom: 25px;
  }

  .glry-pglts.river-flower {
    position: sticky;
    width: 125px;
    margin-right: 13px;
  }

  .glary-sec-2 {
    position: relative;
    width: 100%;
    top: -78px;
  }

  .slick-next {
    margin-right: 17px;
  }

  .slick-previous {
    margin-left: 66px;
  }


}

.modal-content {
  width: 500px !important;
  height: 400px !important;
}