
<body class="about-bg">
  <!-- ======= Header ======= -->
  <header id="header">
    <!--<div class="lotus-top animate__animated animate__backInRight animate__delay-1s">
      <img src="assets/img/lotus-top.png" alt="" class="img-fluid flower-top"/>
    </div>
     <div class="butter-fly animate__animated animate__fadeInTopLeft animate__delay-3s">
      <img src="assets/img/Dragonfly-gif.gif" alt="" class="img-fluid dragon-fly" />
    </div> -->
    <div class="container d-flex align-items-center justify-content-between">

      <!-- <div class="logo">
        <h1><a href="index.html">Bocor<span>.</span></a></h1>
        Uncomment below if you prefer to use an image logo
        <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>
      </div> -->
      <div class="menu-line animate__animated animate__fadeInTopLeft animate__delay-4s" routerLink="/"> 
        <img src="assets/img/menu-line.png" alt="" width="60%" />
      </div>
      
      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" routerLink="/aboutUs"> <i class="fa fa-caret-right" ></i> About Us</a></li>
          <li><a class="nav-link scrollto" routerLink="/upComingCourses"> <i class="fa fa-caret-right" ></i> Upcoming Courses</a></li>
          <li><a class="nav-link scrollto" routerLink="/faqs"> <i class="fa fa-caret-right" ></i> FAQ's</a></li>
          <li><a class="nav-link scrollto" routerLink="/offerings"> <i class="fa fa-caret-right" ></i> Our Offerings</a></li>
          <li><a class="nav-link scrollto" routerLink="/donations"> <i class="fa fa-caret-right" ></i> Donate</a></li>
          <li><a class="nav-link scrollto" routerLink="/vedic-neutraceuticles">  <i class="fa fa-caret-right" ></i> Vedic Neutraceuticals</a></li>
          <li><a class="nav-link scrollto" routerLink="/gallery">  <i class="fa fa-caret-right" ></i> Gallery</a></li>
          <!-- <li class="dropdown"><a href="#"><span>Drop Down</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a href="#">Drop Down 1</a></li>
              <li class="dropdown"><a href="#"><span>Deep Drop Down</span> <i class="bi bi-chevron-right"></i></a>
                <ul>
                  <li><a href="#">Deep Drop Down 1</a></li>
                  <li><a href="#">Deep Drop Down 2</a></li>
                  <li><a href="#">Deep Drop Down 3</a></li>
                  <li><a href="#">Deep Drop Down 4</a></li>
                  <li><a href="#">Deep Drop Down 5</a></li>
                </ul>
              </li>
              <li><a href="#">Drop Down 2</a></li>
              <li><a href="#">Drop Down 3</a></li>
              <li><a href="#">Drop Down 4</a></li>
            </ul>
          </li> -->
          <!-- <li><a class="nav-link scrollto" href="#contact">Contact</a></li> -->
        </ul>
        <a href="index.html" style="padding: 0px;"> <img src="assets/img/ty-icon.png" alt="" width="30" /> &nbsp; &nbsp; </a>
        <i class=" animate__animated animate__bounceInDown animate__delay-1s bi bi-list mobile-nav-toggle"> 
          &nbsp; &nbsp; &nbsp; &nbsp; </i> 
        <div class="menu-name animate__animated animate__bounceInDown animate__delay-1s">
        <span class="text-white"> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;   About </span>
        </div>
      </nav><!-- .navbar -->

    </div>
    <div class="clearfix "></div>


  </header><!-- End Header -->


  <section id="logo-section">
    <div class="login-box login-box-aboutus">
    <div class="login-icon text-center animate__animated animate__backInRight animate__delay-2s" >
      <img src="assets/img/login-icon.png" alt="" class="img-fluid  animate__animated animate__backInRight animate__delay-2s" />
      <span class="text-white font-weight-bold "> Login </span> 
      
    </div> 
  </div>
  
  <div class="login-line login-line-aboutus login-line-aboout animate__animated animate__backInRight animate__delay-3s ">
    <img src="assets/img/login-curve.png" alt="" width="90%" />
  </div>
    <!-- <div class="lotus-left">
      <img src="assets/img/lotus-left.png" alt="" class="img-fluid flower-left" />
    </div>     
    <div class="clearfix"></div>
    <div class="logo text-center">
      <a href="index.html"><img src="assets/img/ty-logo.png"  alt="" class="img-fluid"></a>
    </div>

    -->

  </section>

  



  <main id="main">
    

    <section id="aboutus" class="pt-0">
      <div class="container-padding">
    

        <!-- <div class="about-flower">
          <img src="assets/img/about-right-content-flower.png" alt="" class="img-fluid"/>
        </div>
        <div class="about-butter-fly animate__animated animate__fadeInTopLeft animate__delay-3s">
          <img src="assets/img/courses-butterfly.png" alt="" class="img-fluid dragon-fly" />
        </div> -->

      <div class="about-us-ty">
        <div class="about-us-ty-content ">
          <div class="row">
            <div class="col-md-12">
              <h1 class="text-white">Accreditation with International Yoga Alliance</h1> <br>
              <p><b class="text-black">International Yoga Alliance</b> is a charity-based Yoga association with its headquarters in the USA. The work of the Alliance is carried out by those who have dedicated their lives to yoga and its purity, and not as a full-time business occupation or to gain name and fame, but, like Saint Patanjali, whose actual name is not known to anyone, these volunteers remain anonymous. 
                IYA is a union of world Yoga enthusiasts that is intended for true promoters of Yoga, aimed at bringing all yoga communities and individuals across the world under one umbrella ‘Vasudaika Kutumbham’ / world as one family. </p>

                <p> IYA is the authentic organisation with strong roots in the Himalayas and associations with traditional ashrams and gompas, and their heads. These are the places where those great yogis from Swamy Vivekananda to Tirumalai Krishnamacharya got their education and where great figures like Annie Besant and Rudolf Steiner experienced the reality beyond their imagination and went on to become creators of traditions, Steiner establishing Waldorf education/Steiner Schools with Emil Molt. The Himalayan traditions are the origins of all the healing teachings and the place where these nnovators gained their knowledge.</p>
                
                <p> IYA is committed to represent traditions with an open mind that does not levy any subscription fee from its members. It allows its registered members to promote and teach yoga as certified, indicating that they have the base and background in different formats and in a wide spectrum of yoga, as preserved for thousands of years, and which has flowed from generation to generation up to the modern contemporary traditions.  </p>

               <p> The Alliance’s aim is not the promotion of yoga in the name of associations which, directly or indirectly collect money in the name of promotion of yoga. That is far from the tradition which has existed for thousands of years promoting yoga as a selfless activity. IYA is neither a business nor a livelihood entity for anyone promoting yoga, it is for the purpose of serving the yoga community with soul in its heart. </p>

               <p>  IYA is an organisation which, unlike other associations, issues authentic certifications to schools, teachers, studios and ashrams the world over, to whomsoever is committed and has proven that they are practicing or teaching yoga or promoting yoga in the right spirit. We are proud to be associated with these teachers, schools, studios and ashrams, and we issue certificates upon registration in turn
                 </p>
              
            </div>
           
          </div>
          <div class="clearfix"></div> <br>
          
        </div>
        <div class="align-items-center">
          <img src="assets/img/mountains-bg.png" alt="" class="img-fluid" />
      </div>
    </div>
  </div>
    </section>
<br><br><br>

    <section id="mentor" class="pt-0 about-anilkumar-block">
      <div class="container-padding">
      <div class="row">
        <div class="col-md-4">
          <div class="mentor-circle">

          <div class="mentor-circle12">
              <div class="mentor-quote">
                  <p>Uncontrolled movement of teh mind consumes the most energy, more than the phisicalbody</p>

                  <p class=""> - Dr. ALV Kumar </p>
              </div>

              <div class="about-auote-line" style="padding-top: 80px; padding-left: 70px;">
                <img src="assets/img/line-about-curve.png" width="" />
              </div>
          </div>
          <div class="about-guruji-quote">
            <img src="assets/img/aboutus-2lotus.png" width="60" />
          </div>
          
        </div>
        </div>


        <div class="col-lg-7">
          <div class="mentor-block">
            <div class="mentor-content ">
              <h1 class="text-white"> Dr ALV Kumar </h1> <br>
              <p>Dr. Kumar is an authority on the science of yoga and its diverse systems. Dr Kumar’s knowledge is informed not only from his distinguished career in science, but also from his personal experience of repairing and rehabilitating his own body through yoga, following a serious accident. His education from the age of 11, was in 37 schools of Hatha Yoga and 50 traditions of meditation, working with renowned teachers such as krishnama charya, B K S Iyengar and Satyananda Saraswati, Swami Vishnu devananda and all seven students of shivananda, in addition to many highly accomplished yet unknown Himalayan yogis.

              <p>  Dr. Kumar is a nuclear scientist and holds three PhDs in the fields of Chemistry and Yoga. He is also a nutraceuticals formulation specialist trained by Merck company. </p>

             <p>   Dr. Kumar formulate preventive and therapeutic nutrition dealing with phytoextracts to nutrigenomics and peptide-based solutions for gene related problems. He is the founder of Vedic Neutraceuticals and The Yoga Healing Foundations of UK, U.S and India. </p>

            <p>    His teaching is deeply rooted in the purity of authentic traditions and he emphasises the importance of upholding the pure science of yoga maintained by these ancient lineages and applying them in a balanced and holistic way. The depth and breadth of his knowledge offers a unique opportunity for those who wish to develop and deepen their understanding of yoga.
                </p>

              <div class="float-right">
              <div class="btn btn-outline-light rounded-pill btn-sm btn-knowmore"  data-bs-toggle="modal" data-bs-target="#exampleModal" > Know More</div>
            </div>

            </div>
          </div>

            <div class="anikumar-img">
              <img src="assets/img/anikumar-abou2t.png" alt="" width="800" class="img-fluid" />
            </div>


        </div>

        <div class="river-flower text-center" style="position:relative; left:35%; ">
          <img src="assets/img/river-flower.png" alt="flower" width="150" 
          class="img-fluid" />
          </div>
        <div class="river-about">
          <img src="assets/img/river-bg2.png" alt="" class="img-fluid" />
        </div> 
        </div>
        
        <div class="vedic-right-lotus">
          <img src="assets/img/right-lotus.png" alt="" class="img-fluid">
        </div>

  

        
  </div>
  <div class="clearfix"></div> 

        <div class="guidelince text-center ">
        <h6 class="text-white"> <b>Under Dr.ALV Kumar's guidance, we deliver various programs under the banner of 'Traditional Yoga' </b></h6> 
          </div>
    </section>


  <section id="yoga-foundation" class="pb-0">
    <div class="container-padding">
        <div class="foundation">
          <div class="row vertical-align">
            <div class="col-md-7">
              <div class="yoga-guidelines text-white">
                <h1 class="text-white"> Yoga Healing Foundation </h1> <br>
                <p>
                  The Yoga Healing Foundation is a registered charity that runs Traditional Yoga courses for the benefit of the general public and the yoga community. This includes meditation courses, weekly classes, workshops, meditation teacher training courses, lectures and an annual ten day summer meditation retreat. Our courses are all run as a charitable not-for profit activity and cover theory and practice. Our purpose is to protect, revive and disseminate original and complete yogic knowledge by staying connected to the values and lineage of the Yoga tradition. </p>

                 <p> The Yoga Healing Foundation runs on the basis of two core values, Seva and Dana. </p>

                <p>  Seva, translated as selfless service, is an important principle in the yoga tradition. It is based on the value of working for others without expectation of personal reward. Karma yoga - path of dedication. This approach helps us to develop the qualities of acceptance, gratitude, helpfulness and generosity. Dana is the virtue of unconditional generosity and unattached giving through donation to a good cause. Traditionally, the teachings of yoga have for thousands of years been offered on the basis of Dana.</p>

                <p>  As much as we are able to follow this principle, our courses are given for free or are charged at a comparatively low cost. The unconditional donations received allows us to cover our basic expenses, and we welcome donations in gratitude for the teaching and in order to further our charitable work. </p>

                <p>  The act of giving a donation rather than a compulsory fee is an opportunity for participants in our courses to benefit from an act of voluntary giving and develop the yogic quality of generosity. Dana is one of the ten 
                  ‘perfected virtues’ taught by Buddha

                </p>

                <div class="about-yoga-healing-dragencly">
                  <img src="assets/img/Dragonfly-gif.gif" />
                </div>
                
              </div>
              
              <div class="about-yoga-healing-flower">
                <img src="assets/img/about-right-content-flower.png" width="240" />
              </div>

            </div>
            <div class="col-md-4">
              <div class="about-ty-donation-btn text-center">
                <img src="assets/img/ty-icon.png" alt="" class="img-fluid" />
                <br>
                <div class="donate-now pt-3">
                  <div class="btn btn-donate btn-knowmore rounded-pill"> Donate </div> <br>
                  <h4 class="donate-text pt-4 text-white"> Alming to feed the soul the best of nutrients for the improverished</h4>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
  </section>

  <div id="" class="pb-0 pt-0" style="margin-top:-150px">
    <div class="" data-aos="fade-left">
      <div class="mumuksha-msg-circle">
      <div class="mumuksha-msg-circle2">
        <div class="mumuksha-msg-quote text-white">
          <h2>MUMUKSHA</h2>
            <p>The burning desire to beome enlightened. The realisation of Allah, the Holy Spirit, Paramatma,  requires perseverance in spiritual progress</p>

            <p class=""> - Dr. ALV Kumar </p>
        </div>
    </div>
  </div>

</div>

</div>
  
    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact p-0">
      <div class="container" data-aos="fade-up">

        <!-- <div class="section-title">
          <h2>Contact</h2>
          <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>
        </div> -->

        <div class="row">
          <div class="contact-lotus">
            <img src="assets/img/contact-lotus-left.png" width="200" alt="" class="img-fluid"/>
          </div>

          <div class="col-lg-4 text-black">
            <h4><b>GET IN TOUCH </b></h4>
            <p>Fill the form with your query <br>
              or questions to reach us out</p>

          </div>

          <div class="col-lg-8 mt-4 mt-lg-0 text-black">
            <form action="forms/contact.php" method="post" role="form" class="php-email-form w-100" data-aos="fade-up">
              
              <div class="form-group mt-3 d-flex">
                <span class="input-name"> Name  </span>
                <input type="text" name="name" class="form-control" id="name" placeholder=" Name" required>
              </div>

                <div class="form-group mt-3 d-flex">
                  <span class="input-name"> Email  </span>
                  <input type="email" class="form-control" name="email" id="email" placeholder=" Email" required>
                </div>

                <div class="row mt-3 d-flex">
                  
                  <div class="col-md-6 form-group d-flex">
                    <span class="input-name"> Phone  </span>
                    <input type="text" name="name" class="form-control" id="name" placeholder="Phone No" required>
                  </div>
                  <div class="col-md-6 form-group mt-3 mt-md-0 d-flex">
                    <span class="input-name"> Country  </span>
                    <input type="email" class="form-control" name="email" id="email" placeholder="Country" required>
                  </div>
                </div>

              <div class="form-group mt-3 d-flex">
                <span class="input-name"> Query  </span>
                <textarea class="form-control" name="message" rows="5" placeholder="Query" required></textarea>
              </div>
              <div class="my-3 d-flex">
               
                <div class="loading">Loading</div>
                <div class="error-message"></div>
                <div class="sent-message">Your message has been sent. Thank you!</div>
              </div>
              <div class="" style="margin-left: 3rem">
                <div type="submit" class="btn btn-lg btn-donate rounded-pill">Submit</div>
              </div>
            </form>
          </div>

        </div>
        
      </div>
    </section><!-- End Contact Section -->


  </main><!-- End #main -->


  <footer>
    <div class="container-padding">
      <div class="row">
      <div class="col-md-6">
        <div class="socialmedia-icons">
          <span class="youtube"> <img src="assets/img/youtube-icon.png" alt="youtube"/> </span>
          <span class="fb"> <img src="assets/img/facebook-icon.png" alt="facebook"/> </span>
          <span class="twitter"> <img src="assets/img/twitter.png" alt="twitter"/> </span>
          <span class="instagram"> <img src="assets/img/instagram.png" alt="instagram"/> </span>
        </div>
      </div>
  
      <div class="col-md-6">
        <p class="float-right"> Privacy Policy</p>
      </div>
      
    </div>
    </div>
  </footer>


  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="about-popup">

        <div class="modal-body about">

          <h1 class="text-center popup-name-guruji" style="font-size:40px"> Dr A L V Kumar</h1>
          <div class="row">
            <div class="col-md-4">
              <div class="about-circle-popup">
                  <div class="about-quote-popup">
                      <p>“Yoga is many limbed and is not to 
                        be confused with any form of 
                        religion. My aim is to restore the 
                        understanding of the relationship of 
                        different branches of traditional yoga 
                        so as to enable each person to make 
                        swift and effective progress”</p>
    
                      <p class=""> Dr A L V Kumar </p>
                  </div>
              </div>
            </div>

            <div class="col-md-4">
            </div>

            <div class="col-md-4">
            </div>

            <div class="anikumar-img-popup1">
              <img src="assets/img/anikumar-aboutus-popup.png" alt="" class="img-fluid" />
            </div>  
            
            <div class="butter-fly-popup-about animate__animated animate__fadeInTopLeft animate__delay-3s">
                <img src="assets/img/Dragonfly-gif.gif" alt="" class="img-fluid dragon-fly" />
              </div>
            
              <div class="about-flower-popup">
                <img src="assets/img/about-right-content-flower.png" alt="" class="img-fluid">
              </div>

            
                
            </div>


            <div class="row">
              <div class="about-popup-content">
              <p>  Dr. Kumar is widely recognized as an inspirational Yogi, trainer of yoga teachers and an award-winning scientist. He began his yoga journey at the age of 11 years and attended more than 87 traditional ashrams, learning directly under the expert guidance of great teachers such as Satyananda Saraswathi, Krishnamacharya and all the seven students of Sivananda, as well as in many Himalayan traditions. </p>

              <p>  Dr. Kumar is a nuclear scientist and holds three PhDs in the fields of Chemistry and Yoga. He is also a trained Merck pharmaceuticals and nutraceuticals formulation specialist. His teachings are not only limited to yoga and meditation, as he also has authority in science-based functional and performance-based nutraceuticals both macro and micro nutrition. 
                Dr. Kumar practices preventive and therapeutic nutrition spanning from phytoextracts to nutrigenomics and peptide-based solutions for gene related problems. He is the founder of Vedic Neutraceuticals and The Yoga Healing Foundations of UK, U.S and India. He is a recipient of the prestigious Homi J. Bhabha award for innovations in nuclear science and technology.
                Dr. Kumar’s personal experience of the therapeutic benefits of yoga inspired him to teach. In 1992, Dr. Kumar suffered multiple fractures in his lower spine, hip bones, and pelvic bones, lost control over his lower torso and ruptured his urethra, when he had a road accident. Having just got engaged, he was told that he would not be able to have children and may not walk again. He was airlifted to his wedding.  </p>

              <p>  After being bed-ridden for over a year and being told that doctors had little hope for his recovery, finally Dr. Kumar decided to start treating himself. He used his deep knowledge of yoga to design a systematic program of treatment for himself with asana and pranayama practice. By the following year, he was mobile and in two years he could run. In 1994 Dr. Kumar and his wife were blessed with their first child.   </p>

              <p>  This was a turning point for him, and he decided to devote his time besides his work to promote the correct understanding of the traditional methods of yoga for body and mind. This includes all physical yoga practices as taught by well-known teachers from whom he learned directly, including Krishnamacharya, Vishnudevananda, Satyananda Saraswati, B.K.S. Iyengar and Pattabhi Jois.   </p>

              <p>  Dr. Kumar’s teachings also include mind-fitness (meditation) programs in Hindu, Tibetan and Theravada traditions, taught at a deep level with a science-based approach for rapid progress. His teachings include progressive practice starting with mantra, through to the highest-level mindfulness culminating in self-realisation, actualisation or Singularity.  </p>

               <p> In essence, Dr. Kumar teaches a scientific way of life for total health. He shows us how to live with absolute scientific standards from dawn to dusk. He strongly believes that subjective, perception-based living is the root cause of our problems at both a physical and mental level.  </p>

              <p>  Dr. Kumar is also a practitioner and teacher of Kayachikitsa, which is an ancient science focused on the treatment of physical and mental illness. He is one of only three people in the world to have been trained and currently practice in this particular system. </p>
                
              <p>  Dr. Kumar leads intensive training in meditation (Raja yoga) theory and practice leading to profound insight and liberation. This is taught as per the Yoga Shastras and Yoga Sanhitha given by Yajnavalkya and later by Patanjali in the form of Yoga Darshana. Besides his online training courses that run continuously throughout the year, Dr. Kumar currently teaches two to three immersive residential retreats in India annually, holding at least one in the summer and one in the winter. These retreats are for periods of 10 or 15 days depending on the venue and related circumstances.  </p>

              <p>  Dr. Kumar is a consultant trainer at Yogacampus in London. Having trained yoga teachers for the last four decades, drawing on his experiential wisdom and knowledge developed from living and learning in many different ashrams, ancient traditions and from many different teachers, he teaches yoga for mind and body with authority.  </p>

              <p>  In 2017 and 2018 Dr. Kumar was invited by the United Nations, International Labour Organization in Geneva, to lead celebrations for International Yoga Day. Outside of reputed Indian institutions, he has also given lectures at Oxford Brookes University, Bath Royal Literary and Scientific Institution, Imperial College London, SOAS (School of Oceanic and Asian Studies, University of London) and Kyungpook National University School of Medicine in Daegu, Korea. </p>
                
              <h5> EDUCATION </h5>  

              <p>  Rather than belonging to any one school, Dr. Kumar’s teaching adheres to the genesis of yoga and its many components. Dr Kumar’s first teacher cautioned him to avoid being limited to the methodology of only one school, realising that each ashram preserves only a few limbs of yoga.  </p>
              
              <p>  Dr. Kumar has followed this advice throughout his life, allowing him to keep an open mind, and to continuously learn and expand his knowledge, respecting all traditions. </p>

              <p>  As a child he began his formal studies at the Sivananda Ashram under Swamy Vishnudevananda. He was initiated by Swami Chinmayananda, Sachidananda & Omkarananda and later under Swami Rama and Satyananda Saraswathi.  </p>

             <p>   Dr Kumar also learned asana practice with BKS Iyengar, Pattabhi Jois and Desikachar among other renowned teachers as well as unknown but equally accomplished Himalayan masters and monks. He learned powerful health rejuvenating pranayamas in Shakthi traditions of Tantra such as Prakrithika (external respiratory techniques), Vaikrithika (internal respiratory techniques) and Kevala (natural respiration).  </p>

              <p>   Other schools attended by Dr. Kumar include Kaivalyadhama-Lonovala, Ananda Ashram, Himachal and Kriya Yoga traditions such as Babaji Kriya Yoga, Yogoda, Mangeshda. His theoretical studies of Hatha Yoga have explored Hatha Yoga Pradipika, Hatha Ratnavali, Gheranda Samhita, Siva Samhita, Hatha Yoga Rahasyam, Kurantaka Yoga and Kapala Kurantaka Yoga and he has translated many of these original texts for his training program. </p>

              <p>  Dr. Kumar has studied meditation in Hindu, Yoga, Mahayana, and Theravada Buddhist schools including monastic traditions in Thailand, Burma, Sri Lanka and Tibet. His mastery of meditation, honouring the lineage of Patanjali is central to his teaching.  </p>
             
             <p>   He reads Sanskrit and Pali and has sourced and translated rare texts, exploring the relationship between Yoga, Buddhism and Vedanta. In gratitude for the benefits he has received Dr. Kumar has volunteered his time to teaching yoga and meditation for free to thousands of people around the world and to reviving the ancient system of yoga therapy, Kayachikitsa.
                 </p>


              </div>
            </div>
        </div>
      </div>

      </div>
    </div>
  </div>


  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->


</body>  

<!-- <script>
  $(document).on('ready', function() {
      $('.mobile-nav-toggle').click(function(e){
        $('.mobile-nav-toggle').toggleClass("bi-x");
        $("#navbar").toggleClass("navbar-mobile");
        e.preventDefault();
      });
    });
</script> -->