<body class="landing-page-bg">

  <!-- ======= Header ======= -->
  <header id="header">
    <div class="lotus-top animate__animated animate__backInRight animate__delay-1s">
      <img src="assets/img/lotus-top.png" alt="" class="img-fluid flower-top" />
    </div>
    <div class="butter-fly animate__animated animate__fadeInTopLeft animate__delay-3s">
      <img src="assets/img/Dragonfly-gif.gif" alt="" class="img-fluid dragon-fly" />
    </div>
    <div class="container d-flex align-items-center justify-content-between">

      <!-- <div class="logo">
        <h1><a href="index.html">Bocor<span>.</span></a></h1>
        Uncomment below if you prefer to use an image logo
        <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>
      </div> -->
      <div class="menu-line animate__animated animate__fadeInTopLeft animate__delay-4s">
        <img src="assets/img/menu-line.png" alt="" width="60%" />
      </div>

      <nav id="navbar" class="navbar">
        <ul>

          <!-- <li><a class="nav-link scrollto active" href="index.html">HOME</a></li> -->
          <li><a class="nav-link scrollto" routerLink="/aboutUs"> <i class="fa fa-caret-right"></i> About Us</a></li>
          <li><a class="nav-link scrollto" routerLink="/upComingCourses"> <i class="fa fa-caret-right"></i> Upcoming
              Course</a></li>
          <li><a class="nav-link scrollto" routerLink="/faqs"> <i class="fa fa-caret-right"></i> FAQ's</a></li>
          <li><a class="nav-link scrollto" routerLink="/offerings"> <i class="fa fa-caret-right"></i> Our Offerings</a>
          </li>
          <li><a class="nav-link scrollto" routerLink="/donations"> <i class="fa fa-caret-right"></i> Donate</a></li>
          <li><a class="nav-link scrollto" routerLink="/vedic-neutraceuticles"> <i class="fa fa-caret-right"></i> Vedic
              Nutraceuticals</a></li>
          <li><a class="nav-link scrollto" routerLink="/gallery"> <i class="fa fa-caret-right"></i> Gallery</a></li>
          <!-- <li class="dropdown"><a href="#"><span>Drop Down</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a href="#">Drop Down 1</a></li>
              <li class="dropdown"><a href="#"><span>Deep Drop Down</span> <i class="bi bi-chevron-right"></i></a>
                <ul>
                  <li><a href="#">Deep Drop Down 1</a></li>
                  <li><a href="#">Deep Drop Down 2</a></li>
                  <li><a href="#">Deep Drop Down 3</a></li>
                  <li><a href="#">Deep Drop Down 4</a></li>
                  <li><a href="#">Deep Drop Down 5</a></li>
                </ul>
              </li>
              <li><a href="#">Drop Down 2</a></li>
              <li><a href="#">Drop Down 3</a></li>
              <li><a href="#">Drop Down 4</a></li>
            </ul>
          </li> -->
          <!-- <li><a class="nav-link scrollto" href="#contact">Contact</a></li> -->
        </ul>

        <i class=" animate__animated animate__bounceInDown animate__delay-1s bi bi-list mobile-nav-toggle"></i> &nbsp;
        <div class="menu-name animate__animated animate__bounceInDown animate__delay-1s">
          <span class="text-white"> Menu </span>
        </div>
      </nav><!-- .navbar -->

    </div>
    <div class="clearfix "></div>


  </header><!-- End Header -->

  <section id="logo-section">
    <div class="login-box">
      <div class="login-icon text-center animate__animated animate__backInRight animate__delay-2s"><a
          href="http://52.90.116.99:8080/ty/#/login">
          <img src="assets/img/login-icon.png" alt=""
            class="img-fluid  animate__animated animate__backInRight animate__delay-2s" />
          <span class="text-white font-weight-bold "> Login </span> </a>
      </div>

    </div>

    <div class="login-line animate__animated animate__backInRight animate__delay-3s">
      <img src="assets/img/login-curve.png" alt="" width="90%" />
    </div>


  
  
    <div class="lotus-left">
      <img src="assets/img/lotus-left.png" alt="" class="img-fluid flower-left" />
    </div>    
    <div class="clearfix"></div>
    <div class="logo text-center">
      <a routerLink="/"><img src="assets/img/ty-logo.png" alt="" class="img-fluid" style="width: 75%; "></a>
    </div>



  </section>


  <!-- ======= Hero Section ======= -->
  <section id="hero" class="pb-0">

    <div class="">
      <div class="row d-flex align-items-center">
        <img src="assets/img/mountains-bg.png" alt="" class="img-fluid" />
      </div>
    </div>

  </section><!-- End Hero -->

  <main id="main">


    <section id="aboutus" class="pt-0 pb-0">
      <div class="container-padding">
        <div class="row">
          <div class="col-sm-5 col-md-4">
            <div class="about-circle1 animate__animated animate__fadeInTopLeft animate__delay-4s">
              <div class="about-circle">
                <div class="about-quote">
                  <p>Uncontrolled movement of the mind consumes the most energy, more than the physical body.</p>

                  <p class=""> - Dr. A L V Kumar </p>
                </div>
              </div>
            </div>
            <div class="guriji-mesg-flowers animate__animated animate__fadeInTopLeft animate__delay-5s">
              <img src="assets/img/aboutus-2lotus.png" alt="" />
            </div>

          </div>

        </div>

        <div class="about-right-block row">
          <div class="about-icons col-sm-5 col-md-4">
            <div class="about-flower">
              <img src="assets/img/about-right-content-flower.png" alt="" class="img-fluid" />
            </div>
            <div class="about-butter-fly animate__animated animate__fadeInTopLeft animate__delay-3s">
              <img src="assets/img/Dragonfly-gif.gif" alt="" class="img-fluid dragon-fly" />
            </div>
          </div>

          <div class="col-sm-7 col-md-8">
            <div class="about-ty  about-ty-content ">
              <div class="row">
                <div class="col-md-6 aboutpadding">
                  <h6> Dr. ALV Kumar - Guruji </h6> <br>
                  <p>Dr. Kumar is widely recognized as an inspirational Yogi, trainer of yoga teachers and an
                    award-winning scientist.</p>
                  <p>Rather than as an accomplished scientist of modern science, Dr. Kumar is happy to introduce himself
                    as a Yogi having explored many limbs and gamut of eternal science of
                    Yoga!</p>
                  <div class="btn btn-secondary rounded-pill btn-sm btn-knowmore" routerLink="/aboutUs#mentor"
                    (click)="KnowMore('alv')"> Know More</div>
                </div>


                <div class="about-right-lotus">
                  <img src="assets/img/right-lotus.png" alt="" class="img-fluid" />
                </div>

                <div class="col-md-6 aboutpadding">
                  <h6> Yoga Healing Foundation </h6><br>
                  <p> The Yoga Healing Foundation is a charitable foundation, runs on the basis of two core values of
                    <b>" seva "</b> and <b>"Dana "</b> which supports the teaching of <b>traditional yoga</b>.</p>
                  <p>The foundation has charities in the USA, UK and India, whose purpose is to protect, revive and
                    disseminate original and complete yogic knowledge.</p>
                  <div class="btn btn-secondary rounded-pill btn-sm btn-knowmore" (click)="KnowMore('yoga')"> Know More
                  </div>
                </div>
              </div>
              <div class="clearfix"></div> <br>
              <h6> <b>Under Dr. ALV Kumar’s guidance, we deliver various programs under the banner of ‘Traditional
                  Yoga’.</b></h6>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section id="offerings" class="pt-4 pb-3 ">
      <div class="river-bg">
        <img src="assets/img/river-bg.png" alt="" class="img-fluid" />
      </div>
      <div class="row">
        <div class="col-lg-5">
          <div class="offerings-left ">
            <div class="river-flower1 text-center">
              <img src="assets/img/river-flower.png" alt="flower" width="150" class="img-fluid" />
            </div>

            <div class="donation-btn">
              <div class="donate-now">
                <div class="btn btn-popup  rounded-pill" (click)="DonatePage()"> Donate </div> <br>
                <p class="donate-text pt-4 text-white"> Aiming to feed the soul the best of nutrients for the
                  impoverished</p>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-1"> </div>
        <div class="col-lg-6">

          <div class="offerings-circle">
            <div class="offerings-circle2">
              <div class="offerings-text">
                <h3 class="pl-2"> <b>Our Offerings</b></h3>
                <ul>
                  <li> Free online courses</li>
                  <li> In-Person Meditation retreats</li>
                  <li> Access to old scriptures</li>
                  <li> Unique products formulated by Guruji</li>
                  <li> In-Person trainings </li>
                  <li> Knowledge for All</li>
                </ul>
              </div>
            </div>
          </div> <br>
          <div class="m-auto text-center landingbtn">
            <div class="btn btn-secondary rounded-pill btn-sm btn-knowmore" (click)="OurOfferingsPage()"> Know More
            </div>
          </div>

          <div class="offering-flower">
            <img src="assets/img/offering-lotus.png" alt="" width="150px" class="img-fluid" />
          </div>
        </div>
      </div>



    </section>

    <section id="code-descipline" class="pt-0">
      <div class="container-padding">
        <div class="row">
          <div class="col-md-7">
            <h1 class="mobile-view text-center" style=" font-size:24px; color: #ffffff;"><b> Code Of Descipline </b>
            </h1>
            <div class="slide-border1 ">
              <!-- <iframe
              width="100%"
              class="videoheight"
              src="https://traditionalyoga-app-staging.s3.ap-south-1.amazonaws.com/Testimonial_videos140423/17042023/Traditional_yoga_v11.mp4"
              title="Video player"
              name="video" poster="assets/img/video.png"
              frameborder="0"
              allow="accelerometer; clipboard-write; encrypted-media; gyroscope;"
              allowfullscreen
              oncontextmenu="return false;"
            ></iframe> -->
            <!-- <button id ="play-btn" class="active"><i class="fa fa-play"></i></button> -->
              <video width="100%" id="video" class="videoheight" controlsList="nodownload" oncontextmenu="return false;"  poster="assets/img/video.png">
                <source
                  src="https://traditionalyoga-app-staging.s3.ap-south-1.amazonaws.com/Testimonial_videos140423/17042023/Traditional_yoga_v11.mp4"
                  type="video/mp4" frameborder="0" canplay
                  allow="accelerometer; clipboard-write; encrypted-media; gyroscope;" allowfullscreen>
              </video>
            </div> <br>
            <h1 class="desktop-view text-center" style=" font-size:24px; color: #ffffff;"><b> Code Of Descipline </b>
            </h1>
          </div>
          <div class="col-md-5">

            <div class="descipline-content align-items-center">
              <div class="row">
                <div class="col-md-2">
                  <div class="divider-line desktop-view"></div>
                </div>
                <div class="col-md-6">
                  <div class="discipline-text text-black">
                    <p class=""> Traditional Yoga is for serious aspirants who look to Yoga for complete transformation,
                      purification and liberation of the body, mind, and soul. The first correct steps in undertaking a
                      course are to read, understand and adhere to the strict code of conduct.</p>
                  </div>
                </div>
              </div>
              <div class="discipline-lotus text-center">
                <img src="assets/img/desciplan-lotus.png" alt="" width="120" class="img-fluid" />
              </div>

            </div>
          </div>
        </div>
      </div>
    </section>


    <section id="courses" class="pt-0">
      <div class="container-padding">
        <div class="upcoming-courses">
          <div class="row">
            <div class="col-md-4">
              <div class="upcoming-left text-black">
                <p> We are proud to accredited with <b>International Yoga Alliance</b> and to issue certificate which
                  inturn can register upon free of subscription fee</p> <br>                  
                <a routerLink="/aboutUs">
                  <div class="float-right desktop-view">
                    <div class="btn btn-secondary rounded-pill btn-sm btn-knowmore" routerLink="/aboutUs"> Know More</div>
                  </div>

                  <div class="text-center mobile-view">
                    <div class="btn btn-secondary rounded-pill btn-sm btn-knowmore" routerLink="/aboutUs"> Know More</div>
                  </div>

                </a>
              </div>
              <div class="home-left-img">
                <img src="assets/img/courses-flower.png" alt="" width="200" class="img-fluid" />
              </div>
              <div class="home-butter-fly animate__animated animate__fadeInTopLeft animate__delay-3s">
                <img src="assets/img/2-Dragonfly-gif.gif" alt="" class="img-fluid dragon-fly" />
              </div>


            </div>
            <!-- <div class="col-md-1"></div> -->
            <div class="col-md-8">
              <div class="upcoming-courses">

                <!-- <div class="black-border">
              <div class="black-circle">
                <div class="course-img">
                  <img src="assets/img/about.jpg" alt="" class="img-fluid rounded-circle" />
                </div>                
              </div>
            </div> -->
                <div class="upcoming-squarebox1">
                  <div class="upcoming-squarebox">
                    <div class="courses-lotus-right">
                      <div class="lotus-top animate__animated animate__backInRight animate__delay-1s">
                        <img src="assets/img/lotus-top.png" alt="" class="img-fluid flower-top" />
                      </div>
                    </div>

                    <div class="upcoming-courses-content text-black">
                      <h4> <b>Upcoming Course </b> &nbsp; &nbsp;
                        <div class="btn btn-secondary rounded-pill btn-sm btn-knowmore mobile-mt-3"
                          (click)="CourseDetailsPage()"> Course Details</div>
                      </h4> <br>

                      <h5><b> Oct 3rd to Dec 23rd, 2022 </b></h5>
                      <h5 class="pt-2"> Free Online RYIT 200/500 Theraputic Yoga <br> and Meditation Certification
                        Course.</h5>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="river-bg2 left-padding-5">
              <img src="assets/img/river-bg2.png" alt="" class="img-fluid" />
            </div>

            <!-- <div class="section-lines"> 
            <img src="assets/img/section-line.png" alt="" />
          </div> -->
          </div>



          <br> <br> <br>
        </div>


      </div>


    </section>

    <section id="clients-sec" class="pt-0">

      <div class="container-padding">
        <div class="guruji-msg">
          <div class="guruji-msg-circle2">
            <div class="guruji-msg-circle">
              <div class="guruji-msg-quote text-black">
                <p style="font-size: 18px;">Gratitude is experienced truth, the cultivation of positivity.
                </p>

                <p style="font-size: 18px;"> - Dr. A L V Kumar </p>
              </div>
            </div>
          </div>
        </div>

        <div class="testmonials">
          <h5 style="padding-left: 130px;" class="text-black"><b> An expression of appreciation</b></h5>
          <div class="regular slider">
            <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfig">
              <!-- <div ngxSlickItem *ngFor="let slide of slides" class="slide">
        <img src="{{ slide.img }}" alt="" width="100%">
        <p>{{ slide.img }}</p>
        </div> -->

              <div class="slide-border" ngxSlickItem *ngFor="let slide of slides">
                <div class="slide-bg">

                  <div class="video-thumb">
                    <!-- <img src="{{ slide.img }}" alt="" width="80" /> -->
                  </div>
                  <div class="video-play1 testi1">
                    <video width="100%" id="video-thumbs" controls controlsList="nodownload" oncontextmenu="return false;" preload="none"
                      poster="assets/img/video.png">
                      <source
                        src="https://traditionalyoga-app-staging.s3.ap-south-1.amazonaws.com/Testimonial_videos140423/Ramya+Testimonial_Final+with+Subtitles+(1).mp4"
                        type="video/mp4" frameborder="0" canplay
                        allow="accelerometer; clipboard-write; encrypted-media; gyroscope;" allowfullscreen>
                    </video>
                  </div>
                  <div class="video-play d-inline testi">
                    <!-- <img src="assets/img/video-play.png" width="35" alt="" /> <br> -->
                    <p>Rabout Dasouga<br>
                      USA</p>
                  </div>
                </div>
              </div>
              <!-- <div class="slide-border" ngxSlickItem *ngFor="let slide of slides">
          <div class="slide-bg">
            <div class="video-play d-inline">               
                <img src="assets/img/video-play.png" width="35" alt="" /> <br>
                <p>Rabout Dasouga<br>
                USA</p>              
              <div class="video-thumb">
              <img src="{{ slide.img }}" alt=""  width="80"/>
              </div>
              <div class="video-play1 testi">
              <video   width="100%" controls controlsList="nodownload" oncontextmenu="return false;" preload="none" poster= "assets/img/video.png">
                <source src= "https://traditionalyoga-app-staging.s3.ap-south-1.amazonaws.com/Testimonial_videos140423/Final+copy+nouhad+1+-+1+High+Rez.mp4"
                        type="video/mp4"  frameborder="0" canplay
                        allow="accelerometer; clipboard-write; encrypted-media; gyroscope;"
                        allowfullscreen >
            </video>  
          </div> 
              </div>           
        </div>
        </div> -->

            </ngx-slick-carousel>
          </div>

        </div>


        <!-- <div class="testmonials">
        <h6><b> An expression of apprication </b></h6>
      <div class="regular slider">
        <div class="slide-border">
          <div class="slide-bg">
            <div class="video-play d-inline">
              <img src="assets/img/video-play.png" width="35" alt="" /> <br>
              <p>Rabout Dasouga<br>
              USA</p>
            </div>
            <div class="video-thumb">
            <img src="assets/img/testimonial-video-img.png" alt=""  width="80"/>
            </div>
        </div>
        </div>
        <div class="slide-border">
          <div class="slide-bg">
            <div class="video-play d-inline">
              <img src="assets/img/video-play.png" width="35" alt="" /> <br>
              <p>Rabout Dasouga<br>
              USA</p>
            </div>
            <div class="video-thumb">
            <img src="assets/img/testimonial-video-img.png" alt=""  width="80"/>
            </div>
        </div>
        </div>
        <div class="slide-border">
          <div class="slide-bg">
            <div class="video-play d-inline">
              <img src="assets/img/video-play.png" width="35" alt="" /> <br>
              <p>Rabout Dasouga<br>
              USA</p>
            </div>
            <div class="video-thumb">
            <img src="assets/img/testimonial-video-img.png" alt=""  width="80"/>
            </div>
        </div>
        </div>
        <div class="slide-border">
          <div class="slide-bg">
            <div class="video-play d-inline">
              <img src="assets/img/video-play.png" width="35" alt="" /> <br>
              <p>Rabout Dasouga<br>
              USA</p>
            </div>
            <div class="video-thumb">
            <img src="assets/img/testimonial-video-img.png" alt=""  width="80"/>
            </div>
        </div>
        </div>
        <div class="slide-border">
          <div class="slide-bg">
            <div class="video-play d-inline">
              <img src="assets/img/video-play.png" width="35" alt="" /> <br>
              <p>Rabout Dasouga<br>
              USA</p>
            </div>
            <div class="video-thumb">
            <img src="assets/img/testimonial-video-img.png" alt=""  width="80"/>
            </div>
        </div>
        </div>
        <div class="slide-border">
          <div class="slide-bg">
            <div class="video-play d-inline">
              <img src="assets/img/video-play.png" width="35" alt="" /> <br>
              <p>Rabout Dasouga<br>
              USA</p>
            </div>
            <div class="video-thumb">
            <img src="assets/img/testimonial-video-img.png" alt=""  width="80"/>
            </div>
        </div>
        </div>
        
      </div>
      </div> -->



        <div class="row">
          <div class="col-md-7"></div>
          <div class="col-md-5">
            <div class="discipline-lotus text-center"> <br>
              <img src="assets/img/footer-pond-lotus.png" class="img-fluid" />
            </div>
          </div>
        </div>

      </div>


      <div class="clearfix"></div>

    </section>


    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact mobile-contact">
      <!-- <div class="bottom-line">
        <img src="../../../assets/img/bottom-line.png" />
      </div> -->

      <div class="container">

        <!-- <div class="section-title">
          <h2>Contact</h2>
          <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>
        </div> -->
        <div class="contact-lotus">
          <img src="assets/img/contact-lotus-left.png" width="200" alt="" class="img-fluid" />
        </div>

        <div class="row" data-aos="fade-up">


          <div class="col-md-4 ">
            <h4 class="text-black"><b>GET IN TOUCH </b></h4>
            <p class="text-black">Fill the form with your query <br>
              or questions to reach us out</p>

          </div>

          <div class="col-md-8 mt-4 mt-lg-0 text-black">
            <form action="forms/contact.php" method="post" role="form" class="php-email-form w-100" data-aos="fade-up">

              <div class="form-group mt-3 d-flex">
                <span class="input-name"> Name&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                <input type="text" name="name" class="form-control" id="name" placeholder=" Name" required>
              </div>

              <div class="form-group mt-3 d-flex">
                <span class="input-name"> Email&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                <input type="email" name="name" class="form-control" id="name" placeholder=" Email" required>
              </div>


              <div class="row mt-3 d-flex">

                <div class="col-md-6 form-group d-flex">
                  <span class="input-name"> Phone&nbsp;&nbsp;&nbsp;&nbsp;</span>
                  <input type="text" name="name" class="form-control" id="name" placeholder="Phone No" required>
                </div>
                <div class="col-md-6 form-group mt-3 mt-md-0 d-flex">
                  <span class="input-name"> Country</span>
                  <input type="email" class="form-control" name="email" id="email" placeholder="Country" required>
                </div>
              </div>

              <div class="form-group mt-3 d-flex">
                <span class="input-name"> Query&nbsp;&nbsp;&nbsp;&nbsp;</span>
                <textarea class="form-control" name="message" rows="5" placeholder="Query" required></textarea>
              </div>
              <div class="form-group mt-3 d-flex">
                <span
                  class="input-name">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                <input type="checkbox" class="checkbox1"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<p
                  class="text-black" style="display: inline-block; font-size: 18px;">I authorize Traditional Yoga Volunteers to add me to the mailing list and contact me regarding upcoming courses, retreats, etc.</p>
              </div>
              <div class="my-3 d-flex">

                <div class="loading">Loading</div>
                <div class="error-message"></div>
                <div class="sent-message">Your message has been sent. Thank you!</div>
              </div>
              <div class="" style="margin-left: 80px;">
                <div type="submit" class="btn btn-secondary rounded-pill btn-sm btn-knowmore">Submit</div>
              </div>
            </form>
          </div>

        </div>

      </div>
    </section><!-- End Contact Section -->
    <footer>
      <div class="container-padding">
        <div class="row" style="margin-top: 80px">
          <div class="col-md-6">
            <div class="socialmedia-icons">
              <a href="https://www.youtube.com/channel/UC7ENvZuGXC4LV8ZkPpuNsng" target="blank"><span class="youtube">
                  <img src="assets/img/youtube-icon.png" alt="youtube" /> </span></a>
              <a href="https://www.facebook.com/TraditonalYoga/" target="blank"> <span class="fb"> <img
                    src="assets/img/facebook-icon.png" alt="facebook" /> </span></a>
              <a href="https://twitter.com/Traditiona1Yoga" target="blank"><span class="twitter"> <img
                    src="assets/img/twitter.png" alt="twitter" /> </span></a>
              <a href="https://www.instagram.com/traditionalyoga_us/" target="blank"> <span class="instagram"> <img
                    src="assets/img/instagram.png" alt="instagram" /> </span></a>
            </div>
          </div>

          <div class="col-md-6">
            <span data-bs-toggle="modal" data-bs-target="#exampleModalprivacy">
              <p class="float-right privacy-policy"> Privacy Policy</p>
            </span>
          </div>

        </div>
      </div>
    </footer>



    <!-- <a href="#" class="back-to-top d-flex align-items-center justify-content-center">
      <i class="bi bi-arrow-up-short"></i>
    </a> -->

  </main><!-- End #main -->


  <div class="modal fade" id="exampleModalprivacy" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="suitability">
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          <div class="modal-body about">

            <h1 class="text-center popup-name-guruji" style="font-size:40px"> <b>Privacy Policy</b></h1>

            <div class="row">


              <div class="col-md-4">
              </div>

              <!-- <div class="anikumar-img-popup1">
              <img src="assets/img/anikumar-aboutus-popup.png" alt="" class="img-fluid" />
            </div>   -->

              <div class="butter-fly-popup-about animate__animated animate__fadeInTopLeft animate__delay-3s">
                <img src="assets/img/Dragonfly-gif.gif" alt="" class="img-fluid dragon-fly" />
              </div>

              <div class="suitability-flower-popup">
                <img src="assets/img/about-right-content-flower.png" alt="" class="img-fluid">
              </div>
            </div>


            <div class="row guru-popup">
              <div class="about-popup-content">
                <p style="color:#232323;">This privacy policy outlines how we utilize personal information that is
                  collected at this site. We advise you to read this policy before submitting any personal information
                  or using the site.</p>

                <h5 style="color:#232323;"><b>Information Collection:</b></h5>
                <p style="color:#232323;">At our website, we collect personally identifiable information, such as names,
                  postal addresses, and email addresses, only when provided voluntarily by our visitors. The information
                  you provide is used solely to fulfill your specific request, unless you grant us permission to use it
                  in another way, such as adding you to a mailing list.</p>

                <h5 style="color:#232323;"><b>Cookie/Tracking Technology:</b></h5>
                <p style="color:#232323;">Our site may utilize cookie and tracking technology depending on the features
                  available. Cookie and tracking technology are useful for gathering information such as browser type,
                  operating system, and the number of visitors to the site, as well as for understanding how visitors
                  use the site. Cookies can also be helpful in customizing the site for visitors. It is important to
                  note that while cookies and other tracking technologies cannot collect personal information, if you
                  have provided personally identifiable information previously, cookies may be linked to this
                  information. Aggregate cookie and tracking data may be shared with third parties.</p>

                <h5 style="color:#232323;"><b>Processing of Usage Data:</b></h5>
                <p style="color:#232323;">Processing of usage data for both web visitors and customers may be undertaken
                  by us. This usage data could consist of various pieces of information, such as your IP address,
                  browser type and version, geographical location, operating system, referral source, page views, length
                  of visit, and website navigation paths. Additionally, data about the frequency, timing, and pattern of
                  your service use could also be collected. The sources of this usage data include Google Analytics,
                  Google Adwords, Facebook Advertising, and Mailchimp. We may process this usage data for the purpose of
                  analyzing the utilization of our website and services. Our legal basis for processing this data is
                  either explicit consent from users or our legitimate interests, specifically the monitoring and
                  improvement of our website and services.</p>

                <h5 style="color:#232323;"><b>Distribution of Information:</b></h5>
                <p style="color:#232323;">We may share information with governmental agencies or other companies in
                  order to assist us in fraud prevention or investigation. This may occur when it is either permitted or
                  required by law or when we are attempting to protect against or prevent actual or potential fraud or
                  unauthorized transactions, or investigating fraud that has already taken place. Please note that this
                  information is not provided to these companies for marketing purposes.</p>
                <h5 style="color:#232323;"><b>Commitment to Data Security:</b></h5>
                <p style="color:#232323;">Your personally identifiable information is kept secure. Only authorized
                  volunteers, agents and contractors (who have agreed to keep information secure and confidential) have
                  access to this information. </p>

                <h5 style="color:#232323;"><b>Full Disclosure in Ashram Culture:</b></h5>
                <p style="color:#232323;">In the context of Ashram culture, seeking a Guru indicates a sincere desire on
                  the part of a Yogi Aspirant to leave behind their cultural and intellectual baggage and be completely
                  transparent with the teacher. This enables the teacher to provide guidance on all aspects of life.
                  It is important to note that if you are selected for any of the Yoga Courses offered by Traditional
                  Yoga, intentionally withholding information that may impede your progress on the path is not
                  permitted. Please be aware that failure to fully disclose pertinent information may result in removal
                  from the program(s). The purpose of requesting this information is to facilitate your growth on the
                  path and help you heal body, mind, and soul.
                </p>


                <h5 style="color:#232323;"><b>Updates/ Modifications:</b></h5>
                <p style="color:#232323;">Your use of the site indicates your acceptance of the practices outlined in
                  this privacy policy. Although these practices may be revised, any modifications will be published and
                  will only be applied to activities and information on a prospective, not retrospective, basis. It is
                  recommended that you review the privacy policy each time you visit the site to ensure your
                  understanding of how your personal information will be used.
                  Please note that the privacy practices stated in this policy are specific to this website only. If you
                  visit other websites through links on our site, please refer to the privacy policies published on
                  those sites.
                </p>
                <h5 style="color:#232323;"><b>Contact Information:</b></h5>
                <p style="color:#232323;">If you have any questions, concerns, or comments about our privacy policy,
                  please feel free to contact us using the information below:
                  <br><br> E-mail: [xxx]<br><br>
                  Please note that we reserve the right to make changes to this policy, which will be posted on our
                  website.
                </p>


              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>



  <div class="back-to-top d-flex align-items-center justify-content-center" *ngIf="isShow" (click)="gotoTop()">
    <i class="bi bi-arrow-up-short"></i>
  </div>

  <!-- Vendor JS Files -->
</body>




<!-- Landing page end - Shekar -->

