

/*  Landding page styles - Shekar  */

@media screen and (max-width: 1600px) {

}


@media screen and (max-width: 1440px) {

}



@media screen and (max-width: 1400px) {
   
    .logo {
        margin-top: -100px;
    }

}




@media screen and (max-width: 1280px) {
    .about-icons {
        position: relative;
    top: 200px;
    }
    .about-butter-fly{
        right: -120px;
        float: right;
        top: -160px;
    }
    .offerings-circle{
        margin-left: 0px;
    }
    .offering-flower img{
        left: -80px;
    }
    .mumuksha-msg-circle{
        width: 550px;
        height: 550px;
        top: 70px;
    }
    .mumuksha-msg-circle2{
        width: 530px;
        height: 530px;
    }
    .mumuksha-msg-quote{
        top: 7%;
    }
}



@media screen and (max-width: 1024px) {

    .login-line {
        margin-top: 20%;
    }
    .about-ty{
        top: -120px;
    }
    .guriji-mesg-flowers {
        top: 30%;
    }
    .offerings-circle{
        margin-left: 0px;
    }
    .about-butter-fly{
        right: 60px;
        float: right;
        top: -350px;
        }
    h1 {
        font-size: 40px;
    }
    #logo-section { padding-bottom: 0px;}
    .faq-quote{
        padding: 9% 20px;

    }
}

@media screen and (max-width: 991px) {
    .donation-btn {
        width: 100%;
        text-align: center;
        float: left;
        padding-top: 20px;
        padding-left: 20%;
        padding-right: 20%;
    }
    .vedic-ty {
          padding: 40px;
    }
    .offerings-circle{
        margin: 0px auto;
    }
    .offering-flower img{
        left: 100%
    }
    #vedic-nutricals {
        top: 100px;
    }
    .btn-knowmore  {
        margin-bottom: 30px;
    }
}
@media screen and (max-width: 850px) {
    .offering-flower img{
        left: 60%
    }
}
@media screen and (max-width: 768px) {
    .login-line {
        margin-top: 25%;
        left: 10px;
    }
    #hero{
        top: -50px;
    }
    .guriji-mesg-flowers {
        top: 25%;
    }

    .offering-flower img{
        left: 30%
    }
    .about-circle1 {
        left: -60px;
    }
    .mumuksha-msg-circle{
        width: 450px;
        height: 450px;
        top: 70px;
    }
    .mumuksha-msg-circle2{
        width: 430px;
        height: 430px;
    }
    .mumuksha-msg-quote{
        top: 5%;
    }
    .mumuksha-msg-circle {
        left: 20%;
    }
    .contact-lotus-flower{
        width: 200px;
    }
    .contact {
        margin-top: 50px;
    }
    .login-donations {
        top:28%
    }
    .donation-circle {
        width: 560px;
        height: 560px;
    }
    .donate-circle2{
    width: 570px;
    height: 570px;
    }
    .donars-region {
        padding-top: 10%;
    }
    .donation-circle-flower {
        position: absolute;
        right: 0px;
        top: 360px;
    }
    .about-popup-content{
        width: 100%;
    }
    .offer-ty {
        padding: 50px 10px;
    }
    .code-of-conduct-tails {
        margin-bottom: 70px;
    }

}
@media screen and (max-width: 650px) {
    .offering-flower img{
        width: 120px;
        left: -4%;
    }
    .flower-top{
        width: 50%;
        position: relative;
        left: 115px;
    }
    .butter-fly {
        position: absolute;
        top: 17px;
        right: 95px;
        width: 65px;
    }
    .flower-left {
        width: 40px;
    }
    .login-icon {
        width: 45px;
        margin-left: 22px;
    }
   
    #vedic-nutricals {
        padding-bottom: 400px;
    }
    .river-flower {
        left: 55px !important;
        margin-top: 102px;
    }
    .contact-lotus {
        width: 60px;
    }
    .offer-box1, .offer-box2 {
        border-radius: 40px;
        width: 94%;
        margin-bottom: 20px;
        float: none;
    }
    .offer-box3 {
        border-radius: 40px;
        width: 94%;
        float: none;
        top: -185px;
    }
    .access-old-scriptures  { 
        width: 180px;
    position: relative;
    top: -54px;
    right: -25px;
    float: right;
    margin-top: 43px;
      }
      .upcoming-left { padding-left: 0%;
        text-align: center;
        margin-top: -5px;
    }
      .upcoming-left-img { position: relative; left:-8%; top:-150px;}
      .offerings-butter-fly {
        position: absolute;
          top: 114px !important;
          left: 190px !important;
      }
      .river-offerings { 
        position: absolute;
          z-index: 1;
          top: -40px;
          width: 100%;
          right: -20px;
      }
    .ouraim-block {
        margin-top: 30px;
    }
    .charity-block {
        margin-bottom: 30px;
       }
       #upcoming-courses-section { padding-top: 100px !important; margin-top: -50px;}
       .socialmedia-icons, .privacy-policy {
        text-align: center !important;
    float: none !important;
    margin-top: 40px;

       }
}


@media screen and (max-width: 575px) {
    .login-box {
        position: absolute;
        top: 25%;
        right: 2%;
        width: 80px;
        float: right;
    }
    .login-line {
        margin-top: 20%;
        left: 25px;
    }
    .guriji-mesg-flowers {
        top: 22%;
    }
    .about-ty {
        width: 80%;
        margin-top: 55px;
        left: 2px;
    }
    .about-icons {
        position: relative;
        bottom: 0px;
        top: 500px;
        left: 0px;
        right: 0px;
    }
    .about-flower img {
        width: 60%;
    }
    .about-flower {
        position: relative;
        left: 0px;
        float: left;
        z-index: +99;
        top: 0px; 
        right: 0px;
    }
    .about-butter-fly {
        left: -235px;
        float: left;
        top: -29px;
        width: 65px;
    }
    .youtube-channel-btn { 
        margin-left: 26%;
        margin-top: -184px;}
      
     .logo {
            margin-top: -112px;
            margin-left: 27px;    
    
        }
        #hero {
            top: -70px;
        }
        .about-us-ty { 
            border-radius: 40px;
          background-color: #9aa6b0;
          background-image:  url(../../assets/img/about-bg.png) !important;
          background-repeat: no-repeat;
          background-size: 100%;
          background-position: bottom right;
          position: relative;
              width: 90%;
              margin-top: 50px !important;
              margin: 0px auto;
          }

          .about-us-ty-content, .about-us-ty-content h6{
            padding: 50px 40px 130px 40px;
            color: #fff;
           
          }
          .faq-quote {
            width: 350px;
            height: 350px;
            background: #4c717f;
            border-radius: 50%;
            text-align: center;
            padding: 35% 35px;
            margin: 0px auto;
            color: #fff;
          }
          .faq-circle {
            position: relative;
            top: -70px;
          }
          .aboutriver-flower { 
            position: relative;
            left: 290px;
            top: 5px;
            float: right;
            width: 140px;
          
          }

          h1 {
            margin: 0 0 15px 0;
            font-size: 38px;
            line-height: 46px;
            color: #5f7987;
            font-weight: normal;
            font-family: 'Moderrat', sans-serif;
            letter-spacing: 1px;
          }
          .mentor-circle12{
            background-color: transparent;
              border-radius: 50%;
              width: 400px;
              height: 400px;
              /* top: -50px; */
              border: 1px solid #fff;
              position: relative;
              top: -1%;
          }
          .mentor-circle {
            background-color: transparent;
              border-radius: 50%;
              width: 380px;
              height: 380px;
              /* top: -50px; */
              border: 1px solid #fff;
              position: relative;
              top: 2%;
          }
          .vedic-right-lotus {
            position: absolute;
            right: 0%;
            width: 100px;
            top: 200px;
          }
          .mentor-quote {
            padding: 58px;
            position: relative;
            top: 90px;
            font-size: 18px;
            color: #fff; 
        }
        .mentor-block { 
            border-radius: 40px;
          background-color: transparent;
          padding: 50px 40px;
          border: 1px solid #fff;
          position: relative;
          width: 90%;
          float: right;
          color: #fff;
          left: -18px;
          top: 76px;
          }
          .yoga-guidelines {
            border-radius: 40px;
            background-color: transparent;
            padding: 50px 40px;
            border: 1px solid #fff;
            position: relative;
            width: 90%;
            margin: 0px auto;
            top: 20px;
            vertical-align: top;
        }
          .anikumar-img { 
            position: absolute;
              bottom: 0%;
              left: 10%;
          }
          .guidelince {
            position: relative;
            top: 40px;}
            .river-about {
                position: absolute;
                z-index: 1;
                bottom: -6px;
                width: 100%;
                right: -20px;
            }
            .about-yoga-healing-flower {
                position: relative;
                top: -53px;
                left: 25px;
                width: 120px;
            }
            .mumuksha-top{
                margin-top:-36px;
                margin-left: -50px;
              }  

}

@media screen and (max-width: 530px) {
    .offer-box { 
        border-radius: 40px;
        background-color: transparent;
        padding: 10% 12%;
        border: 2px solid #98a6b1;
        position: relative;
        width: 100%;
        margin: 0px auto;
        vertical-align: top;
      
      }

      .offering-circle {
        background-color: #fff;
        border-radius: 50%;
        width: 390px;
        height: 390px;
        margin-top: 10px;
        margin: 0px auto;
        position: relative;
          left: -1%;
          top: 10px;
      }
      .offering-circle1 {
        background-color: transparent;
        border-radius: 50%;
        width: 370px;
        height: 370px;
        /* top: -50px; */
        border: 1px solid #000;
        position: relative;
        left: -120px;
        margin: 0px auto;
      }

    .offerings-circle2 {
        width: 420px;
        height:420px;
    }
    .offerings-circle{
        width: 400px;
        height: 400px;
    }
    .offerings-text {
        padding-left: 100px;
        padding-top: 50px;
        position: relative;
        top: 00px;
    }
    .offerings-text ul li {
        line-height: 40px;
    }
    .river-offerings2 { 
        position: absolute;
          z-index: 1;
          bottom: -10%;
          width: 100%;
          right: -20px;
      }
    .about-circle1 {
        left: -30px
    }
    .mumuksha-msg-circle{
        width: 350px;
        height: 350px;
        top: 70px;
    }
    .mumuksha-msg-circle2{
        width: 330px;
        height: 330px;
    }
    .mumuksha-msg-quote{
        top: 5%;
    }
    .mumuksha-msg-quote {
        padding: 50px;
    }
    .contact-lotus-flower{
        width: 150px;
    }
    .discipline-text{
        width: 400px;
        height: 350px;
        margin-top: -114px;
        padding: 0px 20px;
      }
.river-bg2 { position: absolute; z-index: 1; text-align: right;     left: 24px;     top: 249px;}
.upcoming-squarebox {
    border-radius: 40px;
    background-color: #d0d9de;
    padding: 10px 20px;
    position: relative;
    float: right;
    right: -6%;
    width: 85%;
    margin-top: 0px;
  
  }
  .login-donations {
    top:20%
  }
  #our-aim{
    padding-bottom: 100px;
  }
  .offerings-padding {
    padding-bottom: 0px !important;
  }
  .ouraim-circle{
    left: -12px;
    top: -43px;
   }
   .charity-block {
    padding: 45px 20px;
   }

   .charity-circle12{
    width: 360px;
    height: 350px;
    top: -68px;
    left: 20px;
   }
   .charity-quote {
    padding: 10px;
   }
   .donars-region h1{
    padding-bottom: 0px;
   }
   .upcoming-courses-content
   {
    padding: 50px 20px 40px 20px;
   }
   .courses-booking-confirm .about-icons  {
    top: 0px;
   }
<<<<<<< HEAD
   .courses-box2, .courses-details-info {
    border-radius: 40px;
   }
   .courses-right-lotus{
    width: 120px;
   }
   #courses-list {
    padding-bottom: 150px !important;
   }

=======
   .ouraim-block { 
    border-radius: 40px;
    background-color: #d0d9de;
    padding: 40px 40px;
    border: 1px solid #fff;
    position: relative;
      width: 100%;
      float: right;
    }
    .donations-right-lotus {
        position: absolute;
          right: -5%;
          width: 200px;
          bottom: -3%;
        }
        .charity-block { 
            border-radius: 40px;
            background-color: #d0d9de;
            padding: 40px 50px;
            position: relative;
              width: 85%;
            left: 10%;
            margin-top:10%;
            }
>>>>>>> 82f42506544ce9d39ac378daeb4a8061255e3c58
}


@media screen and (max-width: 450px) {
    
    .guriji-mesg-flowers {
        top: 13%;
    }
    .donate-circle2 {
        width: 400px;
        height: 400px;
    }
    .donation-circle {
        width: 400px;
        height: 400px;
    }
    .mumuksha-msg-circle {
        width: 335px;
        height: 335px;
       }
    .charity-block {
        width: 95%;
        left: 3%;
        top:-86px;
    }
    .contact {
        margin-top: 110px;
        padding-top: 0px;
    }

    .about-circle1{
        width: 340px;
        height: 340px;
    }
    .about-circle{
        width: 330px;
        height: 330px;
    }
    .about-quote {
        top: 30px;
    }
    .slick-slide {
        margin: 0px 0px !important;
    }
    .slide-bg .video-thumb{
        width: 80px;
    }
    section {
        padding: 30px 0;
    }
    .logo {
    margin-top: -122px;
    }
    h1 {
        margin: 0 0 15px 0;
        font-size: 28px;
    }
}

@media screen and (max-width: 400px) {

}


