

/*  Landding page styles - Shekar  */

@media screen and (max-width: 1600px) {

}


@media screen and (max-width: 1440px) {

}



@media screen and (max-width: 1400px) {
   
    .logo {
        margin-top: -166px;
    }

}




@media screen and (max-width: 1280px) {
    .about-icons {
        position: relative;
    top: 200px;
    }
    .about-butter-fly{
        right: -120px;
        float: right;
        top: -160px;
    }
    .offerings-circle{
        margin-left: 0px;
    }
    .offering-flower img{
        left: -80px;
    }
    .mumuksha-msg-circle{
        width: 550px;
        height: 550px;
        top: 70px;
    }
    .mumuksha-msg-circle2{
        width: 530px;
        height: 530px;
    }
    .mumuksha-msg-quote{
        top: 7%;
    }
}



@media screen and (max-width: 1024px) {

    .login-line {
        margin-top: 20%;
    }
    .about-ty{
        top: -120px;
    }
    .guriji-mesg-flowers {
        top: 30%;
    }
    .offerings-circle{
        margin-left: 0px;
    }
    .about-butter-fly{
        right: 60px;
        float: right;
        top: -350px;
        }
    h1 {
        font-size: 40px;
    }
    #logo-section { padding-bottom: 0px;}
    .faq-quote{
        padding: 9% 20px;

    }
}

@media screen and (max-width: 991px) {
    .donation-btn {
        width: 100%;
        text-align: center;
        float: left;
        padding-top: 20px;
        padding-left: 20%;
        padding-right: 20%;
    }
    .vedic-ty {
          padding: 40px;
    }
    .offerings-circle{
        margin: 0px auto;
    }
    .offering-flower img{
        left: 100%
    }
    #vedic-nutricals {
        top: 55px;
    }
    .btn-knowmore  {
        margin-bottom: 30px;
    }
}
@media screen and (max-width: 850px) {
    .gallery-circle {
        background: #5f7983;
        border-radius: 100%;
        width: 350;
        height: 350;
        padding: 27% 25%;
        text-align: center;
        margin-left: -23%;
        margin-top: -22px;
        position: relative;
        z-index: +999;
        font-size: 14px;
    }
    .audio-flower-popup1 {
        position: absolute;
        right: -64px;
        z-index: +9;
        top: 30%;
        text-align: right;
    }
    .flowerleft{
        left:4px !important;
        top:220px !important;
    }
    .courses-booking-butter-fly {
        position: relative;
        top: 83px;
        left: 48px;
    }
    .guru-popup {
        margin-top: 100px; 
        padding:30px;      
    }
    .anikumar-img-popup1 {
        width: 65%;
        position: absolute;
        right: -65px;
        top: 4%;
    }
    .about-quote-popup {
        padding: 45px 65px;
        position: relative;
        top: 29px;
        font-size: 18px;
    }
    .popup-circle12 {
        background-color: transparent;
        border-radius: 50%;
        width: 400px;
        height: 400px;
        /* top: -50px; */
        border: 1px solid #5f7986;
        position: relative;
        top: -1%;
    }
    .about-circle-popup {
        background-color: #b7c3c9;
        border-radius: 50%;
        width: 380px;
        height: 380px;
        top: -50px;
        position: relative;
        left: -100px;
    }
    .popup-name-guruji1 {
        position: relative;
        top: 112px;
        font-size: 32px;
        left: 153px;
    }
    .modal-content {
        background: #d0d9de;
        border-radius: 60px;
    }
    .butter-fly-popup-about {
        position: absolute;
        right: 100px;
        /* float: right; */
        z-index: +99;
        margin-top: -40px;
        text-align: right;
    }
    .popup-name-guruji {
        position: relative;
        top: 125px;
        font-size: 32px;
    }
    .guru-popup-video {
        margin-left: 86px;
        margin-bottom: 50px;
        margin-top: 100px;
    }
    .donate-nowoffer {
        margin-top: 5%;
        padding-left: 8%;
    }
    .offering-flower img{
        left: 60%
    }
    .login-donations {
        top: 0%;
    }
    .vedic-ty {
        border-radius: 60px;
        background-color: #d0d9de;
        padding: 40px 60px 120px 60px;
        position: relative;
        width: 80%;
        margin: 0px auto;
        border: 1px solid #677658;
    }

    .mumuksha-msg-circle {
        background-color: transparent;
        border-radius: 50%;
        border: 1px solid #fff;
        width: 450px;
        height: 450px;
        top: 56px;
        position: relative;
        left: 54%;
        right: 0px;
    }
    .mumuksha-msg-circle2 {
        background-color: transparent;
        border-radius: 50%;
        border: 1px solid #fff;
        width: 430px !important;
        height: 430px !important;
        position: relative;
        left: -5px;
    }
    .donationlogin-line {
        position: relative;
        float: right;
        margin-top: 11%;
        left: 14px;
    }
    #our-aim {
        z-index: +99;
        position: relative;
        margin-top: -55px;
        padding-bottom: 50px;
    }
    .donations-right-lotus {
        position: absolute;
        right: -5%;
        width: 233px;
        bottom: -21%;
    }
    .charity-block {
        border-radius: 60px;
        background-color: #d0d9de;
        padding: 45px 60px;
        position: relative;
        width: 100%;
        left: 0%;
        margin-top: 2%;
        border: 1px solid rgb(255, 255, 255);
    }
    .ouraim-circle {
        background-color: transparent;
        border-radius: 50%;
        width: 300px;
        height: 300px;
      top: -20px;
        border: 1px solid #5b5b5b;
        position: relative;
        bottom: 0px;
        left: -58px;
    }
    .ouraim-circle1 {
        background-color: transparent;
        border-radius: 50%;
        width: 300px;
        height: 300px;
      top: -20px;
        border: 1px solid #5b5b5b;
        position: relative;
        bottom: 0px;
        left: -58px;
    }
    .ouraim-circle12 {
        background-color: transparent;
        border-radius: 50%;
        width: 320px;
        height: 300px;
       top: -50px;
        border: 1px solid #5b5b5b;
        position: relative;
        top: -1%;
    }
    .ouraim-quote {
        padding: 48px;
        position: relative;
        top: 40px;
        font-size: 16px;
        color: #fff;
    }
    .vedic-nutrical-circles-block {
        position: absolute;
        bottom: -5px;
        left: 29px;
    }
    .vedic-nutrical-quote {
        position: relative;
        top: 38px;
        left: 20px;
        z-index: 9;
    }
    .vn-quote {
        padding: 32px 100px;
        position: relative;
        top: 13%;
    }
    .vn-circle {
        background-color: #cbd7c1;
        border-radius: 50%;
        width: 460px;
        height: 460px;
        position: relative;
        left: 155px;
        opacity: 0.5;
        top: 0%;
        box-shadow: 5px 8px 5px 5px #232323;
    }
    .vnvertical-align {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        padding-top: 10px;
    }
    .toppadding {
        margin-top: -137px;
    }
       .faq-quote {
        width: 320px;
        height: 320px;
        background: #4c717f;
        border-radius: 50%;
        text-align: center;
        padding: 15% 30px;
        margin: 0px auto;
        color: #fff;
    }
    .faqlogin-line {
        position: relative;
        float: right;
        margin-top: 26%;
        left: 13px;
    }
    h1 {
        font-size: 34px;
    }
    .donate-circle2 {
        background-color: transparent;
        border-radius: 50%;
        width: 525px;
        height: 525px;
        /* top: -50px; */
        border: 1px solid #fff;
        position: relative;
        left: 16px;
        top: -1%;
    }
    .donation-circle {
        background-color: #b9c3b5;
        border-radius: 50%;
        width: 510px;
        height: 510px;
        margin: 0px auto;
        position: relative;
    }
    .donars-region {
        padding: 30%;
        padding-top: 18%;
    }
    .about-guruji-quote {
        position: relative;
        top: -23%;
        left: 7%;
    }
    .ouraim-block {
        border-radius: 60px;
        background-color: #d0d9de;
        padding: 50px 60px;
        border: 1px solid #fff;
        position: relative;
        width: 100%;
        float: right;
    }
    .login-line-aboutus {
        position: relative;
        float: right;
        margin-top: 88px;
        left: 14px;
    }
    .about-us-ty-content, .about-us-ty-content h6 {
        padding: 80px 90px 316px 90px;
        color: #fff;
    }
    .anikumar-img {
        position: absolute;
        top: -12px;
        left: 26%;
        width: 50%;
    }
    .aniltext {
        margin-top: 513px;
        margin-left: 0px;
        padding: 37px;
    }
    .mentor-block {
        border-radius: 60px;
        background-color: transparent;
        padding: 60px;
        border: 1px solid #fff;
        position: relative;
        width: 90%;
        left: -44px;
        float: right;
        color: #fff;
    }
    .yoga-guidelines {
        border-radius: 60px;
        background-color: transparent;
        padding: 60px 70px;
        border: 1px solid #fff;
        position: relative;
        width: 90%;
        margin: 0px auto;
        vertical-align: top;
    }
    .aboutriver-flower {
        position: relative;
        left: 245px;
        top: -126px;
        float: right;
    }
    .login-line {
        position: relative;
        float: right;
        margin-top: 26%;
        left: 2%;
    }
    .homeofferings-circle {
        background-color: #aab6ba;
        border-radius: 50%;
        margin: 0px auto;
        width: 520px;
        height: 520px;
        top: -50px;
        margin-top: 0px;
        margin-left: 140px;
    }
    .offering-flower {
        position: absolute;
        right: 82%;
    }
    .landingbtn {
        padding-left: 1%;
    }
    .slider {
        width: 85% !important;       
        margin-left: 58px !important;
        margin-top: 25px !important;    
    }
    .testmonials {
        margin-top: 14px;
    }
    .river-bg2 {
        position: absolute;
       z-index: 1; 
        text-align: right;
        top: 72%;
    }
    .homeleftmargin {
        margin-left: 88px;
    }
    .discipline-text {
        width: 272px;
        height: 350px;
        margin-top: -40%;
    }
    .upcoming-squarebox1 {
        border-radius: 40px;
        background-image: linear-gradient(212deg, #8d9c8a 55%, #627d5c 55%);
        position: relative;
        height: 390px;
        right: -6%;
        width: 100%;
    }

    .text-ty1 {
        color: #5f7987 !important;
        margin-left: 125px;
        width: 70%;
    }
    .charity-circle12 {
        background-color: #95a68c;
        border-radius: 50%;
        width: 460px;
        height: 450px;
        position: relative;
        left: 49px;
        /* top: -35%; */
        box-shadow: 5px 8px 5px 5px #737c6b;
        margin-top: 83px;
    }
    .courses-box2 {
        border-radius: 40px;
        background-color: transparent;
        padding: 6% 7%;
        border: 2px solid #617987;
        position: relative;
        width: 100%;
        margin: 0px auto;
        vertical-align: top;
        Float: right;
        background: #b0c6cc;
    }
    .courses-format {
        margin-top: -691px;
    }
    .about-icons {
        position: relative;
        top: 27%;
        left: -81px;
    }
    .about-us-ty {
        border-radius: 60px;
        background-color: #9aa6b0;
        background-image: url(../../assets/img/about-bg.png) !important;
        background-repeat: no-repeat;
        background-position: bottom right;
        position: relative;
        width: 90%;
        margin-top: 50px !important;
        margin: 0px auto;
        border: 1px solid #d7dde3;
    }
    .offerline {
        position: relative;
        float: right;
        margin-top: 21%;
        left: 2%;
    }
    .offering-circle {
        background-color: #fff;
        border-radius: 50%;
        width: 390px;
        height: 390px;
        margin-top: 10px;
        margin: 0px auto;
        position: relative;
        left: 3%;
        top: 30px;
    }
    .donate-now {
        margin-top: 5%;
        padding-left: 7%;
    }
    .offer-box1 {
        border-radius: 60px;
        background-color: transparent;
        padding: 8% 10%;
        border: 2px solid #ccd7dd;
        position: relative;
        width: 90%;
        margin: 0px auto;
        vertical-align: top;
        Float: right;
        left: -5%;
        color: #fff;
    }
    .offer-box2 {
        border-radius: 60px;
        background-color: transparent;
        padding: 8% 10%;
        border: 2px solid #ccd7dd;
        position: relative;
        width: 100%;
        margin: 0px auto;
        vertical-align: top;
        Float: right;
        color: #fff;
        top: 0px;
    }
    .offer-box21 {
        border-radius: 60px;
        background-color: transparent;
        padding: 8% 10%;
        border: 2px solid #ccd7dd;
        position: relative;
        width: 100%;
        margin: 0px auto;
        vertical-align: top;
        Float: right;
        color: #fff;
        top: 0px;
    }
    .offer-box3 {
        border-radius: 60px;
        background-color: transparent;
        padding: 8% 10%;
        border: 2px solid #ccd7dd;
        position: relative;
        width: 140%;
        margin: 0px auto;
        vertical-align: top;
        Float: right;
        color: #fff;
        left: 144px;
    }
    .offerings-butter-fly {
        position: absolute;
        top: 300px;
        left: 90px;
    }
    .offerings-padding {
       padding-bottom: 5px !important; 
    }
    .list-circle {
        background: #dde5ed;
        padding: 45px;
        border-radius: 50%;
        width: 160px;
        height: 160px;
        margin: 0px auto;
        text-align: center;
    }
    .courses-image {
        width: 70%;
        margin: 0px auto;
        position: relative;
        margin-bottom: 40px;
    }
    .coursecontact-lotus-flower {
        position: absolute;
        /* left: -10%; */
        width: 194px;
        top: 78%;
    }
    .booking-confrm{
        margin-top: -35px;
    }
    .upcoming-courses-booking {
        border-radius: 60px;
        background-color: #e7ebee;
    }
    .enrollclass {
        padding: 20px;
        margin-top: 6px;
        margin-bottom: 66px;
    }
    .btn-knowmore {
        margin-bottom: 0px;
    }
    .enrole-buttons {
        text-align: center;
        margin-top: -45px;
    }
    .privacy-popup-content {
        width: 100%;
        margin-top: 20px;
    }
    .butter-fly-popup-privacy {
        position: absolute;
        right: 100px;
        /* float: right; */
        z-index: +99;
        margin-top: 314px;
        text-align: right;
    }
    .pt-0, .pt-1,.pt-11, .pt-13, .pt-5,.pt-7, .pt-9 {
        padding-top: 0px !important;
    }
    .river-about {
        position: absolute;
        z-index: 1;
        bottom: 0px;
        width: 100%;
        right: -20px;
        z-index: 1;
    }
    .toppad{
        margin-top: -3%;
    }




.desktop-view { display: none;}
.mobile-view { display: block;}
.mobile-mt-3  { margin-top: 1rem;}
.mobile-contact { margin-top: -67px !important;}
.about-anilkumar-block  { padding-bottom: 200px;}
.courses-col1 {    padding: 20px 20px;
    border-right: 1px solid #4c717f;
    height: 525px;
}
.float-none { float: none !important;}
.m-order-2 { order: 2;}
}
@media screen and (max-width: 768px) {
    .login-line {
        margin-top: 25%;
        left: 10px;
    }
    #hero{
        top: -50px;
    }
    .guriji-mesg-flowers {
        top: 25%;
    }

    .offering-flower img{
        left: 30%
    }
    .about-circle1 {
        left: -60px;
    }
    .mumuksha-msg-circle{
        width: 450px;
        height: 450px;
        top: 70px;
    }
    .mumuksha-msg-circle2{
        width: 430px;
        height: 430px;
    }
    .mumuksha-msg-quote{
        top: 5%;
    }
  
    .contact-lotus-flower{
        width: 200px;
    }
    .contact {
        margin-top: 50px;
    }
   
    .login-donations {
        top:28%
    }
    .donation-circle {
        width: 560px;
        height: 560px;
    }
    .donate-circle2{
    width: 570px;
    height: 570px;
    }
    .donars-region {
        padding-left: 25%;
    }
    .donation-circle-flower {
        position: absolute;
        right: 0px;
        top: 360px;
    }
    .about-popup-content{
        width: 100%;
        margin-top: 200px;
    }
    .offer-ty {
        padding: 50px 10px;
    }
    .code-of-conduct-tails {
        margin-bottom: 70px;
    }

}
@media screen and (max-width: 650px) {
    .offering-flower img{
        width: 120px;
        left: -4%;
    }
    .flower-top{
        width: 50%;
        position: relative;
        left: 115px;
    }
    .butter-fly {
        position: absolute;
        top: 17px;
        right: 95px;
        width: 65px;
    }
    .flower-left {
        width: 40px;
    }
    .login-icon {
        width: 45px;
        margin-left: 22px;
    }
   
    #vedic-nutricals {
        padding-bottom: 400px;
    }
    .river-flower {
        left: 221px !important;
        width: 150px;
         top: -2px;       
    }
    .contact-lotus {
        width: 60px;
    }
    .offer-box1 {
        border-radius: 40px;
        width: 90%;
        margin-bottom: -20px;
        margin-top: -78px;
        float: none;
    }
   .offer-box2 {
        border-radius: 40px;
        width: 90%;
        margin-bottom: 20px;
        float: none;
    }
    .offer-box3 {
        border-radius: 40px;
        width: 94%;
        float: none;
        top: -185px;
    }
    .access-old-scriptures  { 
        width: 150px;
        position: relative;
        top: -54px;
        right: -133px;
        float: right;
        margin-top: 108px;
      }
      .upcoming-left { padding-left: 0%;
        text-align: center;
        margin-top: 0px;
    }
      .upcoming-left-img { position: relative; left:-8%; top:-99px;}
      
      .home-left-img { position: relative; left:-8%; top:72px;}
      .offerings-butter-fly {
        position: absolute;
          top: 126px !important;
          left: 86px !important;
      }
      .river-offerings { 
        position: absolute;
          z-index: 1;
          top: 33px;
          width: 100%;
          right: -20px;
      }
      .offerriver-flower {
        position: relative;
        left: 0;
        top: -189px;
        float: right;
    }
   
    .ouraim-block {
        margin-top: 30px;
    }
    .charity-block {
        margin-bottom: 30px;
       }
       #upcoming-courses-section {
         padding-top: 100px !important; 
         margin-top: -50px;}
       .socialmedia-icons, .privacy-policy {
        text-align: center !important;
    float: none !important;
    margin-top: 40px;

       }
       #programs-funded{
        margin-top: -100px;
    }

       }



@media screen and (max-width: 575px) {
    .audio-flower-popup1 {
        position: absolute;
        right: -64px;
        z-index: +9;
        top: 33%;
        text-align: right;
    }
    .aboutpadding {
        padding-left: 0px;
        padding-right: 0px;
    }
    .flowerleft{
        left:5px !important;
        top:0px !important;
    }
    .toppad {
        margin-top: -9%;
    }
    .butter-fly-popup-privacy {
        position: absolute;
        right: 100px;
        /* float: right; */
        z-index: +99;
        margin-top: 568px;
        text-align: right;
    }
    
        .vedic-ty { 
          border-radius: 40px;
        background-color: #d0d9de;
        padding: 40px 40px 100px 40px;
        position: relative;
        width: 90%;
        margin: 0px auto;
        }
        .login-line-aboutus {
            position: relative;
            float: right;
            margin-top: 96px;
            left: 27px;
        }
        .mumuksha-msg-circle2 {
            background-color: transparent;
            border-radius: 50%;
            border: 1px solid #fff;
            width: 320px !important;
            height: 320px !important;
            position: relative;
            left: -5px;
        }
    .faqlogin-line {
        position: relative;
        float: right;
        margin-top: 24%;
        left: 22px;
    }
    .popup-videoicon {
        margin-left: 124px;
        margin-top: 111px;
    }
    .popup-name-guruji {
        position: relative;
        top: 55px;
        font-size: 30px;
    }
    .modal-content {
        background: #d0d9de;
        border-radius: 40px;
        width: 90%;
        left: 20px;
           }
    .login-box {
        position: absolute;
        top: 25%;
        right: 2%;
        width: 80px;
        float: right;
    }
    .faqlogin-box {
        position: absolute;
        top: 25%;
        right: 2%;
        width: 80px;
        float: right;
        z-index: +99;
    }
    .vnvertical-align {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        padding-top: 10px;
    }
    .vn-quote {
        padding: 6px 60px;
        position: relative;
        top: 11%;
    }
    .vn-circle {
        background-color: #cbd7c1;
        border-radius: 50%;
        width: 370;
        height: 370;
        position: relative;
        left: 5%;
        top: 15px;
        box-shadow: 5px 8px 5px 5px #232323;
    }
    .offer-box3 {
        border-radius: 40px;
        width: 175%;
        float: none;
        top: -185px;
        left: 10px;
        padding: 30px;
    }
    .donars-region {
        padding: 10% 22%;      
    }
    .programs {
        padding-top: -15px !important;
        margin-top:-30px;
        border-left: 1px solid #bdc8b6;}
    .offerlogin-box {
        position: absolute;
        top: 0%;
        right: 2%;
        width: 80px;
        float: right;
    }
    .offerline {        
        top: -43px;       
    }
    .donations-flower {
        position: relative;
            left: 50%;
            float: left;
            z-index: +99;
            top: 25px;
            width: 140px;
        }

    .about-flower-popup {
        position: absolute;
          right: -70px;
    margin-top: 75px;
          z-index: +99;
       
          text-align: right;
      }
      .about-flower-popup1 {
        position: absolute;
          right: -70px;
    margin-top: 75px;
          z-index: +99;
       
          text-align: right;
      }
      .about-flower-popup12 {
        position: absolute;
          right: -70px;
    margin-top: 75px;
          z-index: +99;
       
          text-align: right;
      }
      .butter-fly-popup-about1 {
        position: absolute;
        right: -9px;
        /* float: right; */
        z-index: +99;
        top: 15%;
        text-align: right;
        margin-top: 4px;
    }
    .guru-popup-video1 {
        margin-left: 0px;
        margin-bottom: 30px;
      margin-top: 30px;
    }
      .butter-fly-popup-about {
        position: absolute;
          right: -9px;
          /* float: right; */
          z-index: +99;
          top: 15.5%;
          text-align: right;
          margin-top: 22px;
      }
      .butter-fly-popup-aboutpop {
        position: absolute;
          right: -9px;
          /* float: right; */
          z-index: +99;
          top: 15.5%;
          text-align: right;
          margin-top: 22px;
      }
      
      .guru-flower-popup {
        position: absolute;
        right: -64px;
        z-index: +99;
        top: 17.5%;
        text-align: right;
    }
      .courses-river-flower1  {
        position: absolute;
        bottom: 13px;
        right: 135px;
      }
      .guru-popup {
        margin-top: 100px; 
        padding:20px;      
    }
    .index-level2 {
        z-index: +99;
        margin-top: 55px;
        margin-bottom: 75px;
    }
    .login-line {
        margin-top: 20%;
        left: 25px;
    }
    .guriji-mesg-flowers {
        top: 22%;
    }
    .about-ty {
        width: 80%;
        margin-top: 55px;
        left: 2px;
    }
    .about-icons {
        position: relative;
        bottom: 0px;
        top: 500px;
        left: 96px;
        right: 0px;
    }
    .about-flower img {
        width: 60%;
    }
    .about-flower {
        position: relative;
        left: 0px;
        float: left;
        z-index: +99;
        top: 0px; 
        right: 0px;
    }
    .guru-popup-video {
        margin-left: 0px;
        margin-bottom: 30px;
 margin-top: 50px;}
    .about-butter-fly {
        left: -235px;
        float: left;
        top: -29px;
        width: 65px;
    }
    .donate-butter-fly {
        float: left;
        top: -4px !important;
        left: -41px !important;
        right: 55% !important;
    }
    .toppadding{
        margin-top: -54px;
        }
    .youtube-channel-btn { 
        width: 125%;
        margin-left: 43%;
        margin-top: -184px;}
      
     .logo {
            margin-top: -112px;
            margin-left: 27px;    
    
        }
        #hero {
            top: -70px;
        }
        .about-us-ty { 
            border-radius: 40px;
          background-color: #9aa6b0;
          background-image:  url(../../assets/img/about-bg.png) !important;
          background-repeat: no-repeat;
          background-size: 160%;
          background-position: bottom right;
          position: relative;
              width: 90%;
              margin-top: 50px !important;
              margin: 0px auto;
          }

          .about-us-ty-content, .about-us-ty-content h6{
            padding: 50px 40px 130px 40px;
            color: #fff;
           
          }
          .faq-quote {
            width: 250px;
            height: 250px;
            background: #4c717f;
            border-radius: 50%;
            text-align: center;
            padding: 15% 28px;
            margin: 0px auto;
            color: #fff;
          }
          .faq-circle {
            position: relative;
            top: -30px;
          }
          .aboutriver-flower { 
            position: relative;
            left: 290px;
            top: 5px;
            float: right;
            width: 140px;
          
          }

          h1 {
            margin: 0 0 15px 0;
            font-size: 38px;
            line-height: 46px;
            color: #5f7987;
            font-weight: normal;
            font-family: 'Noto Serif', sans-serif;
            
          }
          .mentor-circle12{
            background-color: transparent;
              border-radius: 50%;
              width: 400px;
              height: 400px;
              /* top: -50px; */
              border: 1px solid #fff;
              position: relative;
              top: -1%;
          }
          .mentor-circle {
            background-color: transparent;
              border-radius: 50%;
              width: 380px;
              height: 380px;
              /* top: -50px; */
              border: 1px solid #fff;
              position: relative;
              left: -24px;
              margin-top: 30px;
          }
          .vedic-right-lotus {
            position: absolute;
            right: 0%;
            width: 100px;
            top: 200px;
          }
          .mentor-quote {
            padding: 58px;
            position: relative;
            top: 90px;
            font-size: 18px;
            color: #fff; 
        }
        .mentor-block { 
            border-radius: 40px;
          background-color: transparent;
          padding: 50px 40px;
          border: 1px solid #fff;
          position: relative;
          width: 90%;
          float: right;
          color: #fff;
          left: -18px;
          top: 76px;
          }
          .yoga-guidelines {
            border-radius: 40px;
            background-color: transparent;
            padding: 50px 40px;
            border: 1px solid #fff;
            position: relative;
            width: 90%;
            margin: 0px auto;
            top: -75px;
            vertical-align: top;
        }
          .anikumar-img { 
            position: absolute;
            width: 86%;
            left: 10%;
            top: -30%;
            bottom: 87px;      
          }
          .aniltext {
            margin-top: 298px;
            padding-bottom: 118px;
            margin-left: 04px;
        }
          .guidelince {
            position: relative;
            top: 170px;}
            .river-about {
                position: absolute;
                z-index: 1;
                bottom: -6px;
                width: 100%;
                right: -20px;
            }
            .about-yoga-healing-flower {
                position: relative;
                top: -134px;
                left: -16px;
                width: 120px;
            }
            .about-ty-donation-btn {
                position: relative;
                vertical-align: middle;
                top:-100px;
              
              }
              .about-auote-line{
                padding-top: 26px;
                padding-left: 39px;
                margin-top: 0;
              }
            .about-yoga-healing-dragencly {
                position: absolute;
                bottom: 0;
                left: -15%;
            }
            .faq-info{
                width: 90%;
            }
            .mumuksha-top{
                margin-top:-36px;
                margin-left: -50px;
              }  
              .landingbtn{
                padding-left: 1%;
              }
              .about-circle {
                background-color: #d0d9de;
                border-radius: 50%;
                width: 420px;
                height: 420px;
                margin-top: 10px;
                margin: 0px auto;
                position: relative;
                  left: -10px;
                  top: 10px;
                  opacity: .8;
              }

              .about-circle-popup {
                background-color: #b7c3c9;
                  border-radius: 50%;
                  width: 300px;
                  height: 300px;
                  top: 200px;
                  position: relative;
                  left: -6px;
              }
              .popup-circle12 {
                background-color: transparent;
                border-radius: 50%;
                width: 315px;
                height: 315px;
          
                border: 1px solid #5f7986;
                position: relative;
                top: -1%;
            }
              .about-quote-popup {
                padding: 45px;
                position: relative;
                top: 22px;
                font-size: 14px;
                text-align: justify;
              }
              .anikumar-img-popup1 {
                width: 100%;
                position: absolute;
                right: -3px;
                top: 2%;
              }
             
              #donations-circle {
                padding-bottom: 150px;
              }
              .donation-circle-flower{
                top: 450px;
              }
              .donate-butter-fly img{
                position: relative;
                top: 0px;
                left: -100px;
              }
              .donationlogin-line {
                position: relative;
                float: right;
                margin-top: 10%;
                left: 27px;
            }

}

@media screen and (max-width: 530px) {

    .upcoming-squarebox1 {
        border-radius: 40px;
        background-image: linear-gradient(212deg, #8d9c8a 55%, #627d5c 55%);
        position: relative;
        height:340px;
        right: -6%;
        width: 100%;      
      }
      .guruji-msg-circle2 {
        background-color: transparent;
        border: 1px solid #424242;
        border-radius: 50%;
        width: 265px;
        height: 265px;
        display: inline-block;
        position: relative;
        padding-right: 9px;
    }
    .guruji-msg-circle {
        background-color: #bbc5ba;
        border-radius: 50%;
        width: 250px;
        height: 250px;
        top: 0px;
        display: inline-block;
        position: relative;
        top: 5px;
        left: -3px;
    }
    .guruji-msg-quote {
        padding: 20px;
        position: relative;
        top: 25%;
        font-size: 14px;
        bottom: 0px;
    }
    .homeleftmargin {
        margin-left: 25px;     
        margin-bottom: 35px;
    }
    .testmonials {
        margin-top: 40px;
    }
    .popBorder {
     width: 300px;
     height: 210px;
     border: 1.5px solid #fff;
     box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.1);
     border-radius: 15px;
     margin-left: -16px;
   }
   
   }
   
@media screen and (max-width: 530px) {
    .about-popup-content1 {
        width: 100%;
        margin: 0px auto;
        padding: 0px;
        margin-top: -76px;
    }
    .about-popup-content11 {
        width: 100%;
        margin: 0px auto;
        padding: 0px;
        margin-top: -76px;
    }
    .offer-ty {
        padding: 20px;
        border-radius: 30px;
    background-color: #ffffff;   
    position: relative;
    width: 100%;
    margin: 0px auto;
    }
    .popup-name-guruji1 {
        position: relative;
        top: 82px;
        font-size: 32px;
        left: 0px;
    }
    .slide-border12 {
        border: 5px solid #5f7987;
        padding: 10px;
        border-radius: 25px;
        margin-top: 0px;
    }
    .offer-box { 
        border-radius: 40px;
        background-color: transparent;
        padding: 10% 12%;
        border: 2px solid #98a6b1;
        position: relative;
        width: 100%;
        margin: 0px auto;
        vertical-align: top;
      
      }

      .offering-circle {
        background-color: #fff;
        border-radius: 50%;
        width: 300px;
        height: 300px;
        margin-top: 10px;
        margin: 0px auto;
        position: relative;
          left: -1%;
          top: 142px;
      }
      .offering-circle1 {
        background-color: transparent;
        border-radius: 50%;
        width: 300px;
        height: 300px;
        /* top: -50px; */
        border: 1px solid #000;
        position: relative;
        left: -120px;
        margin: 0px auto;
      }

    .offerings-circle2 {
        width: 395px;
        height:395px;
    }
    .offerings-circle{
        margin-top: 55px;
        width: 400px;
        height: 400px;
    }
    .offerings-text {
        padding-left: 80px;
        padding-top: 65px;
        position: relative;
        top: 00px;
    }
    .offertop{
        margin-top: -45px;
      }
    .offerings-mountains {
        background-image: url(../img/offerings.png);
        background-size: 100%;
        background-repeat: no-repeat;
        top: 30px;
    }
    .offerings-text ul li {
        line-height: 35px;
    }
    .river-offerings2 { 
        position: absolute;
          z-index: 1;
          bottom: 0%;
          width: 100%;
          right: -20px;
      }
      .offer-box21 {
        border-radius: 40px;
        width: 160%;
        margin-top: -38px;
        float: none;
    }
    .about-circle1 {
        left: -30px
    }
    .mumuksha-msg-circle{
        width: 350px;
        height: 350px;
        top: 70px;
        left:32%;
    }
    .mumuksha-msg-circle2{
        width: 330px;
        height: 330px;
    }
    .mumuksha-msg-quote{
        top: 5%;
    }
    .mumuksha-msg-quote {
        padding: 50px;
    }
    .contact-lotus-flower{
        width: 150px;
    }
    .offercontact-lotus-flower{
        width: 150px;
        top: -52px;
    }
    .discipline-text{
        width: 400px;
        height: 350px;
        margin-top: -114px;
        padding: 0px 20px;
      }
.river-bg2 { position: absolute; z-index: 1; text-align: right;     left: 24px;     top: 249px;}
.upcoming-squarebox {
    border-radius: 40px;
    background-color: #d0d9de;
    padding: 10px 20px;
    position: relative;
    float: right;
    right: 8%;
    width: 85%;
    margin-top: -76px;
  
  }
  .login-donations {
    top:1%;
  }
  .vedic-nutrical-circles-block {
    position: absolute;
    bottom: 56px;
    left: 20px;
}
#vedic-nutricals {
    padding-bottom: 200px;
}
  #our-aim{
    padding-bottom: 100px;
    margin-top: -155px;
  }
  .offerings-padding {
    padding-bottom: 0px !important;
  }
  .ouraim-circle{
    left: -50px;
    top: 485px;
   }
   .ouraim-circle1{
    left: -50px;
    top: 50px;
   }
   .vedic-nutrical-quote {
    position: relative;
      top: 125px;
      left: -34px;
      z-index: 9;
  }
   .charity-block {
    padding: 45px 20px;
   }

   .charity-circle12{
    width: 360px;
    height: 350px;
    top: -50px;
    left: 2px;
    margin-top: 10px;
   }
   .charity-quote {
    padding: 10px;
   }
   .donars-region h1{
    padding-bottom: 0px;
   }
   .upcoming-courses-content
   {
    padding: 50px 20px 40px 20px;
   }
   .courses-booking-confirm .about-icons  {
    top: 150px;
   }
   .courses-details-info {
    border-radius: 40px;
   }
   .courses-box2 {
    border-radius: 40px;
    margin-right: 18px;
    width:90%;
  
   }
   .booking-confrm{width:90%; margin-left: 15px;}
   .courses-right-lotus{
    width: 120px;
    top:-40px;
   }
   .coursecontact-lotus-flower
{
  position: absolute;
    /* left: -10%; */
    width: 200px;
    top:92%;
}
.enrollclass{
    padding:20px;
    margin-top: 30px;
}
.code-of-conduct-tails {
    margin-bottom: 70px;
    width: 50%;
}
.list-circle {
    background: #dde5ed;
    padding: 20px;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin: 0px auto;
    text-align: center;
}
   #courses-list {
    padding-bottom: 150px !important;
   }

   .ouraim-block { 
    border-radius: 40px;
    background-color: #d0d9de;
    padding: 40px 40px;
    border: 1px solid #fff;
    position: relative;
    width: 95%;
    top: -285px;
    float: right;
    right: 10px;
    }
    .about-popup-content {
        width: 100%;
        margin-top: 200px;
    }
    .privacy-popup-content {
        width: 100%;
        margin-top: -75px;
    }
    .suitability-flower-popup {
        position: absolute;
        right: -64px;
        z-index: +99;
        top: 16.5%;
        text-align: right;
    }
    .donations-right-lotus {
        position: absolute;
          right: -5%;
          width: 200px;
          bottom: 27%;
        }
        .charity-block { 
            border-radius: 40px;
            background-color: #d0d9de;
            padding: 40px;
            position: relative;
              width: 85%;
            left: 10%;
            margin-top:10%;
            }
            .upcoming-courses-booking {
                border-radius: 40px;
                background-color: #e7ebee;
            }
            .upcoming-courses-section {
                padding-top: 0px !important;
                margin-top: -150px;
                background-image: url(../../assets/img/Upcomingbg.png) !important;
                background-repeat: no-repeat;
                background-position: bottom right;
                height:500px;
            }
            .courses-format {
                margin-top: -920px;
            }
            .courses-box21 {
                border-radius: 40px;
                margin-right: 18px;
                width: 90%;
                top: -125px;
            }
            .courses-image {
                width: 72%;
                margin: 0px auto;
                position: relative;                
            }
            .courses-col1 {
                border-bottom: 1px solid #4c717f;
                border-right: 0px solid #4c717f;
                padding: 30px !important;  
                height:auto;            
               
            }
            #upcoming-courses-section {
             
                background-image: url(../../assets/img/Upcomingbg.png) !important;
                background-repeat: no-repeat;
                background-size: 170%;
                background-position: bottom right;
                margin-bottom: 55px;
                padding-bottom: 0% !important;
            }
            .courses-flower {
                position: relative;
                z-index: +99;
                left: 100px;
                top: -223px;
            }
            .gallerybird {
                margin-left: -100px;
            }
            .courses-booking-butter-fly {
                position: relative;
                top: -164px;
                left: 48px;
            }
            .enrole-buttons{
                text-align: center;
                margin-top: -85px;
                
                }
            .videoheight {
                height: auto;
            }
            .offering-quote {
                padding: 20px 30px;
                position: relative;
                top: 20%;
                padding-left: 25px;
                font-size: 15px;
            }
            .text-ty1 {
                color: #5f7987 !important;
                margin-left: 60px;
                padding-top: 30px;
                width: 70%;
            }
            .slide-bg {
                background-color: #f1f1f0;
                border-radius: 15px;
                min-height:auto;
                width: 100%;
            }
            .audio-flower-popupabout {
                position: absolute;
                right: -64px;
                top: 27%;
                z-index: +9;
                text-align: right;
            }
            .coursewidth{
                width:95%;
                margin-left: 12px;
              }
              .coursewidth1{
                width:100%; 
              }
              .slide-border1 {
                border: 1px solid #f1f1f0;
                padding: 10px;
                border-radius: 15px !important;
            }
            .slider {
                width: 85%;
                margin: 10px 10px;
                margin-top: -25px !important;
                margin-left: 20px !important;
            }
            .slide-bg .video-play {
                float: left;
                padding-top: 32px;
                padding-left: 30px;
            }
            .donate-now {
               margin-top: 1%;
               padding-left: 8%;
            }
            .donate-nowoffer {
                margin-top: 40%;
                padding-left: 0%;
             }
            .homeofferings-circle {
                background-color: #aab6ba;
                border-radius: 50%;
                margin: 0px auto;
                width: 385px;
                height: 385px;
                top: -50px;
                margin-top: 0px;
                margin-left: 23px;
            }
            .donate-now1 {
                margin-top: 38%;
                padding-left: 0%;
             }
             .upcoming-courses-booking1.image-section {
                position: relative; 
                /* top: -350px; */
            }
            .offer-box1 {
                border-radius: 40px;
                width: 90%;
                margin-bottom: -20px;
                margin-top: -78px;
                float: none;
                left: -1px;
            }
          
}


@media screen and (max-width: 450px) {
    
    .guriji-mesg-flowers {
        top: 13%;
    }
    .donate-circle2 {
        width: 400px;
        height: 400px;
    }
    .donation-circle {
        width: 400px;
        height: 400px;
    }
    .mumuksha-msg-circle {
        width: 335px;
        height: 335px;
       }
    .charity-block {
        width: 95%;
        left: 3%;
        top:-86px;
    }
    .contact {
        margin-top: 100px;
        padding-top: 0px;
    }

    .about-circle1{
        width: 340px;
        height: 340px;
    }
    .about-circle{
        width: 330px;
        height: 330px;
    }
    .about-quote {
        top: 30px;
    }
    .slick-slide {
        margin: 0px 0px !important;
    }
    .slide-bg .video-thumb{
        width: 80px;
    }
    section {
        padding: 30px 0;
    }
    .logo {
    margin-top: -166px;
    margin-left: 15px; 
    }
    h1 {
        margin: 0 0 15px 0;
        font-size: 28px;
    }
}

@media screen and (max-width: 400px) {

}


