<body class="vedic-nutricals-bg" style="overflow-x: hidden;">


  <!-- ======= Header ======= -->

  <!-- ======= Header ======= -->
  <header id="header">
    <!--<div class="lotus-top animate__animated animate__backInRight animate__delay-1s">
      <img src="assets/img/lotus-top.png" alt="" class="img-fluid flower-top"/>
    </div>
     <div class="butter-fly animate__animated animate__fadeInTopLeft animate__delay-3s">
      <img src="assets/img/Dragonfly-gif.gif" alt="" class="img-fluid dragon-fly" />
    </div> -->
    <div class="container d-flex align-items-center justify-content-between">

      <!-- <div class="logo">
        <h1><a href="index.html">Bocor<span>.</span></a></h1>
        Uncomment below if you prefer to use an image logo
        <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>
      </div> -->
      <div class="menu-line animate__animated animate__fadeInTopLeft animate__delay-4s" routerLink="/">
        <img src="assets/img/menu-line.png" alt="" width="60%" />
      </div>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto" routerLink="/aboutUs"> <i class="fa fa-caret-right"></i> About Us</a></li>
          <li><a class="nav-link scrollto" routerLink="/upComingCourses"> <i class="fa fa-caret-right"></i> Upcoming
              Course</a></li>
          <li><a class="nav-link scrollto" routerLink="/faqs"> <i class="fa fa-caret-right"></i> FAQ's</a></li>
          <li><a class="nav-link scrollto" routerLink="/offerings"> <i class="fa fa-caret-right"></i> Our Offerings</a>
          </li>
          <li><a class="nav-link scrollto" routerLink="/donations"> <i class="fa fa-caret-right"></i> Donate</a></li>
          <li><a class="nav-link scrollto active" routerLink="/vedic-neutraceuticles"> <i class="fa fa-caret-right"></i>
              Vedic Nutraceuticals</a></li>
          <li><a class="nav-link scrollto" routerLink="/gallery"> <i class="fa fa-caret-right"></i> Gallery</a></li>
          <!-- <li class="dropdown"><a href="#"><span>Drop Down</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a href="#">Drop Down 1</a></li>
              <li class="dropdown"><a href="#"><span>Deep Drop Down</span> <i class="bi bi-chevron-right"></i></a>
                <ul>
                  <li><a href="#">Deep Drop Down 1</a></li>
                  <li><a href="#">Deep Drop Down 2</a></li>
                  <li><a href="#">Deep Drop Down 3</a></li>
                  <li><a href="#">Deep Drop Down 4</a></li>
                  <li><a href="#">Deep Drop Down 5</a></li>
                </ul>
              </li>
              <li><a href="#">Drop Down 2</a></li>
              <li><a href="#">Drop Down 3</a></li>
              <li><a href="#">Drop Down 4</a></li>
            </ul>
          </li> -->
          <!-- <li><a class="nav-link scrollto" href="#contact">Contact</a></li> -->
        </ul>
        <a routerLink="/" class="ty-favicon" style="padding: 0px;"> <img src="assets/img/ty-icon-reverse.png" alt=""
            width="30" /> &nbsp; &nbsp; </a>
        <i class="text-ty animate__animated animate__bounceInDown animate__delay-1s bi bi-list mobile-nav-toggle">
          &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp;
        </i>
        <div class="menu-name animate__animated animate__bounceInDown animate__delay-1s"> &nbsp;
          <span style="color: #7e929f;"> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Vedic Nutraceuticals </span>
        </div>
      </nav><!-- .navbar -->

    </div>
    <div class="clearfix "></div>


  </header><!-- End Header -->


  <section id="logo-section">
    <!-- <div class="login-box">
    <div class="login-icon text-center animate__animated animate__backInRight animate__delay-2s" ><a href="http://52.90.116.99:8080/ty/#/login">
      <img src="assets/img/login-icon-vedic.png" alt="" class="img-fluid  animate__animated animate__backInRight animate__delay-2s" />
      <span class="text-black font-weight-bold "> Login </span> </a>
      
    </div> 
  </div> -->

    <!-- <div class="login-line animate__animated animate__backInRight animate__delay-3s">
    <img src="assets/img/login-curve.png" alt="" width="90%" />
  </div> -->
    <!-- <div class="lotus-left">
      <img src="assets/img/lotus-left.png" alt="" class="img-fluid flower-left" />
    </div>     
    <div class="clearfix"></div>
    <div class="logo text-center">
      <a href="index.html"><img src="assets/img/ty-logo.png"  alt="" class="img-fluid"></a>
    </div>

    -->
    <div class="text-center pt-3">
      <h1 style="color: #97a78c; font-weight: 500;"> Vedic Nutraceuticals </h1>
    </div>

  </section>

  <!-- ======= Hero Section ======= -->
  <section id="vedic-hero" class="pb-0">

    <div class="">
      <div class="row d-flex align-items-center" style="opacity: 60%;">
        <img src="assets/img/vedic-nutricals-bg.png" alt="" class="img-fluid" />
      </div>

    </div>

  </section>

  <main id="main">


    <section id="vedic-nutricals" class="pt-0">
      <div class="container-padding">


        <!-- <div class="about-flower">
          <img src="assets/img/about-right-content-flower.png" alt="" class="img-fluid"/>
        </div>
        <div class="about-butter-fly animate__animated animate__fadeInTopLeft animate__delay-3s">
          <img src="assets/img/courses-butterfly.png" alt="" class="img-fluid dragon-fly" />
        </div> -->

        <div class="vedic-ty">
          <div class="vedic-ty-content ">
            <div class="row">
              <div class="col-md-12">
                <p style="font-size: 20px; color:#3b5769"> Vedic Nutraceuticals (VN) provides high quality products to
                  support healthy living, informed by ancient sciences of Yoga and Ayurveda. </p>

                <p style="font-size: 20px; color:#3b5769">We believe in preventative health and work on the principle
                  that every single input to the body matters. For these reasons, VN products are designed to support
                  the practice of all limbs of yoga, including aspects such as cleansing, muscle building, respiratory
                  health and meditation.</p>

                <p style="font-size: 20px; color:#3b5769">From the nutrition that we consume, to the water we drink and
                  the air we breathe, everything has an effect on how we feel, how we live and who we are. Yoga is about
                  conservation not consumption, about quality and not quantity. When we are healthy and happy we have
                  less desire to consume. As a company established and run by volunteers, our wish is to facilitate and
                  empower people to care for every cell in their bodies. </p>

                <p style="font-size: 20px; color:#3b5769">Vedic Neutraceuticals is a non-profit company owned and run by
                  the volunteers of Traditional yoga. A very small mark-up on products generates funding which supports
                  continuous production and development of products to the very highest stanards.</p>

                <p style="font-size: 20px; color:#3b5769">With an extensive background and knowledge in chemistry and
                  nutrition Dr. Kumar carries out all research and development of Vedic Neutraceutical products. Under
                  Dr. Kumar’s expert guidance, the purest and highest quality of ingredients are sourced and the highest
                  standards of production are maintained to ensure the best nutrition is made available</p>

              </div>
            </div>
          </div>



        </div> <br>

        <!-- 
    <div class="w-100 text-center"><a href="https://vedicnutraceuticals.com/" target="_blank">
    <div class="btn btn-donate btn-knowmore rounded-pill m-center"> Visit the Page </div></a>
  </div> -->

        <div class="vedic-nutrical-circles-block animate__animated animate__fadeInTopLeft animate__delay-3s">
          <div class="vedic-nutrical-quote">
            <img src="assets/img/aboutus-2lotus.png" width="60">
          </div>

          <div class="our-aim-circle-section">
            <div class="ouraim-circle1 border-black">

              <div class="ouraim-circle12 border-black">
                <div class="ouraim-quote text-black">
                  <p>Uncontrolled movement <br>of the mind consumes the most energy, more than the physical body.</p>

                  <p class=""> <b>- Dr. A L V Kumar </b></p>
                </div>
              </div>
            </div>
          </div>
        </div>



        <div class="vedic-right-lotus">
          <img src="assets/img/right-lotus.png" alt="" class="img-fluid" />
        </div>
      </div>
    </section>
    <section id="yoga-foundation">
      <div class="container-padding-offer">
        <div class="foundation">
          <div class="row vnvertical-align">
            <div class="m-order-2 col-lg-4 ">
              <div class="vn-circle">
                <div class="vn-quote">
                  <h3 class="text-bold text-center" style="color: #4f6470;">Visit VN sites</h3>

                  <ul style="margin-left: 40px;">
                    <li><a href="https://vedicnutraceuticals.com/" target="_blank" class="vnli">India</a></li>
                    <li><a href="https://vedicnutraceuticalsusa.com/" target="_blank" class="vnli">USA</a></li>
                    <li><a href="https://vedicnutraceuticals-uk.com/" target="_blank" class="vnli">UK</a></li>
                    <li><a href="https://vedicnutraceuticals-au.com/" target="_blank" class="vnli">Australia</a></li>
                    <li><a href="https://vedicnutraceuticals-world.com/shop/" target="_blank" class="vnli">Asia, Africa
                        Regions</a></li>
                    <li><a href="https://vedicnutraceuticals-eu.com/shop/" target="_blank" class="vnli">Europe
                        Regions</a></li>
                  </ul>
                </div>
              </div>

            </div>

          </div>



        </div>

        <!-- <div class="clearfix"></div> -->




      </div>
    </section>

    <div id="" class="pb-0 pt-0" style="position: relative;">
      <div class="" data-aos="fade-left">
        <div class="mumuksha-msg-circle">
          <div class="mumuksha-msg-circle2">
            <div class="mumuksha-msg-quote text-white">
              <h2>MUMUKSHA</h2>
              <p>The burning desire to beome enlightened. The realisation of Allah, the Holy Spirit, Paramatma, requires
                perseverance in spiritual progress.</p>

              <p class=""> - Dr. A L V Kumar </p>
            </div>
          </div>
        </div>

      </div>

      <div class="contact-lotus-flower">
        <img src="assets/img/donations-footer-left.png" class="img-fluid" width="350" />
      </div>

    </div>



    <!-- <div id="mumuksha" class="pb-0 pt-0">
      <div class="mumuksha-msg" data-aos="fade-left">
        <div class="mumuksha-msg-circle">
        <div class="mumuksha-msg-circle2">
          <div class="mumuksha-msg-quote text-white">
            <h4>MUMUKSHA</h4>
              <p>The burning desire to beome enlightened. The realisation of Allah, the Holy Spirit, Paramatma,  requires perseverance in spiritual progress</p>
  
              <p class=""> - Dr. ALV Kumar </p>
          </div>
      </div>
    </div>
  
  </div>
  <div class="contact-lotus-flower" >
    <img src="assets/img/donations-footer-left.png" class="img-fluid" width="250"/>
  </div>
  
  </div> -->

    <!-- ======= Contact Section ======= -->

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <!-- <div class="bottom-line">
      <img src="../../../assets/img/bottom-line.png" />
    </div> -->

      <div class="container">

        <!-- <div class="section-title">
        <h2>Contact</h2>
        <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>
      </div> -->


        <div class="row" data-aos="fade-up">


          <div class="col-md-4">
            <h4 class="text-black"><b>GET IN TOUCH </b></h4>
            <p class="text-black">Fill the form with your query <br>
              or questions to reach us out</p>
          </div>

          <div class="col-md-8 mt-4 mt-lg-0 text-black">
            <!-- <form [formGroup]="touchForm" class="php-email-form w-100" data-aos="fade-up"> -->
            <form [formGroup]="touchForm" class=" w-100" data-aos="fade-up">

              <div class="form-group mt-3 d-flex">
                <span class="input-name"> Name&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                <div class="w-100">
                  <input type="text" (keyup)="changefield()" formControlName="name" class="form-control"
                    placeholder=" Name" required>
                  <div class="error-message text-danger ml-5"
                    *ngIf="touchForm.controls['name'].invalid && ( touchForm.controls['name'].touched)">
                    <mat-error [hidden]=" !touchForm.get('name')?.hasError('required')" style="margin-left: 15px;">
                      Name is mandatory
                    </mat-error>
                  </div>
                </div>
              </div>


              <div class="form-group mt-3 d-flex">
                <span class="input-name"> Email&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>

                <div class="w-100">
                  <input type="email" (keyup)="changefield()" name="name" formControlName="email" class="form-control"
                    id="name" placeholder=" Email" required>
                  <div class="error-message text-danger"
                    *ngIf="touchForm.controls['email'].invalid && (touchForm.controls['email'].touched)">
                    <mat-error [hidden]=" !touchForm.get('email')?.hasError('required')" style="margin-left: 15px;">
                      Email is mandatory
                    </mat-error>
                    <mat-error [hidden]=" !touchForm.get('email')?.hasError('email')" style="margin-left: 15px;">
                      Invalid Email
                    </mat-error>
                  </div>
                </div>
              </div>



              <div class="row mt-3 d-flex">
                
                <div class="col-md-6 form-group mt-3 mt-md-0 d-flex">
                  <span class="input-name"> Country</span>

                  <!-- <input type="email" class="form-control" name="email" id="email" placeholder="Country" required> -->
                  <div class="w-100">
                    <select name="cars" (keyup)="changefield()" formControlName="country" id="cars"
                      class="form-control">
                      <option [value]="null">Select Country</option>
                      <option [value]="country.countryId" *ngFor="let country of countryList">{{country.countryName}}
                      </option>
                    </select>
                    <div class="error-message text-danger"
                      *ngIf="touchForm.controls['country'].invalid && (touchForm.controls['country'].touched)">
                      <mat-error [hidden]=" !touchForm.get('country')?.hasError('required')" style="margin-left: 15px;">
                        Country is mandatory
                      </mat-error>
                    </div>
                  </div>
                </div>

                <div class="col-md-6 form-group d-flex">
                  <span class="input-name"> Phone&nbsp;&nbsp;&nbsp;&nbsp;</span>

                  <div class="w-100">
                    <input type="text" (keyup)="changefield()" formControlName="phoneNumber" name="name"
                      class="form-control" id="name" placeholder="Mobile number without country code" required>
                    <div class="error-message text-danger"
                      *ngIf="touchForm.controls['phoneNumber'].invalid && (touchForm.controls['phoneNumber'].touched)">
                      <mat-error [hidden]=" !touchForm.get('phoneNumber')?.hasError('required')"
                        style="margin-left: 15px;">
                        Mobile Number is mandatory
                      </mat-error>
                      <mat-error [hidden]=" !touchForm.get('phoneNumber')?.hasError('pattern')"
                        style="margin-left: 15px;">
                        Invalid Mobile number
                      </mat-error>
                    </div>
                  </div>
                </div>

              </div>


              <div class="form-group mt-3 d-flex">
                <span class="input-name"> Query&nbsp;&nbsp;&nbsp;&nbsp;</span>

                <div class="w-100">
                  <textarea class="form-control" (keyup)="changefield()" formControlName="query" name="message" rows="5"
                    placeholder="Query" ></textarea>
                  <div class="error-message text-danger"
                    *ngIf="touchForm.controls['query'].invalid && ( touchForm.controls['query'].touched)">
                    <mat-error [hidden]=" !touchForm.get('query')?.hasError('required')" style="margin-left: 15px;">
                      Query is mandatory
                    </mat-error>

                  </div>
                </div>

              </div>

              <div class="form-group mt-3 d-flex">
                <span
                  class="input-name">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                <input type="checkbox" class="checkbox1" [(ngModel)]="disabledAgreement"
                  [ngModelOptions]="{standalone: true}" (change)="isCheckboxenabled($event)">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<p class="text-black"
                  style="display: inline-block; ">I authorize Traditional Yoga Volunteers to add me to
                  the mailing list and contact me regarding upcoming courses, retreats, etc. (Authorization is mandatory)
                </p>
              </div>

              <div class="my-3 d-flex">

                <div class="loading" *ngIf="isloading" style="margin-left: 94px;">Loading...</div>
                <div class="error-message text-danger" *ngIf="errorMessage" style="margin-left: 94px;">{{errorMessage}}
                </div>
                <div class="sent-message text-success" *ngIf="messageSent" style="margin-left: 94px;">One of our
                  volunteers will review your query
                  and get back to you via the email provided. Thank you for your interest in Traditional Yoga</div>
              </div>
              <div class="" style="margin-left: 80px; margin-bottom: 50px;">
                <button type="button" (click)="submitTouch()" [disabled]="!disabledAgreement || isloading"
                  class="btn btn-secondary rounded-pill btn-sm btn-knowmore">Submit</button>
              </div>
            </form>
          </div>

        </div>

      </div>
    </section><!-- End Contact Section -->
    <footer>
      <div class="container-padding">
        <div class="row" style="margin-top: 80px">
          <div class="col-md-6">
            <div class="socialmedia-icons">
              <a href="https://www.youtube.com/channel/UC7ENvZuGXC4LV8ZkPpuNsng" target="blank"><span class="youtube">
                  <img src="assets/img/youtube-icon.png" alt="youtube" /> </span></a>
              <a href="https://www.facebook.com/TraditonalYoga/" target="blank"> <span class="fb"> <img
                    src="assets/img/facebook-icon.png" alt="facebook" /> </span></a>
              <a href="https://twitter.com/Traditiona1Yoga" target="blank"><span class="twitter"> <img
                    src="assets/img/twitter.png" alt="twitter" /> </span></a>
              <a href="https://www.instagram.com/traditionalyoga_us/" target="blank"> <span class="instagram"> <img
                    src="assets/img/instagram.png" alt="instagram" /> </span></a>
            </div>
          </div>

          <div class="col-md-6">
            <a><span data-bs-toggle="modal" data-bs-target="#exampleModalprivacy" style="cursor:pointer">
                <p class="float-right privacy-policy"> Privacy Policy</p>
              </span></a>
          </div>


        </div>
      </div>
    </footer>


  </main><!-- End #main -->


  <div class="modal fade" id="exampleModalprivacy" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="suitability">
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          <div class="modal-body about">

            <h1 class="text-center popup-name-guruji"> <b>Privacy Policy</b></h1>

            <div class="row">


              <div class="col-md-4">
              </div>

              <!-- <div class="anikumar-img-popup1">
              <img src="assets/img/anikumar-aboutus-popup.png" alt="" class="img-fluid" />
            </div>   -->

              <div class="butter-fly-popup-privacy animate__animated animate__fadeInTopLeft animate__delay-3s">
                <img src="assets/img/Dragonfly-gif.gif" alt="" class="img-fluid dragon-fly" />
              </div>

              <div class="suitability-flower-popup">
                <img src="assets/img/about-right-content-flower.png" alt="" class="img-fluid">
              </div>
            </div>


            <div class="row guru-popup">
              <div class="privacy-popup-content">
                <p style="color:#232323;">This privacy policy outlines how we utilize personal information that is
                  collected at this site. We advise you to read this policy before submitting any personal information
                  or using the site.</p>

                <h5 style="color:#232323;"><b>Information Collection:</b></h5>
                <p style="color:#232323;">At our website, we collect personally identifiable information, such as names,
                  postal addresses, and email addresses, only when provided voluntarily by our visitors. The information
                  you provide is used solely to fulfill your specific request, unless you grant us permission to use it
                  in another way, such as adding you to a mailing list.</p>

                <h5 style="color:#232323;"><b>Cookie/Tracking Technology:</b></h5>
                <p style="color:#232323;">Our site may utilize cookie and tracking technology depending on the features
                  available. Cookie and tracking technology are useful for gathering information such as browser type,
                  operating system, and the number of visitors to the site, as well as for understanding how visitors
                  use the site. Cookies can also be helpful in customizing the site for visitors. It is important to
                  note that while cookies and other tracking technologies cannot collect personal information, if you
                  have provided personally identifiable information previously, cookies may be linked to this
                  information. Aggregate cookie and tracking data may be shared with third parties.</p>

                <h5 style="color:#232323;"><b>Processing of Usage Data:</b></h5>
                <p style="color:#232323;">Processing of usage data for both web visitors and customers may be undertaken
                  by us. This usage data could consist of various pieces of information, such as your IP address,
                  browser type and version, geographical location, operating system, referral source, page views, length
                  of visit, and website navigation paths. Additionally, data about the frequency, timing, and pattern of
                  your service use could also be collected. The sources of this usage data include Google Analytics,
                  Google Adwords, Facebook Advertising, and Mailchimp. We may process this usage data for the purpose of
                  analyzing the utilization of our website and services. Our legal basis for processing this data is
                  either explicit consent from users or our legitimate interests, specifically the monitoring and
                  improvement of our website and services.</p>

                <h5 style="color:#232323;"><b>Distribution of Information:</b></h5>
                <p style="color:#232323;">We may share information with governmental agencies or other companies in
                  order to assist us in fraud prevention or investigation. This may occur when it is either permitted or
                  required by law or when we are attempting to protect against or prevent actual or potential fraud or
                  unauthorized transactions, or investigating fraud that has already taken place. Please note that this
                  information is not provided to these companies for marketing purposes.</p>
                <h5 style="color:#232323;"><b>Commitment to Data Security:</b></h5>
                <p style="color:#232323;">Your personally identifiable information is kept secure. Only authorized
                  volunteers, agents and contractors (who have agreed to keep information secure and confidential) have
                  access to this information. </p>

                <h5 style="color:#232323;"><b>Full Disclosure in Ashram Culture:</b></h5>
                <p style="color:#232323;">In the context of Ashram culture, seeking a Guru indicates a sincere desire on
                  the part of a Yogi Aspirant to leave behind their cultural and intellectual baggage and be completely
                  transparent with the teacher. This enables the teacher to provide guidance on all aspects of life.
                  It is important to note that if you are selected for any of the Yoga Courses offered by Traditional
                  Yoga, intentionally withholding information that may impede your progress on the path is not
                  permitted. Please be aware that failure to fully disclose pertinent information may result in removal
                  from the program(s). The purpose of requesting this information is to facilitate your growth on the
                  path and help you heal body, mind, and soul.
                </p>


                <h5 style="color:#232323;"><b>Updates/ Modifications:</b></h5>
                <p style="color:#232323;">Your use of the site indicates your acceptance of the practices outlined in
                  this privacy policy. Although these practices may be revised, any modifications will be published and
                  will only be applied to activities and information on a prospective, not retrospective, basis. It is
                  recommended that you review the privacy policy each time you visit the site to ensure your
                  understanding of how your personal information will be used.
                  Please note that the privacy practices stated in this policy are specific to this website only. If you
                  visit other websites through links on our site, please refer to the privacy policies published on
                  those sites.
                </p>
                <h5 style="color:#232323;"><b>Contact Information:</b></h5>
                <p style="color:#232323;">If you have any questions, concerns, or comments about our privacy policy,
                  please feel free to contact us using the information below:
                  <br><br> E-mail: [xxx]<br><br>
                  Please note that we reserve the right to make changes to this policy, which will be posted on our
                  website.
                </p>


              </div>
            </div>
          </div>
        </div>
        <div class="scroll-to-top" [ngClass]="{'show-scrollTop': windowScrolled}">
          <button type="button" class="back-to-top d-flex align-items-center justify-content-center active"
            data-toggle="button" aria-pressed="true" (click)="gotoTop()">
            <i class="bi bi-arrow-up-short"></i>
          </button>
        </div>
      </div>
    </div>
  </div>


  <div class="scroll-to-top" [ngClass]="{'show-scrollTop': windowScrolled}">
    <button type="button" class="back-to-top d-flex align-items-center justify-content-center active"
      data-toggle="button" aria-pressed="true" (click)="gotoTop()">
      <i class="bi bi-arrow-up-short"></i>
    </button>
  </div>



</body>

<script>
  $(document).on('ready', function () {
    $('.mobile-nav-toggle').click(function (e) {
      $('.mobile-nav-toggle').toggleClass("bi-x");
      $("#navbar").toggleClass("navbar-mobile");
      e.preventDefault();
    });
  });
</script>