<body class="donations-bg"> 

  <!-- ======= Header ======= -->
  
  <!-- ======= Header ======= -->
  <header id="header">
    <!-- <div class="lotus-top animate__animated animate__backInRight animate__delay-1s">
      <img src="assets/img/lotus-top.png" alt="" class="img-fluid flower-top"/>
    </div>
     <div class="butter-fly animate__animated animate__fadeInTopLeft animate__delay-3s">
      <img src="assets/img/Dragonfly-gif.gif" alt="" class="img-fluid dragon-fly" />
    </div> -->
    <div class="container d-flex align-items-center justify-content-between">

      <!-- <div class="logo">
        <h1><a href="index.html">Bocor<span>.</span></a></h1>
        Uncomment below if you prefer to use an image logo
        <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>
      </div> -->
      <div class="menu-line animate__animated animate__fadeInTopLeft animate__delay-4s"> 
        <img src="assets/img/menu-line.png" alt="" width="60%" />
      </div>
      
      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="index.html">Upcoming Courses</a></li>
          <!-- <li><a class="nav-link scrollto active" href="index.html">HOME</a></li> -->
          <li><a class="nav-link scrollto" href="aboutus.html">About Us</a></li>
          <li><a class="nav-link scrollto" href="offerings.html">Our Offerings</a></li>
          <li><a class="nav-link scrollto" href="donations.html">Donate</a></li>
          <li><a class="nav-link scrollto" href="#">Knowledge for all</a></li>
          <li><a class="nav-link scrollto" href="#">Gallery</a></li>
          <li><a class="nav-link scrollto" href="vedic-neutraceuticles.html">Vedic Neutraceuticals</a></li>
          <!-- <li class="dropdown"><a href="#"><span>Drop Down</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a href="#">Drop Down 1</a></li>
              <li class="dropdown"><a href="#"><span>Deep Drop Down</span> <i class="bi bi-chevron-right"></i></a>
                <ul>
                  <li><a href="#">Deep Drop Down 1</a></li>
                  <li><a href="#">Deep Drop Down 2</a></li>
                  <li><a href="#">Deep Drop Down 3</a></li>
                  <li><a href="#">Deep Drop Down 4</a></li>
                  <li><a href="#">Deep Drop Down 5</a></li>
                </ul>
              </li>
              <li><a href="#">Drop Down 2</a></li>
              <li><a href="#">Drop Down 3</a></li>
              <li><a href="#">Drop Down 4</a></li>
            </ul>
          </li> -->
          <!-- <li><a class="nav-link scrollto" href="#contact">Contact</a></li> -->
        </ul>
        <a href="index.html" style="padding: 0px;"> <img src="assets/img/ty-icon.png" alt="" width="30" /> &nbsp; &nbsp; </a>
        <i class="animate__animated animate__bounceInDown animate__delay-1s bi bi-list mobile-nav-toggle"> 
          &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; </i> 
        <div class="menu-name animate__animated animate__bounceInDown animate__delay-1s">
        <span class="text-white"> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;   Donation </span>
        </div>
      </nav><!-- .navbar -->

    </div>
    <div class="clearfix "></div>


  </header><!-- End Header -->

  <section id="logo-section" class="donations-mountains offerings-padding">
    <div class="login-box">
    <div class="login-icon text-center animate__animated animate__backInRight animate__delay-2s" >
      <img src="assets/img/login-icon.png" alt="" class="img-fluid  animate__animated animate__backInRight animate__delay-2s" />
      <span class="text-white font-weight-bold "> Login </span> 
      
    </div> 
  </div>
  
  <div class="login-line animate__animated animate__backInRight animate__delay-3s">
    <img src="assets/img/login-curve.png" alt="" width="90%" />
  </div>
    <!-- <div class="lotus-left">
      <img src="assets/img/lotus-left.png" alt="" class="img-fluid flower-left" />
    </div>      -->
    
    <!--<div class="logo text-center pt-3">
         <h1> Our Offerings </h1>
    </div>
     <div class="logo text-center">
      <a href="index.html"><img src="assets/img/ty-logo.png"  alt="" class="img-fluid"></a>
    </div> -->


     </section>


  <main id="main">
   

    <section id="our-aim" class="pt-0 about-anilkumar-block ">
      <div class="container-padding">
      <div class="row">
        <div class="col-md-4 mt-5">
          
          <div class="ouraim-circle ">

          <div class="ouraim-circle12 ">
              <div class="ouraim-quote">
                  <p>Uncontrolled movement of teh mind consumes the most energy, more than the phisicalbody</p>

                  <p class=""> - Dr. Anl Kumar </p>
              </div>
          </div>
        </div>
        </div>


        <div class="col-lg-7">
          <div class="ouraim-block">
            <div class="ouraim-content ">
              <h1> Our Aim </h1> <br>
              
              

               <p> Protect  &nbsp; &nbsp; &nbsp;  Revive    &nbsp; &nbsp; &nbsp;   Disseminate </p>
                
               <p> original, undiluted and complete yogic knowledge, both theory and practice in its purest form for the benifit of the public and public wellbeing of entire world. </p>

               <p>The courses are all run as charitable not-for profit activity. </p> 


            </div>
          </div>

            


        </div>

        <!-- <div class="river-flower text-center" style="position:relative; left:35%; ">
          <img src="assets/img/river-flower.png" alt="flower" width="150" 
          class="img-fluid" />
          </div>
        <div class="river-about">
          <img src="assets/img/river-bg2.png" alt="" class="img-fluid" />
        </div>  -->
        </div>
        
        <div class="donations-right-lotus">
          <img src="assets/img/donations-right-flower.png" alt="" class="img-fluid">
        </div>
  
  </div>
 
    </section>




    <section id="the-charity" class=" about-anilkumar-block pt-0">
      <div class="container-padding">
      <div class="row">
        
        <div class="col-lg-7 mt-5">
          <div class="charity-block">
            <div class="charity-content ">
              <p class="float-right">
                <img src="assets/img/donation-logo.png" width="100" alt="" class="img-fluid" />
              </p>
              <div class="clearfix"></div>
              <h4> The Charity </h4> <br>
              
               <p> original, undiluted and complete yogic knowledge, both theory and practice in its purest form for the benifit of the public and public wellbeing of entire world. </p>

               <p>original, undiluted and complete yogic knowledge, both theory and practice in its purest form for the benifit of the public and public wellbeing of entire world.  </p> 
            </div>
          </div>

        </div>


        <div class="col-md-4 ">
          <div class="">

          <div class="charity-circle12 ">
              <div class="charity-quote">
                  <p class="pb-2"> 
                    <img src="assets/img/india.png" width="50" alt="" /> 
                    <span class="font-bold">
                      TRUST # 
                      91/2012
                    </span>
                  </p>
                  <p> 
                    <img src="assets/img/british.png" width="50" alt="" />
                    <span class="font-bold">
                      EIN# 
                      47-4872198
                    </span>
                  </p>
                  <p> 
                    <img src="assets/img/england-icon.png" width="50" alt="" />
                    <span class="font-bold">
                      CHARITY#      
                      1153094
                    </span>
                  </p>
              </div>
          </div>
        </div>
        </div>

        <div class="river-flower text-center" style="position:relative; left:35%; padding-top: 0px; ">
          <img src="assets/img/river-flower.png" alt="flower" width="150" 
          class="img-fluid" />
          </div>
        <div class="river-about" style="bottom:10%">
          <img src="assets/img/river-bg2.png" alt="" class="img-fluid" />
        </div> 
        </div>
        
        <!-- <div class="donations-right-lotus">
          <img src="assets/img/donations-right-flower.png" alt="" class="img-fluid">
        </div> -->
  
  </div>
 
    </section>



    <section id="programs-funded">
      

        <div class="container">
          <div class="row grid-divider text-white">
            <div class="offerings-line">
              <h1 class="float-right text-white"> Programs Funded</h1>
              <div class="clearfix"></div>
              <img src="assets/img/offerings-line.png" alt="" class="w-75"  />
              <span class="text-sm float-right text-white">  The few programs we fund include </span>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-2 my-1">
              <div class="programs">
                <div class="programs-body pt-1">Some content</div>
              </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-2 my-1">
              <div class="programs">
                <div class="programs-body pt-2">
                  Some content Some content Some content Some content Some content
                </div>
              </div>
            </div>
      
            <div class="col-sm-12 col-md-6 col-lg-2 my-1">
              <div class="programs">
                <div class="programs-body pt-5">Some content Some content Some content</div>
              </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-2 my-1">
              <div class="programs">
                <div class="programs-body pt-7">Some content Some content Some content</div>
              </div>
            </div>

            <div class="col-sm-12 col-md-6 col-lg-2 my-1">
              <div class="programs">
                <div class="programs-body pt-9">Some content Some content Some content</div>
              </div>
            </div>

            <div class="col-sm-12 col-md-6 col-lg-2 my-1">
              
            </div>
          </div>
        </div>
      
      

    </section>



  <!-- <section id="yoga-foundation">
    <div class="container-padding">
        <div class="foundation">
          <div class="row vertical-align">
            <div class="col-md-7">
              <div class="yoga-guidelines">
                <h4> Yoga Healing Foundation </h4> <br>
                <p>
                  The aim of Yoga Healing Foundation of America Inc. is to restore an understanding of the relationship of the different limbs of yoga and to present this knowledge in its original, whole and undiluted practical form for the benefit of all practitioners and teachers. Hatha Yoga for the body and Raja Yoga for the mind. Many of our programs are taught by Dr. A.L.V. Kumar, an inspirational teacher and yoga master. </p>

<p> Across the USA and the globe, we run online yoga and meditation teacher training programs. In India we help to fund a range of local yoga and meditation programs and events, including Yoga teacher training courses and a 15 day winter meditation retreat. </p>

<p>The courses are all run as a charitable not-for profit activity. They cover both theory and practice of Hatha and Raja Yoga, for the purpose of promoting the study and practice of traditional yoga, advancing the education of the public in its healing, preventative and therapeutic effects, and promoting the mental, physical and spiritual health of the public.
                </p>
              </div>
            </div>
            <div class="col-md-4">
              <div class="about-ty-donation-btn text-center">
                <img src="assets/img/ty-icon.png" alt="" class="img-fluid" />
                <br>
                <div class="donate-now pt-3">
                  <div class="btn btn-donate btn-knowmore rounded-pill"> Donate </div> <br>
                  <p class="donate-text pt-4 text-white"> Alming to feed the soul the best of nutrients for the improverished</p>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
  </section> -->

  <section id="donations-circle">
    <div class="donation-circle ">
      <div class="donate-circle2">
      <div class="donars-region">
          <h4 class="text-center text-white pb-5">Donations</h4>
          <p class="pb-3 pb-5 align-text-top"> 
            <span  class="w-50"> For India donors: </span> 
            <span data-bs-toggle="modal" data-bs-target="#exampleModal" class="btn btn-donate btn-knowmore rounded-pill float-right"> Click Here </span></p>
          <p class="pb-3 align-text-top"> 
            <span class="w-50"> For USA, UK , Europe and <br>
            Rest of the world donors, <br>
            make the donations below: </span> 
            <span data-bs-toggle="modal" data-bs-target="#exampleModalUK" class="btn btn-donate btn-knowmore rounded-pill float-right "> Click Here </span></p>
      </div>
    </div>

    </div>
    
    <div class="donation-circle-flower">
      <div class="donations-flower">
        <img src="assets/img/donation-circle-flower.png" alt=""  class="img-fluid"/>
      </div>
      <div class="about-butter-fly animate__animated animate__fadeInTopLeft animate__delay-3s">
        <img src="assets/img/Dragonfly-gif.gif" alt="" class="img-fluid dragon-fly" />
      </div>
    </div>

  </section>

  <div id="mumuksha" class="pb-0 pt-0">
    <div class="mumuksha-msg" data-aos="fade-left">
      <div class="mumuksha-msg-circle">
      <div class="mumuksha-msg-circle2">
        <div class="mumuksha-msg-quote text-white">
          <h4>MUMUKSHA</h4>
            <p>The burning desire to beome enlightened. The realisation of Allah, the Holy Spirit, Paramatma,  requires perseverance in spiritual progress</p>

            <p class=""> - Dr. ALV Kumar </p>
        </div>
    </div>
  </div>

</div>
<div class="contact-lotus-flower" >
  <img src="assets/img/donations-footer-left.png" class="img-fluid" width="250"/>
</div>

</div>
  
    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact p-0">
      <div class="container" data-aos="fade-up">

        <!-- <div class="section-title">
          <h2>Contact</h2>
          <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>
        </div> -->

        <div class="row">
          

          <div class="col-lg-5">
            <div class="get-in-touch">
            <h6><b>GET IN TOUCH </b></h6>
            <p>Magnam dolores commodi suscipit.</p>
          </div>
          </div>

          <div class="col-lg-7 mt-4 mt-lg-0">
            <form action="forms/contact.php" method="post" role="form" class="php-email-form w-100" data-aos="fade-up">
     
                <div class="form-group mt-3">
                  <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required>
                </div>
                <div class="form-group mt-3">
                  <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required>
                </div>

                <div class="row mt-3">
                  <div class="col-md-6 form-group">
                    <input type="text" name="name" class="form-control" id="name" placeholder="Phone No" required>
                  </div>
                  <div class="col-md-6 form-group mt-3 mt-md-0">
                    <input type="email" class="form-control" name="email" id="email" placeholder="Country" required>
                  </div>
                </div>

              <div class="form-group mt-3">
                <textarea class="form-control" name="message" rows="5" placeholder="Message" required></textarea>
              </div>
              <div class="my-3">
                <div class="loading">Loading</div>
                <div class="error-message"></div>
                <div class="sent-message">Your message has been sent. Thank you!</div>
              </div>
              <div class="">
                <div type="submit" class="btn btn-donate btn-knowmore rounded-pill">Send Message</div>
              </div>
            </form>
          </div>

        </div>
        
      </div>
    </section><!-- End Contact Section -->


  </main><!-- End #main -->



  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="about-popup">

        <div class="modal-body">
         


            <div class="row">
              <div class="about-popup-content p-5">
             
                <form>
                  <div class="form-group row">
                    <label for="staticEmail" class="col-sm-2 col-form-label">Name </label>
                    <div class="col-sm-10">
                      <input type="text" readonly class="form-control" id="staticEmail" placeholder="Name">
                    </div>
                  </div>

                  <div class="form-group row">
                    <label for="staticEmail" class="col-sm-2 col-form-label">Email </label>
                    <div class="col-sm-10">
                      <input type="text" readonly class="form-control" id="staticEmail" placeholder="Email Id">
                    </div>
                  </div>

                  <div class="form-group row">
                    <label for="inputPassword" class="col-sm-2 col-form-label">Contact No</label>
                    <div class="col-sm-6">
                      <input type="password" class="form-control" id="inputPassword" placeholder="Password">
                    </div>
                  </div>

                  <div class="form-group row">
                    <label for="inputPassword" class="col-sm-2 col-form-label">Country</label>
                    <div class="col-sm-6">
                      <select id="inputState" class="form-control">
                        <option selected>Choose...</option>
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                      </select>
                    </div>
                  </div>

                  <div class="form-group row">
                    <label for="inputPassword" class="col-sm-3 col-form-label text-right">Taxpayer Identification Number</label>
                    <div class="col-sm-6">
                      <input type="password" class="form-control" id="inputPassword" placeholder="Password">
                    </div>
                  </div>

                  <div class="form-group row">
                    <label for="inputPassword" class="col-sm-3 col-form-label text-right">Passport Number</label>
                    <div class="col-sm-6">
                      <input type="password" class="form-control" id="inputPassword" placeholder="Password">
                    </div>
                  </div>

                  <div class="form-group row">
                    <label for="inputPassword" class="col-sm-3 col-form-label text-right">Elector’s photo Identity number</label>
                    <div class="col-sm-6">
                      <input type="password" class="form-control" id="inputPassword" placeholder="Password">
                    </div>
                  </div>

                  <div class="form-group row">
                      <div class="col-sm-12"> 
                        <div class="btn btn-popup  rounded-pill"> Submit</div>
                      </div>
                  </div>

                  <div class="form-group row">
                    <label for="inputPassword" class="col-sm-2 col-form-label text-right">Donation
                      Amount</label>
                    <div class="col-sm-10">
                      <input type="password" class="form-control" id="inputPassword" placeholder="Password">
                    </div>
                  </div>

                  <div class="form-group row">
                    <label for="inputPassword" class="col-sm-2 col-form-label text-right">Stripe
                      Credit Card</label>
                    <div class="col-sm-10">
                      <input type="password" class="form-control" id="inputPassword" placeholder="Password">
                    </div>
                  </div>

                  <div class="form-group row">
                    <label for="inputPassword" class="col-sm-2 col-form-label text-right"> Name on 
                      card </label>
                    <div class="col-sm-10">
                      <input type="password" class="form-control" id="inputPassword" placeholder="Password">
                    </div>
                  </div>

                  <div class="form-group row">
                    <label for="inputPassword" class="col-sm-2 col-form-label text-right"> Message </label>
                    <div class="col-sm-10">
                      <input type="password" class="form-control" id="inputPassword" placeholder="Password">
                    </div>
                  </div>

                  <div class="form-group row pt-2">
                    <div class="col-sm-12"> 
                      <div class="btn btn-popup  rounded-pill"> Make Payment </div>
                    </div>
                </div>
                </form>


              </div>
            </div>

        </div>
      </div>

      </div>
    </div>
  </div>


   <!-- Modal -->
   <div class="modal fade" id="exampleModalUK" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="about-popup">

        <div class="row">
              <div class="about-popup-content p-5">
             
                <form>
                  <div class="form-group row">
                    <label for="staticEmail" class="col-sm-2 col-form-label">Name </label>
                    <div class="col-sm-10">
                      <input type="text" readonly class="form-control" id="staticEmail" placeholder="Name">
                    </div>
                  </div>

                  <div class="form-group row">
                    <label for="staticEmail" class="col-sm-2 col-form-label">Address </label>
                    <div class="col-sm-10">
                      <input type="text" readonly class="form-control" id="staticEmail" placeholder="Address">
                    </div>
                  </div>

                  <div class="form-group row">
                    <label for="staticEmail" class="col-sm-2 col-form-label">Email </label>
                    <div class="col-sm-10">
                      <input type="text" readonly class="form-control" id="staticEmail" placeholder="Email Id">
                    </div>
                  </div>

                  <div class="form-group row">
                    <label for="inputPassword" class="col-sm-2 col-form-label">Contact No</label>
                    <div class="col-sm-6">
                      <input type="password" class="form-control" id="inputPassword" placeholder="Password">
                    </div>
                  </div>

                  <div class="col-11 float-right">
                  <div class="form-group row">
                    <label for="inputPassword float-right" class="col-sm-5 col-form-label"> Are you an Indian citizen?</label>
                    <div class="col-sm-6">
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
                      <label class="form-check-label" for="inlineRadio1">Yes</label>
                    </div> &nbsp; &nbsp; &nbsp; 
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                      <label class="form-check-label" for="inlineRadio2">No</label>
                    </div>
                   </div>
                  </div>
                  </div>
                  <div class="clearfix"></div>

                  <div class="col-11 float-right">
                    <div class="form-group row">
                      <label for="inputPassword float-right" class="col-sm-5 col-form-label">Do you want 80G 
                        tax benefits?</label>
                      <div class="col-sm-6">
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
                        <label class="form-check-label" for="inlineRadio1">Yes</label>
                      </div> &nbsp; &nbsp; &nbsp; 
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                        <label class="form-check-label" for="inlineRadio2">No</label>
                      </div>
                     </div>
                    </div>
                    </div>
                    <div class="clearfix"></div>



                  <div class="form-group row">
                    <label for="inputPassword" class="col-sm-3 col-form-label text-right">PAN
                      Number</label>
                    <div class="col-sm-6">
                      <input type="password" class="form-control" id="inputPassword" placeholder="Password">
                    </div>
                  </div>

                  <div class="form-group row">
                    <label for="inputPassword" class="col-sm-3 col-form-label text-right">Adhaar
                      Number</label>
                    <div class="col-sm-6">
                      <input type="password" class="form-control" id="inputPassword" placeholder="Password">
                    </div>
                  </div>

          
                  <div class="form-group row">
                      <div class="col-sm-12"> 
                        <div class="btn btn-popup  rounded-pill"> Submit</div>
                      </div>
                  </div>

                  <div class="form-group row">
                    <label for="inputPassword" class="col-sm-2 col-form-label text-right">Donation
                      Amount</label>
                    <div class="col-sm-10">
                      <input type="password" class="form-control" id="inputPassword" placeholder="Password">
                    </div>
                  </div>

                  <div class="form-group row">
                    <label for="inputPassword" class="col-sm-2 col-form-label text-right">Stripe
                      Credit Card</label>
                    <div class="col-sm-10">
                      <input type="password" class="form-control" id="inputPassword" placeholder="Password">
                    </div>
                  </div>

                  <div class="form-group row">
                    <label for="inputPassword" class="col-sm-2 col-form-label text-right"> Name on 
                      card </label>
                    <div class="col-sm-10">
                      <input type="password" class="form-control" id="inputPassword" placeholder="Password">
                    </div>
                  </div>

                  <div class="form-group row">
                    <label for="inputPassword" class="col-sm-2 col-form-label text-right"> Message </label>
                    <div class="col-sm-10">
                      <input type="password" class="form-control" id="inputPassword" placeholder="Password">
                    </div>
                  </div>

                  <div class="form-group row pt-2">
                    <div class="col-sm-12"> 
                      <div class="btn btn-popup  rounded-pill"> Make Payment </div>
                    </div>
                </div>
                </form>


              </div>
            </div>

      </div>

      </div>
    </div>
    </div>

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>



</body>




