<body class="donations-bg"> 

  <!-- ======= Header ======= -->
  
  <!-- ======= Header ======= -->
  <header id="header">
    <!-- <div class="lotus-top animate__animated animate__backInRight animate__delay-1s">
      <img src="assets/img/lotus-top.png" alt="" class="img-fluid flower-top"/>
    </div>
     <div class="butter-fly animate__animated animate__fadeInTopLeft animate__delay-3s">
      <img src="assets/img/Dragonfly-gif.gif" alt="" class="img-fluid dragon-fly" />
    </div> -->
    <div class="container d-flex align-items-center justify-content-between">

      <!-- <div class="logo">
        <h1><a href="index.html">Bocor<span>.</span></a></h1>
        Uncomment below if you prefer to use an image logo
        <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>
      </div> -->
      <div class="menu-line animate__animated animate__fadeInTopLeft animate__delay-4s" routerLink="/"> 
        <img src="assets/img/menu-line.png" alt="" width="60%" />
      </div>
      
      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto" routerLink="/aboutUs"> <i class="fa fa-caret-right" ></i> About Us</a></li>
          <li><a class="nav-link scrollto" routerLink="/upComingCourses"> <i class="fa fa-caret-right" ></i> Upcoming Course</a></li>
          <li><a class="nav-link scrollto" routerLink="/faqs"> <i class="fa fa-caret-right" ></i> FAQ's</a></li>
          <li><a class="nav-link scrollto" routerLink="/offerings"> <i class="fa fa-caret-right" ></i> Our Offerings</a></li>
          <li><a class="nav-link scrollto active" routerLink="/donations"> <i class="fa fa-caret-right" ></i> Donate</a></li>
          <li><a class="nav-link scrollto" routerLink="/vedic-neutraceuticles">  <i class="fa fa-caret-right" ></i> Vedic Nutraceuticals</a></li>
          <li><a class="nav-link scrollto" routerLink="/gallery">  <i class="fa fa-caret-right" ></i> Gallery</a></li>
          <!-- <li class="dropdown"><a href="#"><span>Drop Down</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a href="#">Drop Down 1</a></li>
              <li class="dropdown"><a href="#"><span>Deep Drop Down</span> <i class="bi bi-chevron-right"></i></a>
                <ul>
                  <li><a href="#">Deep Drop Down 1</a></li>
                  <li><a href="#">Deep Drop Down 2</a></li>
                  <li><a href="#">Deep Drop Down 3</a></li>
                  <li><a href="#">Deep Drop Down 4</a></li>
                  <li><a href="#">Deep Drop Down 5</a></li>
                </ul>
              </li>
              <li><a href="#">Drop Down 2</a></li>
              <li><a href="#">Drop Down 3</a></li>
              <li><a href="#">Drop Down 4</a></li>
            </ul>
          </li> -->
          <!-- <li><a class="nav-link scrollto" href="#contact">Contact</a></li> -->
        </ul>
        <a routerLink="/" class="ty-favicon" style="padding: 0px;"> <img src="assets/img/ty-icon.png" alt="" width="30" /> &nbsp; &nbsp; </a>
        <i class="animate__animated animate__bounceInDown animate__delay-1s bi bi-list mobile-nav-toggle"> 
          &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; </i> 
        <div class="menu-name animate__animated animate__bounceInDown animate__delay-1s">
        <span class="text-white"> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;   Donation </span>
        </div>
      </nav><!-- .navbar -->

    </div>
    <div class="clearfix "></div>


  </header><!-- End Header -->

  <section id="logo-section" class="donations-mountains offerings-padding">
    <div class="login-box login-donations">
    <div class="login-icon text-center animate__animated animate__backInRight animate__delay-2s" ><a href="http://15.207.166.2:8080/ty/#/login">
      <img src="assets/img/login-icon.png" alt="" class="img-fluid  animate__animated animate__backInRight animate__delay-2s" />
      <span class="text-white font-weight-bold "> Login </span> </a>
      
    </div> 
  </div>
  
  <div class="donationlogin-line animate__animated animate__backInRight animate__delay-3s">
    <img src="assets/img/login-curve.png" alt="" width="90%" />
  </div>
    <!-- <div class="lotus-left">
      <img src="assets/img/lotus-left.png" alt="" class="img-fluid flower-left" />
    </div>      -->
    
    <!--<div class="logo text-center pt-3">
         <h1> Our Offerings </h1>
    </div>
     <div class="logo text-center">
      <a href="index.html"><img src="assets/img/ty-logo.png"  alt="" class="img-fluid"></a>
    </div> -->


     </section>


  <main id="main">
   

    <section id="our-aim" class="pt-0 about-anilkumar-block ">
      <div class="container-padding">
      <div class="row">
        <div class="col-md-4 mt-5">
          
          <div>
            <div class="ouraim-circle animate__animated animate__fadeInTopLeft animate__delay-4s">

              <div class="ouraim-circle12 ">
                  <div class="ouraim-quote">
                      <p>“Einstein and Buddha say it’s not about learning the facts but reprogramming the mind to think.”
                        </p>
    
                      <p class=""> -  Dr. A L V Kumar </p>
                  </div>
              </div>
              <div class="about-guruji-quote">
                <img src="assets/img/aboutus-2lotus.png" width="100" />
              </div>
            </div>
          </div>
        </div>


        <div class="col-md-8">
          <div class="ouraim-block">
            <div class="ouraim-content ">
              <h1> Our Aim </h1> <br>
              
              

               <p> Protect &nbsp; &nbsp; <span class="dot"></span>&nbsp; &nbsp; Revive &nbsp; &nbsp; <span class="dot"></span>&nbsp; &nbsp; Disseminate </p>
                
               <p>original, undiluted and complete yogic knowledge, both theory and practice in its
                purest form for the benifit of the public and public wellbeing of entire world. </p>
                <p>The courses are all run as charitable not-for profit activity.</p> 


            </div>
          </div>

            


        </div>

        <!-- <div class="river-flower text-center" style="position:relative; left:35%; ">
          <img src="assets/img/river-flower.png" alt="flower" width="150" 
          class="img-fluid" />
          </div>
        <div class="river-about">
          <img src="assets/img/river-bg2.png" alt="" class="img-fluid" />
        </div>  -->
        </div>
        
        <div class="donations-right-lotus">
          <img src="assets/img/donations-right-flower.png" alt="" class="img-fluid">
        </div>
  
  </div>
 
    </section>




    <section id="the-charity" class=" about-anilkumar-block pt-0">
      <div class="container-padding">
      <div class="row">
        
        <div class="col-lg-7 mt-5">
          <div class="charity-block">
            <div class="charity-content ">
              <p class="float-right">
                <img src="assets/img/donation-logo.png" width="150" alt="" class="img-fluid" />
              </p>
              <div class="clearfix"></div>
              <h1> The Charity </h1> <br>
              
               <p>The charity has an established connection to India, primarily to guarantee its authenticity at source but also as a means to safeguard the continuation of traditional knowledge in its original cultural setting for the benefit of future generations. </p>

               <p>Our charities in the US and UK make charitable grants to Yoga Healing Foundation India, with whom we have established collaborative relationship, to organize and deliver programs that align to our aims and objectives. </p> 
            <br>
              </div>
          </div>

        </div>


        <div class="col-md-4 ">
          <div class="">

          <div class="charity-circle12 animate__animated animate__fadeInTopRight animate__delay-6s">
              <div class="charity-quote">
                  <p class="pb-2"> 
                    <img src="assets/img/india.png" width="82" alt="" style="padding-right: 15px"/> 
                    <span class="font-bold">
                      TRUST# 91/2010
                    </span>
                  </p>
                  <p> 
                    <img src="assets/img/british.png" width="82" alt="" style="padding-right: 15px" />
                    <span class="font-bold">
                      EIN# 47-4872198

                    </span>
                  </p>
                  <p> 
                    <img src="assets/img/england-icon.png" width="82" alt="" style="padding-right: 15px" />
                    <span class="font-bold">
                      CHARITY# 1153094
                    </span>
                  </p>
              </div>
          </div>
        </div>
        </div>

        <div class="river-flower text-center">
          <img src="assets/img/footer-pond-lotus.png" alt="flower" width="200" 
          class="img-fluid" />
          </div>
        <div class="river-about" style="bottom:10%">
          <img src="assets/img/river-bg2.png" alt="" class="img-fluid" />
        </div> 
        </div>
        
        <!-- <div class="donations-right-lotus">
          <img src="assets/img/donations-right-flower.png" alt="" class="img-fluid">
        </div> -->
  
  </div>
 
    </section>



    <section id="programs-funded">
      

        <div class="container">
          <div class="row grid-divider text-white">
            <div class="offerings-line">
              <h1 class="float-right text-white"> Programs Funded</h1>
              <div class="clearfix"></div>
              <img src="assets/img/offerings-line.png" alt="" class="w-70"  /><br>
              <span class="text-sm float-right text-white">The few programs we fund include</span>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-2 my-1">
              <div class="programs">
                <div class="programs-body pt-0" style="font-size: 15px; color:#fffef7;">• Large scale free public yoga and health
                  awareness workshops. These take place
                  outdoors in public parks and are
                  attended by public at large per year. </div>
              </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-2 my-1">
              <div class="programs">
                <div class="programs-body pt-5" style="font-size: 15px; color:#fffef7;">
                  • Free symposiums and
                  seminars addressing
                  particular topics; free
                  guest lectures for
                  particular institutions,
                  organisations and
                  professional
                  communities
                </div>
              </div>
            </div>
      
            <div class="col-sm-12 col-md-6 col-lg-2 my-1">
              <div class="programs">
                <div class="programs-body pt-7" style="font-size: 15px; color:#fffef7;">• Yoga centers have
                  been hired and
                  established throughout
                  the city to provide an
                  ongoing resource for
                  teachers and students.
                  These provide morning
                  and evening yoga
                  classes for local
                  communities.</div>
              </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-2 my-1">
              <div class="programs">
                <div class="programs-body pt-9" style="font-size: 15px; color:#fffef7;">• Residential meditation
                  courses.</div>
              </div>
            </div>

            <div class="col-sm-12 col-md-6 col-lg-2 my-1">
              <div class="programs">
                <div class="programs-body pt-11" style="font-size: 15px; color:#fffef7;">• Free certified online yogi training programs <br><br>

                  • Preserving scriptures, ancient techniques and  discourses digitally</div>
              </div>
            </div>

            <div class="col-sm-12 col-md-6 col-lg-2 my-1">
              <div class="programs">
                <div class="programs-body pt-13" style="font-size: 15px; color:#fffef7;">• Supplying
                  Neutraceuticals to the
                  needy and well
                  deserved.
                </div>
              </div>
              
            </div>
          </div>
        </div>
      
      

    </section>



  <!-- <section id="yoga-foundation">
    <div class="container-padding">
        <div class="foundation">
          <div class="row vertical-align">
            <div class="col-md-7">
              <div class="yoga-guidelines">
                <h4> Yoga Healing Foundation </h4> <br>
                <p>
                  The aim of Yoga Healing Foundation of America Inc. is to restore an understanding of the relationship of the different limbs of yoga and to present this knowledge in its original, whole and undiluted practical form for the benefit of all practitioners and teachers. Hatha Yoga for the body and Raja Yoga for the mind. Many of our programs are taught by Dr. A.L.V. Kumar, an inspirational teacher and yoga master. </p>

<p> Across the USA and the globe, we run online yoga and meditation teacher training programs. In India we help to fund a range of local yoga and meditation programs and events, including Yoga teacher training courses and a 15 day winter meditation retreat. </p>

<p>The courses are all run as a charitable not-for profit activity. They cover both theory and practice of Hatha and Raja Yoga, for the purpose of promoting the study and practice of traditional yoga, advancing the education of the public in its healing, preventative and therapeutic effects, and promoting the mental, physical and spiritual health of the public.
                </p>
              </div>
            </div>
            <div class="col-md-4">
              <div class="about-ty-donation-btn text-center">
                <img src="assets/img/ty-icon.png" alt="" class="img-fluid" />
                <br>
                <div class="donate-now pt-3">
                  <div class="btn btn-donate btn-knowmore rounded-pill"> Donate </div> <br>
                  <p class="donate-text pt-4 text-white"> Alming to feed the soul the best of nutrients for the improverished</p>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
  </section> -->

  <section id="donations-circle">
    <div class="donation-circle ">
      <div class="donate-circle2">
      <div class="donars-region desktop-view">
          <h1 class="text-center text-black pb-5">Donation</h1>          
          <p class="pb-3 pb-5 align-text-top"> 
            <span  class="w-50 text-black"> For India donors: </span> 
            <span data-bs-toggle="modal" data-bs-target="#exampleModalUK" class="float-none btn btn-donate btn-knowmore rounded-pill float-right"> Click Here </span></p>
          
          <p class="pb-3 align-text-top"> 
            <span class="w-50 text-black"> For USA, UK, Europe and <br>
            Rest of the world donors, <br>
            make the donations below: </span> 
            <span data-bs-toggle="modal" data-bs-target="#exampleModal" class="float-none btn btn-donate btn-knowmore rounded-pill float-right "> Click Here </span></p>
      </div>

      <div class="donars-region mobile-view">
        <h1 class="text-center text-black">Donation</h1>          
        <p class="align-text-top center"> 
          <span  class="text-black text-center"> For India donors: </span> <br>
          <span data-bs-toggle="modal" data-bs-target="#exampleModalUK" class="float-none btn btn-donate btn-knowmore rounded-pill float-right"> Click Here </span></p>
        
        <p class="align-text-top center"> 
          <span class="text-black text-center"> For USA, UK, Europe and <br>
          Rest of the world donors, <br>
          make the donations below: </span> 
          <span data-bs-toggle="modal" data-bs-target="#exampleModal" class="float-none btn btn-donate btn-knowmore rounded-pill float-right "> Click Here </span></p>
    </div>
    </div>

    </div>
    
    <div class="donation-circle-flower">
      <div class="donations-flower">
        <img src="assets/img/donation-circle-flower.png" alt=""  class="img-fluid"/>
      </div>
      <div class="donate-butter-fly animate__animated animate__fadeInTopLeft animate__delay-3s">
        <img src="assets/img/Dragonfly-gif.gif" alt="" class="img-fluid dragon-fly" />
      </div>
    </div>

  </section>

  <div id="" class="pb-0 pt-0" style=" position: relative;">
    <div class="" data-aos="fade-left">
      <div class="mumuksha-msg-circle">
      <div class="mumuksha-msg-circle2">
        <div class="mumuksha-msg-quote text-white">
          <h2 class="text-black">MUMUKSHA</h2>
            <p class="text-black">The burning desire to become enlightened. The realisation of Allah, the Holy Spirit, Paramatma,  requires perseverance in spiritual progress</p>

            <p class="text-black"> - Dr. A L V Kumar </p>
        </div>
    </div>
  </div>

</div>
<div class="contact-lotus-flower" >
  <img src="assets/img/donations-footer-left.png" class="img-fluid" width="250"/>
</div>

</div>
  
    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <!-- <div class="bottom-line">
        <img src="../../../assets/img/bottom-line.png" />
      </div> -->

      <div class="container" data-aos="fade-up">

        <!-- <div class="section-title">
          <h2>Contact</h2>
          <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>
        </div> -->

        <div class="row">
          <!-- <div class="contact-lotus">
            <img src="assets/img/contact-lotus-left.png" width="200" alt="" class="img-fluid"/>
          </div> -->

          <div class="col-lg-4 text-black">
            <h4><b>GET IN TOUCH </b></h4>
            <p>Fill the form with your query <br>
              or questions to reach us out</p>

          </div>

          <div class="col-md-8 mt-4 mt-lg-0 text-black">
            <form action="forms/contact.php" method="post" role="form" class="php-email-form w-100" data-aos="fade-up">
              
              <div class="form-group mt-3 d-flex">
                <span class="input-name"> Name&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                <input type="text" name="name" class="form-control" id="name" placeholder=" Name" required>
              </div>
  
              <div class="form-group mt-3 d-flex">
                <span class="input-name"> Email&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                <input type="email" name="name" class="form-control" id="name" placeholder=" Email" required>
              </div>
  
  
                <div class="row mt-3 d-flex">
                  
                  <div class="col-md-6 form-group d-flex">
                    <span class="input-name"> Phone&nbsp;&nbsp;&nbsp;&nbsp;</span>
                    <input type="text" name="name" class="form-control" id="name" placeholder="Phone No" required>
                  </div>
                  <div class="col-md-6 form-group mt-3 mt-md-0 d-flex">
                    <span class="input-name"> Country</span>
                    <input type="email" class="form-control" name="email" id="email" placeholder="Country" required>
                  </div>
                </div>
  
              <div class="form-group mt-3 d-flex">
                <span class="input-name"> Query&nbsp;&nbsp;&nbsp;&nbsp;</span>
                <textarea class="form-control" name="message" rows="5" placeholder="Query" required></textarea>
              </div>
              <div class="form-group mt-3 d-flex">
                <span class="input-name">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
              <input type="checkbox" class="checkbox1" (change)="isCheckboxenabled($event)"
              > &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<p class="text-black" style="display: inline-block; font-size: 18px;">I authorize Traditional Yoga Volunteers to add me to the mailing list and contact me regarding upcoming courses, retreats, etc.</p>
              </div>
              <div class="my-3 d-flex">
               
                <div class="loading">Loading</div>
                <div class="error-message"></div>
                <div class="sent-message">Your message has been sent. Thank you!</div>
              </div>
              <div class="" style="margin-left: 80px; margin-top: -20px;">
                <input type="button" [disabled]="!disabledAgreement" class="btn btn-secondary rounded-pill btn-sm btn-knowmore"  text="submit" value="Submit" disabled/>
              </div>
            </form>
          </div>

        </div>
        
      </div>
    </section><!-- End Contact Section -->

    <footer>
      <div class="container-padding">
        <div class="row" style="margin-top: 80px">
        <div class="col-md-6">
          <div class="socialmedia-icons">
            <a href="https://www.youtube.com/channel/UC7ENvZuGXC4LV8ZkPpuNsng" target="blank"><span class="youtube"> <img src="assets/img/youtube-icon.png" alt="youtube"/> </span></a>
            <a href="https://www.facebook.com/TraditonalYoga/" target="blank"> <span class="fb"> <img src="assets/img/facebook-icon.png" alt="facebook"/> </span></a>
              <a href="https://twitter.com/Traditiona1Yoga" target="blank"><span class="twitter"> <img src="assets/img/twitter.png" alt="twitter"/> </span></a>
                <a href="https://www.instagram.com/traditionalyoga_us/" target="blank"> <span class="instagram"> <img src="assets/img/instagram.png" alt="instagram"/> </span></a>
          </div>
        </div>
    
        <div class="col-md-6">
          <span data-bs-toggle="modal" data-bs-target="#exampleModalprivacy" ><p class="float-right privacy-policy"> Privacy Policy</p></span>
        </div>
        
        
      </div>
      </div>
    </footer>

  </main><!-- End #main -->



  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="about-popup">
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        <div class="modal-body">
         


            <div class="row">
              <div class="about-popup-content p-5">
             
                <form>
                  <div class="form-group row">
                    <label for="staticEmail" class="col-sm-2 col-form-label">Name </label>
                    <div class="col-sm-10">
                      <input type="text" readonly class="form-control" id="staticEmail" placeholder="Name">
                    </div>
                  </div>

                  <div class="form-group row">
                    <label for="staticEmail" class="col-sm-2 col-form-label">Email </label>
                    <div class="col-sm-10">
                      <input type="text" readonly class="form-control" id="staticEmail" placeholder="Email Id">
                    </div>
                  </div>

                  <div class="form-group row">
                    <label for="inputPassword" class="col-sm-2 col-form-label">Contact No</label>
                    <div class="col-sm-6">
                      <input type="password" class="form-control" id="inputPassword" placeholder="Contact No.">
                    </div>
                  </div>

                  <div class="form-group row">
                    <label for="inputPassword" class="col-sm-2 col-form-label" style="font-size:14px ;"> Country</label>
                    <div class="col-sm-6">
                      <select id="inputState" class="form-control">
                        <option selected>Choose...</option>
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                      </select>
                    </div>
                  </div>

                  <div class="form-group row">
                    <label for="inputPassword" class="col-sm-3 col-form-label text-right">Taxpayer Identification Number</label>
                    <div class="col-sm-6">
                      <input type="password" class="form-control" id="inputPassword" placeholder="Taxpayer Identification Number">
                    </div>
                  </div>

                  <div class="form-group row">
                    <label for="inputPassword" class="col-sm-3 col-form-label text-right">Passport Number</label>
                    <div class="col-sm-6">
                      <input type="password" class="form-control" id="inputPassword" placeholder="Passport Number">
                    </div>
                  </div>

                  <div class="form-group row">
                    <label for="inputPassword" class="col-sm-3 col-form-label text-right">Elector’s photo Identity number</label>
                    <div class="col-sm-6">
                      <input type="password" class="form-control" id="inputPassword" placeholder="Elector’s photo Identity number">
                    </div>
                  </div>

                  <div class="form-group row">
                      <div class="col-sm-12"> 
                        <div class="btn btn-secondary rounded-pill btn-sm btn-knowmore"> Submit</div>
                      </div>
                  </div>

                  <div class="form-group row">
                    <label for="inputPassword" class="col-sm-2 col-form-label text-right">Donation
                      Amount</label>
                    <div class="col-sm-10">
                      <input type="password" class="form-control" id="inputPassword" placeholder="Donation
                      Amount">
                    </div>
                  </div>

                  <div class="form-group row">
                    <label for="inputPassword" class="col-sm-2 col-form-label text-right">Stripe
                      Credit Card</label>
                    <div class="col-sm-10">
                      <input type="password" class="form-control" id="inputPassword" placeholder="Stripe
                      Credit Card">
                    </div>
                  </div>

                  <div class="form-group row">
                    <label for="inputPassword" class="col-sm-2 col-form-label text-right"> Name on 
                      card </label>
                    <div class="col-sm-10">
                      <input type="password" class="form-control" id="inputPassword" placeholder="Name on 
                      card">
                    </div>
                  </div>

                  <div class="form-group row">
                    <label for="inputPassword" class="col-sm-2 col-form-label text-right"> Message </label>
                    <div class="col-sm-10">
                      <input type="password" class="form-control" id="inputPassword" placeholder="Message">
                    </div>
                  </div>

                  <div class="form-group row pt-2">
                    <div class="col-sm-12"> 
                      <div class="btn btn-secondary rounded-pill btn-sm btn-knowmore"> Make Payment </div>
                    </div>
                </div>
                </form>


              </div>
            </div>

        </div>
      </div>

      </div>
    </div>
  </div>


   <!-- Modal -->
   <div class="modal fade" id="exampleModalUK" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="about-popup">
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        <div class="row">
              <div class="about-popup-content p-5">
              
                <form>
                  <div class="form-group row">
                    <label for="staticEmail" class="col-sm-2 col-form-label">Name </label>
                    <div class="col-sm-10">
                      <input type="text" readonly class="form-control" id="staticEmail" placeholder="Name">
                    </div>
                  </div>

                  <div class="form-group row">
                    <label for="staticEmail" class="col-sm-2 col-form-label">Address </label>
                    <div class="col-sm-10">
                      <input type="text" readonly class="form-control" id="staticEmail" placeholder="Address">
                    </div>
                  </div>

                  <div class="form-group row">
                    <label for="staticEmail" class="col-sm-2 col-form-label">Email </label>
                    <div class="col-sm-10">
                      <input type="text" readonly class="form-control" id="staticEmail" placeholder="Email Id">
                    </div>
                  </div>

                  <div class="form-group row">
                    <label for="inputPassword" class="col-sm-2 col-form-label">Contact No</label>
                    <div class="col-sm-6">
                      <input type="password" class="form-control" id="inputPassword" placeholder="Contact No.">
                    </div>
                  </div>

                  <div class="col-11 float-right">
                  <div class="form-group row">
                    <label for="inputPassword float-right" class="col-sm-5 col-form-label"> Are you an Indian citizen?</label>
                    <div class="col-sm-6">
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
                      <label class="form-check-label" for="inlineRadio1">Yes</label>
                    </div> &nbsp; &nbsp; &nbsp; 
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                      <label class="form-check-label" for="inlineRadio2">No</label>
                    </div>
                   </div>
                  </div>
                  </div>
                  <div class="clearfix"></div>

                  <div class="col-11 float-right">
                    <div class="form-group row">
                      <label for="inputPassword float-right" class="col-sm-5 col-form-label">Do you want 80G 
                        tax benefits?</label>
                      <div class="col-sm-6">
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
                        <label class="form-check-label" for="inlineRadio1">Yes</label>
                      </div> &nbsp; &nbsp; &nbsp; 
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                        <label class="form-check-label" for="inlineRadio2">No</label>
                      </div>
                     </div>
                    </div>
                    </div>
                    <div class="clearfix"></div>



                  <div class="form-group row">
                    <label for="inputPassword" class="col-sm-3 col-form-label text-right">PAN
                      Number</label>
                    <div class="col-sm-6">
                      <input type="password" class="form-control" id="inputPassword" placeholder="Pan">
                    </div>
                  </div>

                  <div class="form-group row">
                    <label for="inputPassword" class="col-sm-3 col-form-label text-right">Adhaar
                      Number</label>
                    <div class="col-sm-6">
                      <input type="password" class="form-control" id="inputPassword" placeholder="Adhaar">
                    </div>
                  </div>

                  
                  <div class="form-group row">
                    <label for="inputPassword" class="col-sm-2 col-form-label text-right"> Donation Type </label>
                    <div class="col-sm-10">
                      <select name="cars" class="form-control" id="donationType" placeholder="DonationType">
                        <option value="DonationTypd">Select Donation Type</option>
                        <option value="GenaralDonation">Genaral Donation</option>
                        <option value="Gurudakshina">Gurudakshina</option>
                      </select>
                      
                    </div>
                  </div>

                  <div class="form-group row">
                    <label for="inputPassword" class="col-sm-2 col-form-label text-right"> Message </label>
                    <div class="col-sm-10">
                      <input type="password" class="form-control" id="inputPassword" placeholder="Message">
                    </div>
                  </div>

          
                  <!-- <div class="form-group row">
                      <div class="col-sm-12"> 
                        <div class="btn btn-secondary rounded-pill btn-sm btn-knowmore"> Submit</div>
                      </div>
                  </div> -->

                  <div class="form-group row pt-2">
                    <div class="col-sm-12"> 
                      <a href="https://donate.stripe.com/test_eVa6rnb25cJHgCcaEE">  
                        <div class="btn btn-secondary rounded-pill btn-sm btn-knowmore"> Make Payment </div>
                      </a>
                    </div>
                </div>

                  <!-- 
                    <div class="form-group row">
                    <label for="inputPassword" class="col-sm-2 col-form-label text-right">Donation
                      Amount</label>
                    <div class="col-sm-10">
                      <input type="password" class="form-control" id="inputPassword" placeholder="Donation
                      Amount">
                    </div>
                  </div>

                  <div class="form-group row">
                    <label for="inputPassword" class="col-sm-2 col-form-label text-right">Stripe
                      Credit Card</label>
                    <div class="col-sm-10">
                      <input type="password" class="form-control" id="inputPassword" placeholder="Stripe
                      Credit Card">
                    </div>
                  </div>

                  <div class="form-group row">
                    <label for="inputPassword" class="col-sm-2 col-form-label text-right"> Name on 
                      card </label>
                    <div class="col-sm-10">
                      <input type="password" class="form-control" id="inputPassword" placeholder="Name on 
                      card">
                    </div>
                  </div>
 -->

                  <!-- <div class="form-group row pt-2">
                    <div class="col-sm-12"> 
                      <div class="btn btn-secondary rounded-pill btn-sm btn-knowmore"> Make Payment </div>
                    </div>
                </div> -->
                </form>


              </div>
            </div>

      </div>

      </div>
    </div>
    </div>

     
  <div class="modal fade" id="exampleModalprivacy" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="suitability">
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        <div class="modal-body about">

          <h1 class="text-center popup-name-guruji"> <b>Privacy Policy</b></h1>
          
          <div class="row">
               
              
            <div class="col-md-4">
            </div>

            <!-- <div class="anikumar-img-popup1">
              <img src="assets/img/anikumar-aboutus-popup.png" alt="" class="img-fluid" />
            </div>   -->
            
            <div class="butter-fly-popup-about animate__animated animate__fadeInTopLeft animate__delay-3s">
                <img src="assets/img/Dragonfly-gif.gif" alt="" class="img-fluid dragon-fly" />
              </div>
            
              <div class="suitability-flower-popup">
                <img src="assets/img/about-right-content-flower.png" alt="" class="img-fluid">
              </div>
            </div>


            <div class="row guru-popup">
              <div class="about-popup-content">
              <p style="color:#232323;">This privacy policy outlines how we utilize personal information that is collected at this site. We advise you to read this policy before submitting any personal information or using the site.</p> 
                 
                 <h5 style="color:#232323;"><b>Information Collection:</b></h5>
                  <p style="color:#232323;">At our website, we collect personally identifiable information, such as names, postal addresses, and email addresses, only when provided voluntarily by our visitors. The information you provide is used solely to fulfill your specific request, unless you grant us permission to use it in another way, such as adding you to a mailing list.</p>
              
                  <h5 style="color:#232323;"><b>Cookie/Tracking Technology:</b></h5>
                    <p style="color:#232323;">Our site may utilize cookie and tracking technology depending on the features available. Cookie and tracking technology are useful for gathering information such as browser type, operating system, and the number of visitors to the site, as well as for understanding how visitors use the site. Cookies can also be helpful in customizing the site for visitors. It is important to note that while cookies and other tracking technologies cannot collect personal information, if you have provided personally identifiable information previously, cookies may be linked to this information. Aggregate cookie and tracking data may be shared with third parties.</p>
              
                    <h5 style="color:#232323;"><b>Processing of Usage Data:</b></h5>
                    <p style="color:#232323;">Processing of usage data for both web visitors and customers may be undertaken by us. This usage data could consist of various pieces of information, such as your IP address, browser type and version, geographical location, operating system, referral source, page views, length of visit, and website navigation paths. Additionally, data about the frequency, timing, and pattern of your service use could also be collected. The sources of this usage data include Google Analytics, Google Adwords, Facebook Advertising, and Mailchimp. We may process this usage data for the purpose of analyzing the utilization of our website and services. Our legal basis for processing this data is either explicit consent from users or our legitimate interests, specifically the monitoring and improvement of our website and services.</p>
                
                    <h5 style="color:#232323;"><b>Distribution of Information:</b></h5>
                      <p style="color:#232323;">We may share information with governmental agencies or other companies in order to assist us in fraud prevention or investigation. This may occur when it is either permitted or required by law or when we are attempting to protect against or prevent actual or potential fraud or unauthorized transactions, or investigating fraud that has already taken place. Please note that this information is not provided to these companies for marketing purposes.</p>
                      <h5 style="color:#232323;"><b>Commitment to Data Security:</b></h5>
                      <p style="color:#232323;">Your personally identifiable information is kept secure. Only authorized volunteers, agents and contractors (who have agreed to keep information secure and confidential) have access to this information. </p>
                  
                      <h5 style="color:#232323;"><b>Full Disclosure in Ashram Culture:</b></h5>
                        <p style="color:#232323;">In the context of Ashram culture, seeking a Guru indicates a sincere desire on the part of a Yogi Aspirant to leave behind their cultural and intellectual baggage and be completely transparent with the teacher. This enables the teacher to provide guidance on all aspects of life. 
                          It is important to note that if you are selected for any of the Yoga Courses offered by Traditional Yoga, intentionally withholding information that may impede your progress on the path is not permitted. Please be aware that failure to fully disclose pertinent information may result in removal from the program(s). The purpose of requesting this information is to facilitate your growth on the path and help you heal body, mind, and soul.
                          </p>
                    

                          <h5 style="color:#232323;"><b>Updates/ Modifications:</b></h5>
                          <p style="color:#232323;">Your use of the site indicates your acceptance of the practices outlined in this privacy policy. Although these practices may be revised, any modifications will be published and will only be applied to activities and information on a prospective, not retrospective, basis. It is recommended that you review the privacy policy each time you visit the site to ensure your understanding of how your personal information will be used.
                            Please note that the privacy practices stated in this policy are specific to this website only. If you visit other websites through links on our site, please refer to the privacy policies published on those sites.
                            </p>
                          <h5 style="color:#232323;"><b>Contact Information:</b></h5>
                          <p style="color:#232323;">If you have any questions, concerns, or comments about our privacy policy, please feel free to contact us using the information below:
                           <br><br> E-mail: [xxx]<br><br>
                            Please note that we reserve the right to make changes to this policy, which will be posted on our website.
                            </p>


                </div>
            </div>
        </div>
      </div>

      </div>
    </div>
  </div>


    <div class="back-to-top d-flex align-items-center justify-content-center"  *ngIf="isShow" (click)="gotoTop()">
      <i class="bi bi-arrow-up-short"></i>
    </div>



</body>




<script>
  $(document).on('ready', function() {
      $('.mobile-nav-toggle').click(function(e){
        $('.mobile-nav-toggle').toggleClass("bi-x");
        $("#navbar").toggleClass("navbar-mobile");
        e.preventDefault();
      });
    });
</script>