
<body class="courses-bg"> 

    <!-- ======= Header ======= -->
    
    <!-- ======= Header ======= -->
    <header id="header">
      <div class="lotus-top animate__animated animate__backInRight animate__delay-1s">
        <img src="assets/img/lotus-top.png" alt="" class="img-fluid flower-top"/>
      </div>
       <div class="butter-fly animate__animated animate__fadeInTopLeft animate__delay-3s">
        <img src="assets/img/Dragonfly-gif.gif" alt="" class="img-fluid dragon-fly" />
      </div>
      <div class="container d-flex align-items-center justify-content-between">
  
        <!-- <div class="logo">
          <h1><a href="index.html">Bocor<span>.</span></a></h1>
          Uncomment below if you prefer to use an image logo
          <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>
        </div> -->
        <div class="menu-line animate__animated animate__fadeInTopLeft animate__delay-4s" routerLink="/"> 
          <img src="assets/img/menu-line.png" alt="" width="60%" />
        </div>
        
        <nav id="navbar" class="navbar">
          <ul>
            <li><a class="nav-link scrollto" routerLink="/aboutUs"> <i class="fa fa-caret-right" ></i> About Us</a></li>
          <li><a class="nav-link scrollto active" routerLink="/upComingCourses"> <i class="fa fa-caret-right" ></i> Upcoming Course</a></li>
          <li><a class="nav-link scrollto" routerLink="/faqs"> <i class="fa fa-caret-right" ></i> FAQ's</a></li>
          <li><a class="nav-link scrollto" routerLink="/offerings"> <i class="fa fa-caret-right" ></i> Our Offerings</a></li>
          <li><a class="nav-link scrollto" routerLink="/donations"> <i class="fa fa-caret-right" ></i> Donate</a></li>
          <li><a class="nav-link scrollto" routerLink="/vedic-neutraceuticles">  <i class="fa fa-caret-right" ></i> Vedic Nutraceuticals</a></li>
          <li><a class="nav-link scrollto" routerLink="/gallery">  <i class="fa fa-caret-right" ></i> Gallery</a></li>
            <!-- <li class="dropdown"><a href="#"><span>Drop Down</span> <i class="bi bi-chevron-down"></i></a>
              <ul>
                <li><a href="#">Drop Down 1</a></li>
                <li class="dropdown"><a href="#"><span>Deep Drop Down</span> <i class="bi bi-chevron-right"></i></a>
                  <ul>
                    <li><a href="#">Deep Drop Down 1</a></li>
                    <li><a href="#">Deep Drop Down 2</a></li>
                    <li><a href="#">Deep Drop Down 3</a></li>
                    <li><a href="#">Deep Drop Down 4</a></li>
                    <li><a href="#">Deep Drop Down 5</a></li>
                  </ul>
                </li>
                <li><a href="#">Drop Down 2</a></li>
                <li><a href="#">Drop Down 3</a></li>
                <li><a href="#">Drop Down 4</a></li>
              </ul>
            </li> -->
            <!-- <li><a class="nav-link scrollto" href="#contact">Contact</a></li> -->
          </ul>
          <a routerLink="/"  style="padding: 0px;"> <img src="assets/img/ty-icon-reverse.png" alt="" width="30" /> &nbsp; &nbsp; </a>
          <i class="text-ty animate__animated animate__bounceInDown animate__delay-1s bi bi-list mobile-nav-toggle"> 
            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; </i> 
          <div class="text-ty menu-name animate__animated animate__bounceInDown animate__delay-1s">
          <span class="text-ty"> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;   Upcoming Course</span>
          </div>
        </nav><!-- .navbar -->
  
      </div>
      <div class="clearfix "></div>
  
  
    </header><!-- End Header -->
  
    <section id="logo-section" class="upcoming-courses-padding">
      <!-- <div class="login-box">
      <div class="login-icon text-center animate__animated animate__backInRight animate__delay-2s" >
        <img src="assets/img/login-icon-vedic.png" alt="" class="img-fluid  animate__animated animate__backInRight animate__delay-2s" />
        <span class="text-ty font-weight-bold "> Login </span> 
        
      </div> 
    </div> -->
    
    <!-- <div class="login-line animate__animated animate__backInRight animate__delay-3s">
      <img src="assets/img/login-curve.png" alt="" width="90%" />
    </div> -->
      <!-- <div class="lotus-left">
        <img src="assets/img/lotus-left.png" alt="" class="img-fluid flower-left" />
      </div>      -->
      
      <!-- <div class=" text-center pt-3">
           <h1 class="pt-5"> Upcoming Courses</h1>
      </div> -->
      <!-- <div class="logo text-center">
        <a href="index.html"><img src="assets/img/ty-logo.png"  alt="" class="img-fluid"></a>
      </div> -->
  
  
       </section>

       <main id="main">
    

        <section id="upcoming-courses-section" class="pt-0">
            <div class="container-padding">
          
      
              <!-- <div class="about-flower">
                <img src="assets/img/about-right-content-flower.png" alt="" class="img-fluid"/>
              </div>
              <div class="about-butter-fly animate__animated animate__fadeInTopLeft animate__delay-3s">
                <img src="assets/img/courses-butterfly.png" alt="" class="img-fluid dragon-fly" />
              </div> -->
      
            <div class=" course-ty upcoming-courses-booking">
              <div class="upcoming-courses-booking-content ">
                <div class="row">
                  
                 
                </div>
                <div class="clearfix"></div> <br>
                
              
              <!-- <div class="align-items-center">
                <img src="assets/img/mountains-bg.png" alt="" class="img-fluid" />
            </div> -->
          </div>
          </div>

         
                    

           
         

        </div>
          </section>

          <section class="upcoming-courses-booking1 image-section">
            <div class="courses-image">
              <img src="assets/img/courses-bg.jpg" alt="" class="img-fluid" />
            </div>

            <div class="clearfix"></div>
            <p class="text-center text-ty text-blue"> </p> <p class="text-center text-ty text-blue">        
            </p>
            <div align="center" style="margin-top: 80px;"> <div class="btn1 btn-secondary rounded-pill d-inline "> Course Description </div></div>
            <p class="text-center text-ty text-blue"> </p> <p class="text-center text-ty text-blue">
              
            </p>
          </section>


        
          <section class="courses-format">
            <div class="container-padding">
                <div class="row">
                  <div class="coursewidth">
                    <div class="courses-details-info">
                      <h1 style="font-size: 28px; color:#617987;"> <b>Course format</b></h1>
                      
                     <p class="text-blue"> Classes with Dr. Kumar : Every <i><b>Monday, Wednesday & Friday.</b></i></p>
                     <p class="text-blue"> Class time : <i><b>Streamed live starting at 5am Indian time.</b></i> </p>
                     <p class="text-blue"> Class duration: <i><b> Minimum 3hrs. </b></i></p>
                     <p class="text-blue"> No fixed duration, varys in length each day. </p>

                    </div>
                   
                  </div>
                  <div class="coursewidth1">
                    <div class="border-right courses-col1">
                    <p class="text-blue">Videos will be made available post class on the course page.
                      You can watch at your convenience anytime. It is not
                      compulsory to
                      watch live, but it is
                      recommended for
                      those in time zones
                      where it is possible.</p>
                    </div>
                  </div>

                  <div class="coursewidth1">
                    <div class="border-right courses-col1">
                    <p class="text-blue">
                      It is strongly
                      recommended that
                      you watch the
                      classes live or on the
                      same day as
                      broadcast but if this
                      is not possible you
                      can complete the
                      missed portion of the
                      class on non-class
                      days.
                    </p>
                  </div>
                  </div>
                  <div class="coursewidth1">
                    <div class="border-right courses-col1 border-0">
                    <p class="text-blue">
                      A sincere student, who is willing to dedicate 4 to 5 hours every day so as to complete and assimilate the daily classes and practice sessions is suitable for this course.
                    </p>
                  </div>
                  </div>
                </div>
            </div>
          </section>

          
          <section class="foundation-courses ">
            <div class="row vertical-align" >       

              <div class="col-md-8 mt-5"  style="padding-left: 0px;">
                <div class="courses-box2">
                  <h1 style="font-size:28px"><b>Certification</b></h1>
                  <p class="text-blue">200 / 300 Hours and 500 Hours Certification (Accredited with International Yoga Alliance) </p>
                  <p class="text-blue"> Certification is optional and you are also welcomed to just attend the course for your own personal
                    learning.</p>
                    <p class="text-blue"> For those taking the certification, a Traditional Yoga 200 / 300 hr and 500 hr certificate will be issued for
                    those who maintain the Code of Discipline and who complete all the required elements of the course 
                    including assignments, plus any additional tasks and homework given by Dr. Kumar in the classes, by
                    the end of each course. </p>
                    <p class="text-blue">Traditional Yoga is a registered Yoga School with International Yoga Alliance (IYA). Therefore, the
                    certificate issued to you at the end of each course can be used to register with IYA if you wish to apply
                    for their accreditation.</p>
                    <p class="text-blue">* 500 hr Certificate is applicable to continuing students from the preceding course.</p>
                      </div> 
              </div>
              
              <div class="col-md-3">  
            
                <div _ngcontent-sof-c55="" class="courses-right-lotus"><img _ngcontent-sof-c55="" src="assets/img/right-lotus.png" alt="" class="img-fluid"></div>

              </div>

              </div> <br><br> 
              
          </section>


          <section class="courses-booking-confirm">
              <div class="container-padding">
                <div class="row">
                  <div class="col-md-4">
                    <div class="about-icons">
                      <div class="courses-booking-butter-fly  animate__animated animate__fadeInTopLeft animate__delay-3s">
                        <img src="assets/img/Dragonfly-gif.gif" alt="" class="img-fluid dragon-fly" />
                      </div>

                      <div class="courses-flower">
                        <img src="assets/img/about-right-content-flower.png" alt="" class="img-fluid"/>
                      </div>
                      
                    </div>
                  </div>

                  <div class="col-md-8">
                    <div class="booking-confrm">
                     <h1 style="font-size:28px; color: #617987;"> <b>Booking Information </b></h1>
                     <p class="text-blue"> Courses are offered for free as per ancient traditions of yoga. There is no fee associated with courses. </p>
                      <p class="text-blue">1.The aspirant is requested to fill all the fields of a course application by clicking on “Enroll Now”.<br>
                      2.The aspirant understands that they are reading and agreeing to the Code of Discipline & Joining Agreement
                      when submitting their application. <br>
                      3.Please read the Code of Discipline, to understand about the Guru, the Tradition (sampradaya) and the Lineage
                      (parampara). </p>
                      <p class="pt-2 text-blue">Experience of Aspirants with past meditation practices (from other disciplines) is not considered as
                      either eligibility or merit for approval. Rather, aspirants are mandated to read, understand and
                      assimilate the Code of Discipline in detail. </p>
                    </div>
                </div>
                </div>
                

                
              </div>
          </section>



          <section id="courses-list" class="pt-4 pb-3 " style="padding-top: 0px !important;">
            <div class="container-padding">
            <div class="courses-river-bg">
              <img src="assets/img/river-bg2.png" alt="" class="img-fluid" />

              <div class="courses-river-flower1 text-center">
                <img src="assets/img/river-flower.png" alt="flower" width="150" 
                class="img-fluid" />
                </div>
            </div>
            <div class="row row-eq-height">

            
              <div class="col-lg-7">
                <div class="courses-box2">
                  <h1 style="font-size:28px; color: #617987;"><b>Observation criteria - continuity on the course</b></h1>
                  <p class="text-blue">Be ready to unlearn and relearn with an open mind. You will be observed during
                  the first month on the following criteria in order to gain full approval. Full approval
                  will allow you to continue on the online course which you have applied for after
                  the first month: </p>

                  <p class="text-blue"> 1. Writing Gratitude Messages every week: the tradition of expressing Modana (gratitude)
                  every moment by Anumodana (expressing joy by listening to Guru) only positivity by
                  body, mind and speech, irrespective of anything and everything.
                  <p class="text-blue">2. Response to the mentor or volunteer or counsellor and compliance with suggestions
                  given by them and showing respect in gratitude to their service to the tradition and yoga
                  as a pure charity.</p>
                <p class="text-blue">3. Keeping up with the course on a day-to-day basis. </p>
                <p class="text-blue"> 4. Practising the given techniques and submitting their practice demos (through videos) for
                  correction and compliance to correction. </p>
                <p class="text-blue"> 5. Compliance to suggested modifications with respect to diet, nutritional advice, sleep and
                  important to day- to-day aspects of life. </p>
                <p class="text-blue"> 6. Any personalities with criticism, blame, being negative in approach and attitude, egoistic
                  behaviour, stubbornness, insensitivity, lies, lethargy and laziness in any way is discouraged
                  and will lead to removal from the course without any notice.</p>
                      </div> 
      
                <div class="offering-flower">
                  <img src="assets/img/offering-lotus.png" alt="" width="150px" class="img-fluid" />
                </div>
              </div>

              <div class="col-lg-5">
                  <div class="courses-booking-offerings-left ">
                   
    
                  </div>
              </div>
              
              
              </div>
      </div>
      
      
          </section>


          <section class="courses-list-block">
            <div class="courses-tails">
              <div class="container-padding pb-5">
                <div class="row pb-5">
                  <div class="col-md-3 code-of-conduct-tails">
                    <div class="list-circle">
                      <div class="list-icon">
                        <img src="assets/img/SUITABILITY.png" alt="" width="150px" class="img-fluid" />
                      </div>
                      
                    </div>
                    <div class="list-name pt-4 text-center">
                      <h1 style=" font-size:20px; color: #2d5c6b; line-height: 25px;"><b>Suitability & Ethos</b> </h1>
                    </div>
                    <div class="list-icons text-center">
                      <div data-bs-toggle="modal" data-bs-target="#exampleModalsuitability" class="btn-popup1" > <img src="assets/img/document-icon.png" alt="" width="50px" class="img-fluid" /></div>
                      <div data-bs-toggle="modal" data-bs-target="#exampleModalsuitabilityaudio" class="btn-popup1" ><img src="assets/img/audio-icon.png" alt="" width="50px" class="img-fluid" /></div>
                    </div>
                  </div>
                 

                  <div class="col-md-3 code-of-conduct-tails">
                    <div class="list-circle">
                      <div class="list-icon">
                        <img src="assets/img/GURU-SHISHYA-PARAMPARA.png" alt="" width="150px" class="img-fluid" />
                      </div>
                      
                    </div>
                    <div class="list-name pt-4 text-center">
                      <h1 style=" font-size:20px; color: #2d5c6b; line-height: 25px;"><b>Guru Shishya Parampara</b> </h1>
                    </div>
                    <div class="list-icons text-center">
                      <div data-bs-toggle="modal" data-bs-target="#exampleModalguru" class="btn-popup1" > <span>  <img src="assets/img/document-icon.png" alt="" width="50px" class="img-fluid" /></span></div>
                      <div data-bs-toggle="modal" data-bs-target="#exampleModalguruaudio" class="btn-popup1" ><span>  <img src="assets/img/audio-icon.png" alt="" width="50px" class="img-fluid" /></span></div>
                    </div>
                  </div>


                  <div class="col-md-3 code-of-conduct-tails">
                    <div class="list-circle">
                      <div class="list-icon">
                        <img src="assets/img/EXPECTATIONS-FROM-STUDENTS.png" alt="" width="150px" class="img-fluid" />
                      </div>
                      
                    </div>
                    <div class="list-name pt-4 text-center">
                      <h1 style=" font-size:20px; color: #2d5c6b; line-height: 25px;"><b>Expectations from Students</b> </h1>
                    </div>
                    <div class="list-icons text-center">
                      <div data-bs-toggle="modal" data-bs-target="#exampleModalexpectations" class="btn-popup1"> <span>  <img src="assets/img/document-icon.png" alt="" width="50px" class="img-fluid" /></span> </div>
                      <div data-bs-toggle="modal" data-bs-target="#exampleModalexpectationsaudio" class="btn-popup1"> <span>  <img src="assets/img/audio-icon.png" alt="" width="50px" class="img-fluid" /></span></div>
                    </div>
                  </div>


                  <div class="col-md-3 code-of-conduct-tails">
                    <div class="list-circle">
                      <div class="list-icon">
                        <img src="assets/img/CODE-DISCIPLINE.png" alt="" width="150px" class="img-fluid" />
                      </div>
                      
                    </div>
                    <div class="list-name pt-4 text-center">
                      <h1 style=" font-size:20px; color: #2d5c6b; line-height: 25px;"><b>Code of Discipline</b> </h1>
                    </div>
                    <div class="list-icons text-center">
                      <div data-bs-toggle="modal" data-bs-target="#exampleModalcode" class="btn-popup1" ><span>  <img src="assets/img/document-icon.png" alt="" width="50px" class="img-fluid" /></span></div>
                      <div data-bs-toggle="modal" data-bs-target="#exampleModalcodevideo" class="btn-popup1" > <span>  <img src="assets/img/video-icon.png" alt="" width="50px" class="img-fluid" /></span></div>
                    </div>
                  </div>

                  
                </div>
              </div>
              <div class="enrole-buttons">
                <a routerLink="/faqs"><div class="btn1 btn-secondary rounded-pill d-inline "> FAQ's</div></a> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 
                <div class="btn2 btn-secondary rounded-pill d-inline"><a href="http://15.207.166.2:8080/ty/#/student/studentEnrollment">Enroll Now</a></div>
                <div class="enrollclass"><input type="checkbox" class="checkbox1"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<p class="text-white" style="display: inline; font-size: 18px;">I read and understood the Code of Discipline & Joining Agreement</p></div> </div>
              
              <div class="coursecontact-lotus-flower" >
                <img src="assets/img/donations-footer-left.png" class="img-fluid" width="350"/>
              </div>
            </div>
          </section>

        
<!-- <section class="mumuksha-block-section">
      <div id="" class="pb-0 pt-0" style=" position: relative;">
      <div class="" data-aos="fade-left">
        <div class="mumuksha-msg-circle">
        <div class="mumuksha-msg-circle2">
          <div class="mumuksha-msg-quote text-white">
            <h2>MUMUKSHA</h2>
              <p>The burning desire to become enlightened. The realisation of Allah, the Holy Spirit, Paramatma, requires perseverance in spiritual progress.</p>
  
              <p class=""> - Dr. A L V Kumar </p>
          </div>
      </div>
    </div>
  
  </div>
  
  <div class="contact-lotus-flower" >
    <img src="assets/img/donations-footer-left.png" class="img-fluid" width="350"/>
  </div>
  
  </div>

</section> -->
   <!-- ======= Contact Section ======= -->
   <!-- <section id="contact" class="contact" > -->
    <!-- <div class="bottom-line">
      <img src="../../../assets/img/bottom-line.png" />
    </div> -->

    <!-- <div class="container" > -->

      <!-- <div class="section-title">
        <h2>Contact</h2>
        <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>
      </div> -->
      <!-- <div class="contact-lotus">
        <img src="assets/img/contact-lotus-left.png" width="200" alt="" class="img-fluid"/>
      </div> -->

      <!-- <div class="row" data-aos="fade-up">
        

        <div class="col-md-4 ">
          <h4 class="text-black"><b>GET IN TOUCH </b></h4>
          <p class="text-black">Fill the form with your query <br>
            or questions to reach us out</p>

        </div>

        <div class="col-md-8 mt-4 mt-lg-0 text-black">
          <form action="forms/contact.php" method="post" role="form" class="php-email-form w-100" data-aos="fade-up">
            
            <div class="form-group mt-3 d-flex">
              <span class="input-name"> Name&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
              <input type="text" name="name" class="form-control" id="name" placeholder=" Name" required>
            </div>

            <div class="form-group mt-3 d-flex">
              <span class="input-name"> Email&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
              <input type="email" name="name" class="form-control" id="name" placeholder=" Email" required>
            </div>


              <div class="row mt-3 d-flex">
                
                <div class="col-md-6 form-group d-flex">
                  <span class="input-name"> Phone&nbsp;&nbsp;&nbsp;&nbsp;</span>
                  <input type="text" name="name" class="form-control" id="name" placeholder="Phone No" required>
                </div>
                <div class="col-md-6 form-group mt-3 mt-md-0 d-flex">
                  <span class="input-name"> Country</span>
                  <input type="email" class="form-control" name="email" id="email" placeholder="Country" required>
                </div>
              </div>

            <div class="form-group mt-3 d-flex">
              <span class="input-name"> Query&nbsp;&nbsp;&nbsp;&nbsp;</span>
              <textarea class="form-control" name="message" rows="5" placeholder="Query" required></textarea>
            </div>
            <div class="my-3 d-flex">
             
              <div class="loading">Loading</div>
              <div class="error-message"></div>
              <div class="sent-message">Your message has been sent. Thank you!</div>
            </div>
            <div class="" style="margin-left: 4.5rem">
              <div type="submit" class="btn btn-secondary rounded-pill btn-sm btn-knowmore">Submit</div>
            </div>
          </form>
        </div>

      </div> -->
      
    <!-- </div> -->
  <!-- </section> -->
  <!-- End Contact Section -->


          <!-- <footer>
            <div class="container-padding">
              <div class="row" style="margin-top: 80px">
              <div class="col-md-6">
                <div class="socialmedia-icons">
                  <a href="https://www.youtube.com/channel/UC7ENvZuGXC4LV8ZkPpuNsng" target="blank"><span class="youtube"> <img src="assets/img/youtube1-icon.png" alt="youtube"/> </span></a>
                  <a href="https://www.facebook.com/TraditonalYoga/" target="blank"> <span class="fb"> <img src="assets/img/facebook1-icon.png" alt="facebook"/> </span></a>
                    <a href="https://twitter.com/Traditiona1Yoga" target="blank"><span class="twitter"> <img src="assets/img/twitter1.png" alt="twitter"/> </span></a>
                      <a href="https://www.instagram.com/traditionalyoga_us/" target="blank"> <span class="instagram"> <img src="assets/img/instagram1.png" alt="instagram"/> </span></a>
                </div>
              </div>
          
              <div class="col-md-6">
                 <p class="float-right privacy-policy text-white"> Privacy Policy</p>
              </div>
              
            </div>
            </div>
          </footer> -->
      
      
        </main>    
      
        <div class="modal fade" id="exampleModalsuitability" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="suitability">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              <div class="modal-body about">
      
                <h1 class="text-center popup-name-guruji"> <b>Suitability and Ethos</b></h1>
                
                <div class="row">
                     
                    
                  <div class="col-md-4">
                  </div>
      
                  <!-- <div class="anikumar-img-popup1">
                    <img src="assets/img/anikumar-aboutus-popup.png" alt="" class="img-fluid" />
                  </div>   -->
                  
                  <div class="butter-fly-popup-about animate__animated animate__fadeInTopLeft animate__delay-3s">
                      <img src="assets/img/Dragonfly-gif.gif" alt="" class="img-fluid dragon-fly" />
                    </div>
                  
                    <div class="suitability-flower-popup">
                      <img src="assets/img/about-right-content-flower.png" alt="" class="img-fluid">
                    </div>
                  </div>
      
      
                  <div class="row guru-popup">
                    <div class="about-popup-content">
                    <p style="color:#232323;">The course is suitable for those who are able to seriously commit to working deeply with Dr. Kumar, demonstrating the highest level of discipline, dedication and devotion to the teacher, the lineage of Yoga and the teachings. Previous experience is not a requirement.
                      This course is an opportunity for deep, holistic, and experiential learning, grounded in the purest traditions and lineages, underpinned by profound explanations of the science of body and mind. 
                      The course will be a wonderful journey for those who are seeking authentic knowledge and will be rigorous and challenging in order to make maximum progress. We welcome you to join no matter what stage you are at in your journey.
                      Suitability is based on agreement to uphold the strict code of discipline based on the Course Ethos below.
                      </p>
      
                    <h5 style="color:#232323;"><b>Course Ethos</b></h5>
      
                    <p style="color:#232323;"><b>1. Work hard without expectation/ Nishkaama Karma Yoga and Karmaphala Sanyasa Yoga:</b> The fundamental yogic principle to stay happy is to have ZERO expectation, so that anything thus given gives complete satisfaction, happiness and gratitude. Do not come with any preconceived notions of what ‘should’ be taught. If what you expect is to be taught, then why is a Guru or tradition required? 
                      This amounts to not learning. Dr. Kumar will teach what we need to become Yogis as per the traditions, not what we think we need or want. A Karma Yogi appreciates and has gratitude for everything they receive and accepts challenges smilingly.</p>
                      <p style="color:#232323;"> <b>2. Live in the present</b> with an open mind, accepting each moment of the teaching as it comes. This will enable you to get maximum benefit from the spontaneous and dynamic way in with Dr. Kumar teaches. A Guru is a clean water pipe through which the water of the teachings flow, don’t look for a set package or timetable of teaching that would block that flow, just drink the water and trust that it will nourish and purify you. Yoga is to live in this moment, accept and adapt, instead of having any expectation about this moment. Because this moment is not created by you or for you but for everyone. Like any other species, instead of questioning what is given in this moment and becoming unhappy, the best way is to accept it. </p>
                      
                        <p style="color:#232323;"> <b>3. Surrender to the Guru/ Bhakthi Yoga:</b> Surrender is your strength and protection on the path to enlightenment. Take refuge in the Guru. Don’t question or argue with the Guru mentally. Whatever is not understood just leave it be, don’t react. Learn to listen without bringing the filter of subjective interpretation based on past conditioning. Just absorb without putting an intellectual filter of preconceptions and previously learned notions. 
                      
                      In order to learn we must unlearn and relearn. As Shankaracharya says, once you have used right discernment to choose an enlightened teacher, then that is it. What the Guru teaches should not be questioned. The student is at the lotus feet of the Guru. If you trust your own perception more than the Guru’s teaching, then why go to a teacher in the first place? This is ingrained in the traditions. Respecting the authority of the Guru is central to the path and if one is not comfortable with this, the course is not for you. 
                      
                    </p><p style="color:#232323;"><b> 4. Inflammatory response is required for growth. Tarka/Vitarka:</b> A true Guru is not a pleaser or pamperer and is prepared to shake us out of our conditioning even though it is very difficult. A much easier option for a Guru is to only say what we like and avoid saying thing that we don’t like, but with this approach we would never progress.  A Guru shouts and admonishes us in order to bring deep change and clear our karma, this is sometimes called ‘tough love’. Be prepared to go out of your comfort zone. 
                      
                      The path to enlightenment takes courage, faith, resilience, and dedication. If something being taught triggers a strong emotion in you, that is an opportunity to observe the reaction and learn more about your own unconscious habit patterns. If something has triggered you (perhaps because it challenges your prior learning, perceptions, cultural values, or views) don’t create a conflict in your mind or dwell on it, just think ‘I don’t yet understand this’. Live in the present and stay open-minded. A Yogi has a 360 perspective, far greater insight and sees the subtleties of reality that we miss. If a lesson is being taught it has a purpose and a context, it is our job to understand the purpose of the lesson. 
                      
                    </p> <p style="color:#232323;"><b>5. Be patient / Sahana and Samyama:</b>If you don’t understand something be patient because learning deeply is like slow cooking, the results are nutritious and tasty. Don’t look for fast food.  If you have specific theoretical questions try to wait, you may find they are answered in another class, or you may realise that they are no longer important or necessary. 
                      
                      Stay calm and quiet and reflect on whether it is really a worthwhile practical question or just a conceptual one. If it is a valid question, you can ask a course volunteer, or if you just want to reach out and connect with a volunteer for a chat that’s fine too. 
                      
                    </p> <p style="color:#232323;"><b>6.Have humility/Aham Brahmasi:</b> Traditional yoga is a charity: The teaching and the entire course is being given freely and generously by Dr Kumar, supported by volunteers, and what is being given is immeasurable. Please do not ask for more or extra than what is freely given. 
                      
                      Please value the time of the volunteers and remember that you are a student not a customer. Please bear with any technical glitches or other course issues that arise, everyone is working very hard to ensure things go smoothly but this can never be 100% guaranteed. 
                      
                    </p> <p style="color:#232323;"><b>7. Practice with awareness/ Sati/Sadhana /Abhyasa.</b> Please approach your practice with awareness of your individual physical limits and go at a pace that is appropriate for you. Practice meditation as per the course guidelines and if you need help let a volunteer know. If you experience any insomnia let a volunteer know immediately.    
                      </p>
                    </div>
                  </div>
              </div>
            </div>
      
            </div>
          </div>
        </div>
        <div class="modal fade" id="exampleModalsuitabilityaudio" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="suitability">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              <div class="modal-body about">
      
                <h1 class="text-center popup-name-guruji"> <b>Suitability and Ethos</b></h1>
               
                
                <div class="row guru-popup">
                     
                  
                  <div class="col-md-9 center slide-border12 guru-popup-video">  
                    <video width="100%" id="video" class="videoheight"  controlsList="nodownload" oncontextmenu="return false;"
              poster="">
              <source
                src="https://traditionalyoga-app-staging.s3.ap-south-1.amazonaws.com/Guruji_videos_10052023/Suitability+%26+Course+Ethos.mp4"
                type="video/mp4" frameborder="0" canplay
                allow="accelerometer; clipboard-write; encrypted-media; gyroscope;" allowfullscreen>
            </video></div>
                        
                  <div class="butter-fly-popup-about animate__animated animate__fadeInTopLeft animate__delay-3s">
                      <img src="assets/img/Dragonfly-gif.gif" alt="" class="img-fluid dragon-fly" />
                    </div>
                  
                    <div class="audio-flower-popup1">
                      <img src="assets/img/about-right-content-flower.png" alt="" class="img-fluid">
                    </div>

                   

                  </div>   
      
                 
              </div>
            </div>
      
            </div>
          </div>
        </div>

        <div class="modal fade" id="exampleModalguru" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="Guru Shishya">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              <div class="modal-body about">
      
                <h1 class="text-center popup-name-guruji"> <b>Guru Shishya Parampara</b></h1>
                
                <div class="row">
                     
                    
                  <div class="col-md-4">
                  </div>
      
                  <!-- <div class="anikumar-img-popup1">
                    <img src="assets/img/anikumar-aboutus-popup.png" alt="" class="img-fluid" />
                  </div>   -->
                  
                  <div class="butter-fly-popup-about animate__animated animate__fadeInTopLeft animate__delay-3s">
                      <img src="assets/img/Dragonfly-gif.gif" alt="" class="img-fluid dragon-fly" />
                    </div>
                  
                    <div class="guru-flower-popup">
                      <img src="assets/img/about-right-content-flower.png" alt="" class="img-fluid">
                    </div>
                  </div>
      
      
                  <div class="row guru-popup">
                    <div class="about-popup-content">
                    <p style="color:#232323;">All courses are conducted in Purvashrama Sampradaya, the traditional system of Guru Shishya Parampara of Shrutha Sampradaya, which means the oral tradition, ‘as heard from Gurus.’ Every word spoken by Dr Kumar, honors the pure lineages which he graciously represents in absolute gratitude and reverence.</p>
      
                    <p style="color:#232323;">Students on any of the online courses are entering into a virtual ashram and should be prepared to conduct themselves with utmost caution, discipline and awareness.</p>
      
                    <p style="color:#232323;">When one enters the gates of an ashram, they must leave their intellectual baggage and prior learning at the door regardless of qualifications, experience or status, and enter in humility, as a beginner, an empty cup ready to be filled with the purest of pure teachings.</p>
      
                    <p style="color:#232323;">The path to enlightenment can only be taught by one who has achieved it. Going to such a Guru should only be undertaken if one is able to surrender one’s own perceptions and judgments and to understand that everything being taught is necessary for the goal to be achieved. What is taught comes direct from the Pool of Consciousness exactly as it should be in order for us to break out of the bondages of our conditioning.</p>
      
                    <p style="color:#232323;">In every traditional ashram in India, the student is at the lotus feet of the Guru in unquestioning devotion and surrender. The Guru is a representative of the Pool of Consciousness and a conduit to Singularity/ Holy Spirit/ Parabrahma/Paramatma/ Allah/ Non-Entropy and the way to connect is through the grace of the Guru’s teaching and voice.</p>
      
                     <p style="color:#232323;">These courses are not for those who learn from the head, approach the courses as an intellectual pursuit, or consider it their right to critically evaluate, judge or take a position of agreement or disagreement on the teachings, as one might do in other educational contexts. Neither is it correct to learn conditionally, partially or on one’s own terms. The only way to learn in such a setting is unconditionally, non-judgmentally and choicelessly, to learn from the heart not from the head, and to establish a sense of connectedness to the Guru so that what flows through him can flow through you.</p>
      
                    <p style="color:#232323;">An enlightened Guru is a super-conductor. Any positive conduct as a student under such a Guru is like planting a mango seed in fertile ground that will bear hundreds of sweet fruits, however, any negative conduct is like planting a bitter seed in fertile ground that will bear hundreds of poisonous fruit. This is the reason why the Code of Discipline & Joining Agreement is strictly enforced in any ashram in which the technologies of enlightenment are being taught, it is for the protection of the student, the protection of the community and the protection of the traditions.</p>
                    </div>
                  </div>
              </div>
            </div>
      
            </div>
          </div>
        </div>
        <div class="modal fade" id="exampleModalguruaudio" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="suitability">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              <div class="modal-body about">
      
                <h1 class="text-center popup-name-guruji"> <b>Guru Shishya Parampara</b></h1>
               
                
                <div class="row guru-popup">
                     
                  <div class="col-md-9 center slide-border12 guru-popup-video">  
                    <video width="100%" id="video" class="videoheight"  controlsList="nodownload" oncontextmenu="return false;"
              poster="">
              <source
                src="https://traditionalyoga-app-staging.s3.ap-south-1.amazonaws.com/Guruji_videos_10052023/Guru-Shishya+Parampara.mp4"
                type="video/mp4" frameborder="0" canplay
                allow="accelerometer; clipboard-write; encrypted-media; gyroscope;" allowfullscreen>
            </video></div>
                        
                  <div class="butter-fly-popup-about animate__animated animate__fadeInTopLeft animate__delay-3s">
                      <img src="assets/img/Dragonfly-gif.gif" alt="" class="img-fluid dragon-fly" />
                    </div>
                  
                    <div class="audio-flower-popup1">
                      <img src="assets/img/about-right-content-flower.png" alt="" class="img-fluid">
                    </div>
                  </div>   
      
                 
              </div>
            </div>
      
            </div>
          </div>
        </div>


        <div class="modal fade" id="exampleModalexpectations" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="suitability">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              <div class="modal-body about">
      
                <h1 class="text-center popup-name-guruji"> <b>Expectations from Students </b></h1>
                
                <div class="row">
                     
                    
                  <div class="col-md-4">
                  </div>
      
                  <!-- <div class="anikumar-img-popup1">
                    <img src="assets/img/anikumar-aboutus-popup.png" alt="" class="img-fluid" />
                  </div>   -->
                  
                  <div class="butter-fly-popup-about animate__animated animate__fadeInTopLeft animate__delay-3s">
                      <img src="assets/img/Dragonfly-gif.gif" alt="" class="img-fluid dragon-fly" />
                    </div>
                  
                    <div class="suitability-flower-popup">
                      <img src="assets/img/about-right-content-flower.png" alt="" class="img-fluid">
                    </div>
                  </div>
      
      
                  <div class="row guru-popup">
                    <div class="about-popup-content">
                    <p style="color:#232323;">As a student, what is important is to have the right intention, the right attitude and the right devotion in order to benefit from this rare and precious opportunity. The teachings of Yoga do not exist without enlightened teachers to convey them and the student-teacher relationship (Sanskrit: Guru Shishya Parampada) is everything. Even though the course is online this is still very relevant as consciousness has no barriers. 
                      </p><p style="color:#232323;">The attitude of a student is of paramount importance when taking a course of this nature. This is for your own benefit and in respect for the Guru and great lineage of enlightened teachers who have preserved these teachings.
                      </p><p style="color:#232323;">These courses are for those aspiring to follow the highest path of Yoga, who wish to make a soul journey under the expert guidance of an accomplished and fully enlightened Guru. The aim is to become completely selfless, thereby liberating the soul from the ego. 
                      </p><p style="color:#232323;">To become a student of such a teacher is a great privilege and an incredibly rare opportunity, the criteria to join is not payment, but suitability based on the attributes of a student outlined by the great Indian Saints and Gurus of the Yoga tradition.
                      </p><p style="color:#232323;">The opportunity is to learn Yoga within its authentic Indian cultural context.  In the Indian system a Guru teaches not just techniques but guides one on every single aspect of life, teaching us how to live in purity for the perfect health and happiness of the individual and for the rebalancing society as a whole.
                      </p><p style="color:#232323;"> Although courses last a few months, the tradition of going to learn with a Guru is to find a guide for a lifetime because this journey is not easy or immediate. Deep transformation takes dedication, perseverance and a burning desire to pursue the path. As long as Dr. Kumar is willing to teach, students who uphold the code of conduct can continue their journey with him on an ongoing basis.
                      </p><p style="color:#232323;">The courses follow the strict ethos of the lineages and traditions of the noble ones, the Yogis. This is in order to uphold the sanctity, purity and undiluted teachings of those Yogis who selflessly sacrificed their secrets of practice and path, in absolute trust, in order to benefit their devoted students.
                      </p><p style="color:#232323;">What will be taught is the highest science given by enlightened Yogis, not by those who are still seekers or teachers at the stage of exploring mind and body having not yet attained full liberation. The course will teach the pure technique of Self Realisation (Sanskrit: Siddhantha Vicharana / Vidya Paddhathi) as practiced and realised by every Yogi and Saint in India for thousands of years, such as the great Nachiketa, Brigu, Yagnavalkya, Vasista, Vyasa, Krishna, Buddha, Patanjali, Adi Shankara, Jesus, Guru Nanak, Mohammad Prophet.
                       
                      </p><p style="color:#232323;">The following are the expected qualities of a student (Shadguna) as given by Adi Shankaracharya and other important points.
                       </p>
                       <ul>
                          <li>Damamu: Not becoming distracted</li>
                            <li>Shamamu: The ability to focus</li>
                            <li>Uparathi: The ability to sustain concentration</li>
                            <li> Titiksha: The ability to avoid reacting</li>
                            <li> Shraddha: Total surrender, self-motivation, devotion and interest</li>
                            <li>Samadhana or Gratitude:  The development of humility, ego-lessness and selflessness</li>
                            <li>Also, Mumuksha: The burning desire to become enlightened. The realisation of Allah, the Holy Spirit, Paramatma, requires perseverance in spiritual progress.                    
                          </li>

                       </ul>
                    </div>
                  </div>
              </div>
            </div>
      
            </div>
          </div>
        </div>
        <div class="modal fade" id="exampleModalexpectationsaudio" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="suitability">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              <div class="modal-body about">
      
                <h1 class="text-center popup-name-guruji"> <b>Expectations from Students</b></h1>
               
                
                <div class="row guru-popup">
                     
                       
                  <div class="col-md-9 center slide-border12 guru-popup-video">  
                    <video width="100%" id="video" class="videoheight"  controlsList="nodownload" oncontextmenu="return false;"
              poster="">
              <source
                src="https://traditionalyoga-app-staging.s3.ap-south-1.amazonaws.com/Guruji_videos_10052023/Expectations.mp4"
                type="video/mp4" frameborder="0" canplay
                allow="accelerometer; clipboard-write; encrypted-media; gyroscope;" allowfullscreen>
            </video></div>
                        
                  <div class="butter-fly-popup-about animate__animated animate__fadeInTopLeft animate__delay-3s">
                      <img src="assets/img/Dragonfly-gif.gif" alt="" class="img-fluid dragon-fly" />
                    </div>
                  
                    <div class="audio-flower-popup1">
                      <img src="assets/img/about-right-content-flower.png" alt="" class="img-fluid">
                    </div>
                  </div>   
      
                 
              </div>
            </div>
      
            </div>
          </div>
        </div>



        <div class="modal fade" id="exampleModalcode" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="Guru Shishya">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              <div class="modal-body about center" style="padding: 50px">
      
                <embed src="assets/img/Code of discipline and joining agreement.pdf" type="application/pdf" width="100%" height="600px" />
                
                <div class="row">
                     
                    
                  <div class="col-md-4">
                  </div>
      
                  <!-- <div class="anikumar-img-popup1">
                    <img src="assets/img/anikumar-aboutus-popup.png" alt="" class="img-fluid" />
                  </div>   -->
                  
                  <div class="butter-fly-popup-about animate__animated animate__fadeInTopLeft animate__delay-3s">
                      <img src="assets/img/Dragonfly-gif.gif" alt="" class="img-fluid dragon-fly" />
                    </div>
                  
                    <div class="guru-flower-popup">
                      <img src="assets/img/about-right-content-flower.png" alt="" class="img-fluid">
                    </div>
                  </div>    
      
                  
              </div>
            </div>
      
            </div>
          </div>
        </div>
        <div class="modal fade" id="exampleModalcodevideo" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="suitability">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              <div class="modal-body about">
      
                <h1 class="text-center popup-name-guruji"> <b>Code of Discipline</b></h1>
               
                
                <div class="row guru-popup">
                     
                  <div class="col-md-9 center slide-border12 guru-popup-video">  
                    <video width="100%" id="video" class="videoheight" controlsList="nodownload" oncontextmenu="return false;"
                    poster="assets/img/video.png">
                    <source
                      src="https://traditionalyoga-app-staging.s3.ap-south-1.amazonaws.com/Testimonial_videos140423/17042023/Traditional_yoga_v11.mp4"
                      type="video/mp4" frameborder="0" canplay
                      allow="accelerometer; clipboard-write; encrypted-media; gyroscope;" allowfullscreen>
                  </video></div>
                        
                  <div class="butter-fly-popup-about animate__animated animate__fadeInTopLeft animate__delay-3s">
                      <img src="assets/img/Dragonfly-gif.gif" alt="" class="img-fluid dragon-fly" />
                    </div>
                  
                    <div class="audio-flower-popup1">
                      <img src="assets/img/about-right-content-flower.png" alt="" class="img-fluid">
                    </div>
                  </div>   
      
                 
              </div>
            </div>
      
            </div>
          </div>
        </div>

          
        <div class="back-to-top d-flex align-items-center justify-content-center"  *ngIf="isShow" (click)="gotoTop()">
          <i class="bi bi-arrow-up-short"></i>
        </div>


  
</body>

<script>
  $(document).on('ready', function() {
      $('.mobile-nav-toggle').click(function(e){
        $('.mobile-nav-toggle').toggleClass("bi-x");
        $("#navbar").toggleClass("navbar-mobile");
        e.preventDefault();
      });
    });
</script>


