
<body class="courses-bg"> 

    <!-- ======= Header ======= -->
    
    <!-- ======= Header ======= -->
    <header id="header">
      <div class="lotus-top animate__animated animate__backInRight animate__delay-1s">
        <img src="assets/img/lotus-top.png" alt="" class="img-fluid flower-top"/>
      </div>
       <div class="butter-fly animate__animated animate__fadeInTopLeft animate__delay-3s">
        <img src="assets/img/Dragonfly-gif.gif" alt="" class="img-fluid dragon-fly" />
      </div>
      <div class="container d-flex align-items-center justify-content-between">
  
        <!-- <div class="logo">
          <h1><a href="index.html">Bocor<span>.</span></a></h1>
          Uncomment below if you prefer to use an image logo
          <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>
        </div> -->
        <div class="menu-line animate__animated animate__fadeInTopLeft animate__delay-4s" routerLink="/"> 
          <img src="assets/img/menu-line.png" alt="" width="60%" />
        </div>
        
        <nav id="navbar" class="navbar">
          <ul>
            <li><a class="nav-link scrollto" routerLink="/aboutUs"> <i class="fa fa-caret-right" ></i> About Us</a></li>
          <li><a class="nav-link scrollto active" routerLink="/upComingCourses"> <i class="fa fa-caret-right" ></i> Upcoming Courses</a></li>
          <li><a class="nav-link scrollto" routerLink="/faqs"> <i class="fa fa-caret-right" ></i> FAQ's</a></li>
          <li><a class="nav-link scrollto" routerLink="/offerings"> <i class="fa fa-caret-right" ></i> Our Offerings</a></li>
          <li><a class="nav-link scrollto" routerLink="/donations"> <i class="fa fa-caret-right" ></i> Donate</a></li>
          <li><a class="nav-link scrollto" routerLink="/vedic-neutraceuticles">  <i class="fa fa-caret-right" ></i> Vedic Neutraceuticals</a></li>
          <li><a class="nav-link scrollto" routerLink="/gallery">  <i class="fa fa-caret-right" ></i> Gallery</a></li>
            <!-- <li class="dropdown"><a href="#"><span>Drop Down</span> <i class="bi bi-chevron-down"></i></a>
              <ul>
                <li><a href="#">Drop Down 1</a></li>
                <li class="dropdown"><a href="#"><span>Deep Drop Down</span> <i class="bi bi-chevron-right"></i></a>
                  <ul>
                    <li><a href="#">Deep Drop Down 1</a></li>
                    <li><a href="#">Deep Drop Down 2</a></li>
                    <li><a href="#">Deep Drop Down 3</a></li>
                    <li><a href="#">Deep Drop Down 4</a></li>
                    <li><a href="#">Deep Drop Down 5</a></li>
                  </ul>
                </li>
                <li><a href="#">Drop Down 2</a></li>
                <li><a href="#">Drop Down 3</a></li>
                <li><a href="#">Drop Down 4</a></li>
              </ul>
            </li> -->
            <!-- <li><a class="nav-link scrollto" href="#contact">Contact</a></li> -->
          </ul>
          <a routerLink="/"  style="padding: 0px;"> <img src="assets/img/ty-icon-reverse.png" alt="" width="30" /> &nbsp; &nbsp; </a>
          <i class="text-ty animate__animated animate__bounceInDown animate__delay-1s bi bi-list mobile-nav-toggle"> 
            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; </i> 
          <div class="text-ty menu-name animate__animated animate__bounceInDown animate__delay-1s">
          <span class="text-ty"> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;   Upcoming Courses </span>
          </div>
        </nav><!-- .navbar -->
  
      </div>
      <div class="clearfix "></div>
  
  
    </header><!-- End Header -->
  
    <section id="logo-section" class="upcoming-courses-padding">
      <div class="login-box">
      <div class="login-icon text-center animate__animated animate__backInRight animate__delay-2s" >
        <img src="assets/img/login-icon-vedic.png" alt="" class="img-fluid  animate__animated animate__backInRight animate__delay-2s" />
        <span class="text-ty font-weight-bold "> Login </span> 
        
      </div> 
    </div>
    
    <div class="login-line animate__animated animate__backInRight animate__delay-3s">
      <img src="assets/img/login-curve.png" alt="" width="90%" />
    </div>
      <!-- <div class="lotus-left">
        <img src="assets/img/lotus-left.png" alt="" class="img-fluid flower-left" />
      </div>      -->
      
      <div class=" text-center pt-3">
           <h1 class="pt-5"> Upcoming Courses</h1>
      </div>
      <!-- <div class="logo text-center">
        <a href="index.html"><img src="assets/img/ty-logo.png"  alt="" class="img-fluid"></a>
      </div> -->
  
  
       </section>

       <main id="main">
    

        <section id="upcoming-courses-section" class="pt-0">
            <div class="container-padding">
          
      
              <!-- <div class="about-flower">
                <img src="assets/img/about-right-content-flower.png" alt="" class="img-fluid"/>
              </div>
              <div class="about-butter-fly animate__animated animate__fadeInTopLeft animate__delay-3s">
                <img src="assets/img/courses-butterfly.png" alt="" class="img-fluid dragon-fly" />
              </div> -->
      
            <div class=" about-us-ty upcoming-courses-booking">
              <div class="upcoming-courses-booking-content ">
                <div class="row">
                  <div class="col-md-12">
                    
                    <div class="image-section">
                      <div class="courses-image">
                        <img src="assets/img/courses-bg.jpg" alt="" class="img-fluid" />
                      </div>

                      <div class="clearfix"></div>
                      <p class="text-center text-ty text-blue"> Course related information </p>

                    </div>
                   <div align="center"> <div class="btn btn-secondary rounded-pill btn-sm btn-knowmore"> Course Description </div></div>
                  </div>
                 
                </div>
                <div class="clearfix"></div> <br>
                
              
              <!-- <div class="align-items-center">
                <img src="assets/img/mountains-bg.png" alt="" class="img-fluid" />
            </div> -->
          </div>
          </div>
        </div>
          </section>

        
          <section class="courses-format">
            <div class="container-padding">
                <div class="row">
                  <div class="col-lg-4">
                    <div class="courses-details-info">
                      <h1 class="pb-3" style="font-size: 28px; color:#617987;"> Course format</h1>
                      
                     <p class="text-blue"> Classes with Dr. Kumar : Every <i><b>Monday, Wednesday and Friday.</b></i></p>
                     <p class="text-blue"> Class time : <i><b>Streamed live starting at 5am Indian time.</b></i> </p>
                     <p class="text-blue"> Class duration: <i><b> Minimum 3hrs. </b></i></p>
                     <p class="text-blue"> No fixed duration, varys in length each day. </p>

                    </div>
                    <p class="p-2 text-blue" > Videos will be made available post class on the course page.
You can watch at your convenience anytime. </p>
                  </div>
                  <div class="col-lg-2">
                    <div class="border-right courses-col1">
                    <p class="text-blue text-bold"> It is not
                      compulsory to
                      watch live, but it is
                      recommended for
                      those in time zones
                      where it is possible.</p>
                    </div>
                  </div>

                  <div class="col-lg-3">
                    <div class="border-right courses-col1">
                    <p class="text-blue">
                      It is strongly
                      recommended that
                      you watch the
                      classes live or on the
                      same day as
                      broadcast but if this
                      is not possible you
                      can complete the
                      missed portion of the
                      class on non-class
                      days.
                    </p>
                  </div>
                  </div>
                  <div class="col-lg-3">
                    <div class="border-right courses-col1 border-0">
                    <p class="text-blue">
                      A sincere student, who
                      is willing to dedicate 4
                      to 5 hours every day
                      so as to complete and
                      assimilate the daily
                      classes and practice
                      sessions is suitable for
                      this course.
                    </p>
                  </div>
                  </div>
                </div>
            </div>
          </section>

          
          <section class="foundation-courses ">
            <div class="row vertical-align" >       

              <div class="col-md-8 mt-5">
                <div class="courses-box2">
                  <h1 style="font-size:24px"><b>Certification</b></h1>
                  <p class="text-blue text-bold">200 Hours and 500 Hours Certification (Accredited with International Yoga Alliance) </p>
                  <p class="text-blue"> Certification is optional and you are also welcomed to just attend the course for your own personal
                    learning.</p>
                    <p class="text-blue"> For those taking the certification, a Traditional Yoga 200 hr and 500 hr certificate will be issued for
                    those who maintain the Code of Discipline and who complete all the required elements of the course 
                    including assignments, plus any additional tasks and homework given by Dr. Kumar in the classes, by
                    the end of each course. </p>
                    <p class="text-blue">Traditional Yoga is a registered Yoga School with International Yoga Alliance (IYA). Therefore, the
                    certificate issued to you at the end of each course can be used to register with IYA if you wish to apply
                    for their accreditation.</p>
                      </div> 
              </div>
              
              <div class="col-md-3">  
            
                <div _ngcontent-sof-c55="" class="courses-right-lotus"><img _ngcontent-sof-c55="" src="assets/img/right-lotus.png" alt="" class="img-fluid"></div>

              </div>

              </div> <br><br> 
              
          </section>


          <section class="courses-booking-confirm">
              <div class="container-padding">
                <div class="row">
                  <div class="col-md-4">
                    <div class="about-icons">
                      <div class="courses-booking-butter-fly  animate__animated animate__fadeInTopLeft animate__delay-3s">
                        <img src="assets/img/Dragonfly-gif.gif" alt="" class="img-fluid dragon-fly" />
                      </div>

                      <div class="courses-flower">
                        <img src="assets/img/about-right-content-flower.png" alt="" class="img-fluid"/>
                      </div>
                      
                    </div>
                  </div>

                  <div class="col-md-8">
                    <div class="booking-confrm">
                     <h1 style="font-size:24px; color: #617987;"> Booking Information </h1>
                     <p class="text-blue text-bold"> Courses are offered for free as per ancient traditions of yoga. There is no fee associated with courses. </p>
                      <p class="text-blue">1.The aspirant is requested to fill all the fields of a course application by clicking on “Enroll Now”.<br>
                      2.The aspirant understands that they are reading and agreeing to the Code of Discipline & Joining Agreement
                      when submitting their application. <br>
                      3.Please read the Code of Discipline, to understand about the Guru, the Tradition (sampradaya) and the Lineage
                      (parampara). </p>
                      <p class="pt-2 text-blue text-bold">Experience of Aspirants with past meditation practices (from other disciplines) is not considered as
                      either eligibility or merit for approval. Rather, aspirants are mandated to read, understand and
                      assimilate the Code of Discipline in detail. </p>
                    </div>
                </div>
                </div>
                

                
              </div>
          </section>



          <section id="courses-list" class="pt-4 pb-3 ">
            <div class="container-padding">
            <div class="courses-river-bg">
              <img src="assets/img/river-bg2.png" alt="" class="img-fluid" />

              <div class="courses-river-flower1 text-center">
                <img src="assets/img/river-flower.png" alt="flower" width="150" 
                class="img-fluid" />
                </div>
            </div>
            <div class="row row-eq-height">

            
              <div class="col-lg-7">
                <div class="courses-box2">
                  <h1 style="font-size:24px; color: #617987;"><b>Certification</b></h1>
                  <p class="text-blue">Be ready to unlearn and relearn with an open mind. You will be observed during
                  the first month on the following criteria in order to gain full approval. Full approval
                  will allow you to continue on the online course which you have applied for after
                  the first month: </p>

                  <p class="text-blue"> 1. Writing Gratitude Messages every week: the tradition of expressing Modana (gratitude)
                  every moment by Anumodana (expressing joy by listening to Guru) only positivity by
                  body, mind and speech, irrespective of anything and everything.
                  <p class="text-blue">2. Response to the mentor or volunteer or counsellor and compliance with suggestions
                  given by them and showing respect in gratitude to their service to the tradition and yoga
                  as a pure charity.</p>
                <p class="text-blue">3. Keeping up with the course on a day-to-day basis. </p>
                <p class="text-blue"> 4. Practising the given techniques and submitting their practice demos (through videos) for
                  correction and compliance to correction. </p>
                <p class="text-blue"> 5. Compliance to suggested modifications with respect to diet, nutritional advice, sleep and
                  important to day- to-day aspects of life. </p>
                <p class="text-blue text-bold"> 6. Any personalities with criticism, blame, being negative in approach and attitude, egoistic
                  behaviour, stubbornness, insensitivity, lies, lethargy and laziness in any way is discouraged
                  and will lead to removal from the course without any notice.</p>
                      </div> 
      
                <div class="offering-flower">
                  <img src="assets/img/offering-lotus.png" alt="" width="150px" class="img-fluid" />
                </div>
              </div>

              <div class="col-lg-5">
                  <div class="courses-booking-offerings-left ">
                   
    
                  </div>
              </div>
              
              
              </div>
      </div>
      
      
          </section>


          <section class="courses-list-block">
            <div class="courses-tails">
              <div class="container-padding pb-5">
                <div class="row pb-5">
                  <div class="col-md-3 code-of-conduct-tails">
                    <div class="list-circle">
                      <div class="list-icon">
                        <img src="assets/img/SUITABILITY.png" alt="" width="150px" class="img-fluid" />
                      </div>
                      
                    </div>
                    <div class="list-name pt-4 text-center">
                      <h4><b>SUITABILITY </b> </h4>
                    </div>
                    <div class="list-icons text-center">
                      <span>  <img src="assets/img/document-icon.png" alt="" width="50px" class="img-fluid" /></span> &nbsp; &nbsp; &nbsp;
                      <span>  <img src="assets/img/audio-icon.png" alt="" width="50px" class="img-fluid" /></span>
                    </div>
                  </div>


                  <div class="col-md-3 code-of-conduct-tails">
                    <div class="list-circle">
                      <div class="list-icon">
                        <img src="assets/img/GURU-SHISHYA-PARAMPARA.png" alt="" width="150px" class="img-fluid" />
                      </div>
                      
                    </div>
                    <div class="list-name pt-4 text-center">
                      <h4><b>GURU SHISHYA PARAMPARA </b> </h4>
                    </div>
                    <div class="list-icons text-center">
                      <span>  <img src="assets/img/document-icon.png" alt="" width="50px" class="img-fluid" /></span> &nbsp; &nbsp; &nbsp;
                      <span>  <img src="assets/img/audio-icon.png" alt="" width="50px" class="img-fluid" /></span>
                    </div>
                  </div>


                  <div class="col-md-3 code-of-conduct-tails">
                    <div class="list-circle">
                      <div class="list-icon">
                        <img src="assets/img/EXPECTATIONS-FROM-STUDENTS.png" alt="" width="150px" class="img-fluid" />
                      </div>
                      
                    </div>
                    <div class="list-name pt-4 text-center">
                      <h4><b>EXPECTATIONS FROM STUDENTS </b> </h4>
                    </div>
                    <div class="list-icons text-center">
                      <span>  <img src="assets/img/document-icon.png" alt="" width="50px" class="img-fluid" /></span> &nbsp; &nbsp; &nbsp;
                      <span>  <img src="assets/img/audio-icon.png" alt="" width="50px" class="img-fluid" /></span>
                    </div>
                  </div>


                  <div class="col-md-3 code-of-conduct-tails">
                    <div class="list-circle">
                      <div class="list-icon">
                        <img src="assets/img/CODE-DISCIPLINE.png" alt="" width="150px" class="img-fluid" />
                      </div>
                      
                    </div>
                    <div class="list-name pt-4 text-center">
                      <h4><b> CODE OF DISCIPLINE </b> </h4>
                    </div>
                    <div class="list-icons text-center">
                      <span>  <img src="assets/img/document-icon.png" alt="" width="50px" class="img-fluid" /></span> &nbsp; &nbsp; &nbsp;
                      <span>  <img src="assets/img/audio-icon.png" alt="" width="50px" class="img-fluid" /></span>
                    </div>
                  </div>

                  
                </div>
              </div>
              <div class="enrole-buttons text-center pt-5">
                <div class="btn btn-secondary rounded-pill d-inline "> FAQ's</div> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 
                <div class="btn btn-light rounded-pill d-inline"> Enro Now</div>
              </div>

            </div>
          </section>

        

      <div id="" class="pb-0 pt-0" style=" position: relative;">
      <div class="" data-aos="fade-left">
        <div class="mumuksha-msg-circle">
        <div class="mumuksha-msg-circle2">
          <div class="mumuksha-msg-quote text-white">
            <h2>MUMUKSHA</h2>
              <p>The burning desire to beome enlightened. The realisation of Allah, the Holy Spirit, Paramatma, requires perseverance in spiritual progress.</p>
  
              <p class=""> - Dr. A L V Kumar </p>
          </div>
      </div>
    </div>
  
  </div>
  
  <div class="contact-lotus-flower" >
    <img src="assets/img/donations-footer-left.png" class="img-fluid" width="350"/>
  </div>
  
  </div>


   <!-- ======= Contact Section ======= -->
   <section id="contact" class="contact" >
    <!-- <div class="bottom-line">
      <img src="../../../assets/img/bottom-line.png" />
    </div> -->

    <div class="container" >

      <!-- <div class="section-title">
        <h2>Contact</h2>
        <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>
      </div> -->
      <!-- <div class="contact-lotus">
        <img src="assets/img/contact-lotus-left.png" width="200" alt="" class="img-fluid"/>
      </div> -->

      <div class="row" data-aos="fade-up">
        

        <div class="col-md-4 ">
          <h4><b>GET IN TOUCH </b></h4>
          <p>Fill the form with your query <br>
            or questions to reach us out</p>

        </div>

        <div class="col-md-8 mt-4 mt-lg-0 text-black">
          <form action="forms/contact.php" method="post" role="form" class="php-email-form w-100" data-aos="fade-up">
            
            <div class="form-group mt-3 d-flex">
              <span class="input-name"> Name&nbsp;</span>
              <input type="text" name="name" class="form-control" id="name" placeholder=" Name" required>
            </div>

            <div class="form-group mt-3 d-flex">
              <span class="input-name"> Email&nbsp;&nbsp;</span>
              <input type="email" name="name" class="form-control" id="name" placeholder=" Email" required>
            </div>


              <div class="row mt-3 d-flex">
                
                <div class="col-md-6 form-group d-flex">
                  <span class="input-name"> Phone</span>
                  <input type="text" name="name" class="form-control" id="name" placeholder="Phone No" required>
                </div>
                <div class="col-md-6 form-group mt-3 mt-md-0 d-flex">
                  <span class="input-name" style="font-size:14px ;"> Country&nbsp;</span>
                  <input type="email" class="form-control" name="email" id="email" placeholder="Country" required>
                </div>
              </div>

            <div class="form-group mt-3 d-flex">
              <span class="input-name"> Query</span>
              <textarea class="form-control" name="message" rows="5" placeholder="Query" required></textarea>
            </div>
            <div class="my-3 d-flex">
             
              <div class="loading">Loading</div>
              <div class="error-message"></div>
              <div class="sent-message">Your message has been sent. Thank you!</div>
            </div>
            <div class="" style="margin-left: 4.5rem">
              <div type="submit" class="btn btn-secondary rounded-pill btn-sm btn-knowmore">Submit</div>
            </div>
          </form>
        </div>

      </div>
      
    </div>
  </section><!-- End Contact Section -->


          <footer>
            <div class="container-padding">
              <div class="row" style="margin-top: 80px">
              <div class="col-md-6">
                <div class="socialmedia-icons">
                  <a href="https://www.youtube.com/channel/UC7ENvZuGXC4LV8ZkPpuNsng" target="blank"><span class="youtube"> <img src="assets/img/youtube1-icon.png" alt="youtube"/> </span></a>
                  <a href="https://www.facebook.com/TraditonalYoga/" target="blank"> <span class="fb"> <img src="assets/img/facebook1-icon.png" alt="facebook"/> </span></a>
                    <a href="https://twitter.com/Traditiona1Yoga" target="blank"><span class="twitter"> <img src="assets/img/twitter1.png" alt="twitter"/> </span></a>
                      <a href="https://www.instagram.com/traditionalyoga_us/" target="blank"> <span class="instagram"> <img src="assets/img/instagram1.png" alt="instagram"/> </span></a>
                </div>
              </div>
          
              <div class="col-md-6">
                 <p class="float-right privacy-policy"> Privacy Policy</p>
              </div>
              
            </div>
            </div>
          </footer>
      
      
        </main>    
      

        
          
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>


  
</body>

<script>
  $(document).on('ready', function() {
      $('.mobile-nav-toggle').click(function(e){
        $('.mobile-nav-toggle').toggleClass("bi-x");
        $("#navbar").toggleClass("navbar-mobile");
        e.preventDefault();
      });
    });
</script>


