<!-- <div class="" [style.background]="'White'">
    <form #checkout="ngForm" (ngSubmit)="onSubmit(checkout)" class="checkout">
        <div class="form-row">
          <label for="card-info">Card Info</label>
          <div id="card-info" #cardInfo></div>
      
          <div id="card-errors" role="alert" *ngIf="error">{{ error }}</div>
        </div>
      
        <button type="submit">Pay $5</button>
      </form>
</div> -->

<!-- <div class="" [style.background]="'White'"> -->
<!-- <div class="modal-dialog py-4" [style.border]="'blank'"> -->
<div class="modal-content">
    <div class="about-popup">
        <button type="button" class="btn-close" aria-label="Close" (click)="close()"></button>
        <!-- <button type="button" class="btn-close" aria-label="Close" [routerLink]="'/donations#donations-circle'"></button> -->
        <div class="row">
            <div class="about-popup-content p-5">
                <form (ngSubmit)="submitDonationForm()">
                    <div class="form-group row">
                        <label for="inputAmount" class="col-sm-2 col-form-label text-right">Amount </label>
                        <div class="col-sm-10">
                            <div class="input-group">
                                <input type="number" class="form-control" id="inputAmount" (click)="amountValue = ''"
                                    [(value)]="amountValue" placeholder="Enter the Amount in Rupees"
                                    aria-describedby="amountAddon">
                                <span class="input-group-text" id="amountAddon">INR</span>
                            </div>
                        </div>
                    </div>

                    <label for="card-element"> Credit or debit card </label>
                    <!-- <div #cardElement></div> -->
                    <div class="">
                        <div id="card-number-element"></div> &nbsp;
                        <small class="text-danger" *ngIf="this.errorMessage.cardNumber.isError">
                            {{errorMessage.cardNumber.messages}}
                        </small>
                        <br />
                        <div id="card-expiry-element"></div> &nbsp;
                        <small class="text-danger" *ngIf="this.errorMessage.expiryDate.isError">
                            {{errorMessage.expiryDate.messages}}
                        </small>
                        <br />
                        <div id="card-cvc-element"></div> &nbsp;
                        <small class="text-danger" *ngIf="this.errorMessage.cvv.isError">
                            {{errorMessage.cvv.messages}}
                        </small>
                    </div>
                    <button class="btn btn-secondary rounded-pill btn-sm btn-knowmore" type="submit">Donate</button>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- </div>
</div> -->